
<%# show page is restricted through correct_user %>
<div class="jumbotron">
      <h1> Edit Your VoiceGem for <em><%= @voicegem.event.title %></em> </h1>
  </div>
             <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=key%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>

<br/>
<br/>

<div class="container">



<div id="porecmodal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 id="myModalLabel"><em>VoiceGem Recording for <%= @voicegem.event.title %></em></h3>
            </div>
            
                            <div class="modal-body">
            
                              <script>
                                  function reloadPage() {
                                    document.getElementById('recorder').contentWindow.location.reload();
                                  }
                                </script>
            
                                <input type="image" src="/assets/refresh-recorder.png" onclick="reloadPage()"> 
                                
                                <iframe id="recorder" src='<%= vgtest_voicegem_path(@vg) %>' width="100%" height="230" frameborder="0" scrolling='no'  marginheight="200x" ></iframe>

                                <div class="modal-footer">
                                 <div class="right"><strong>(click 'SAVE' after you click 'UPLOAD')</strong> <button class="btn btn-primary" data-dismiss="modal">SAVE</button></div> 
                                  
                                </div>
            
                                <div class="accordion" id="accordionrec">

                                  <div class="accordion-group">
                                    <div class="accordion-heading">
                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionrec" href="#collapserec1">
                                        <h4><span class="blue">Instructions<span/></h4> 
                                      </a>
                                    </div>
                                    <div id="collapserec1" class="accordion-body collapse">
                                      <div class="accordion-inner">
                                        Note: <em>if the recorder isn't working, please ensure your browser's <strong>Javascript and Flash are enabled</strong></em> <br/><br/>
                                        <ol>
                                          <li><strong>Press 'RECORD', then click 'Allow'</strong> if asked for permission to use your computer's microphone.</li> <br/>
                                          <li> You will have 30 seconds maximum recording time. <strong>Please record your message, then immediately press 'STOP'.</strong></li> <br/>
                                          <li>Your recording will automatically play back to you:</li>
                                             <ul>
                                                 <li>If it sounds good, <strong>press 'UPLOAD.'</strong></li>  
                                                  <li>If you're not happy with it, press 'RECORD' to try again.</li>
                                              </ul>
                                          </ol> 
                                      </div>
                                    </div>
                                  </div>

                                  <div class="accordion-group">
                                    <div class="accordion-heading">
                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionrec" href="#collapserec2">
                                        <h4><span class="blue">Problems?<span/></h4>
                                      </a>
                                    </div>
                                    <div id="collapserec2" class="accordion-body collapse">
                                      <div class="accordion-inner">
                                          <h4><i class="icon-warning-sign red"></i>&nbsp;&nbsp;<a href="<%= flashissue_path %>.htm#collapseOne" target="_blank"><span class="red">I can't click 'Allow'</span></a></h4>
                                          
                                              <h5><i class="icon-wrench"></i>&nbsp;&nbsp;<a href="<%= flashissue_path %>.htm#collapseOne" target="_blank">Please click here</a></h5>
                                             <hr/>
                                          <h4 class="red"><i class="icon-warning-sign red"></i>&nbsp;&nbsp;Nothing happens when I press 'Record'</h4>
                                              <h5><i class="icon-wrench"></i>&nbsp;&nbsp;Using Chrome? If there is a small 'Allow/Deny' bar at the top of your browser, click allow and then try recording again (or refresh the page). <center><img src="<%= image_path('chrome-warn-small.png')%>"></center> Click <a href="https://support.google.com/chrome/answer/2696491?hl=en" target="_blank">here</a> for instructions on changing the advanced settings. </h5>
                                              <h5><i class="icon-wrench"></i>&nbsp;&nbsp;Please make sure a microphone is plugged in, especially if you are using a desktop computer.</h5>
                                              <h5><i class="icon-wrench"></i>&nbsp;&nbsp;Please make sure <a href="http://helpx.adobe.com/flash-player/kb/find-version-flash-player.html" target="_blank">the latest version of Adobe Flash Player is enabled</a> on your browser.</h5> 
                                              <h5><i class="icon-wrench"></i>&nbsp;&nbsp;If you have a Flash-blocker installed on your browser, please <a href="<%= flashissue_path %>.htm#collapseFive" target="_blank">temporarily disable it</a> (you may need to restart browser to disable) or try a different browser. These blockers normally do not allow microphone access.</h5> 
                                              <hr/>
                                          <h4 class="red"><i class="icon-warning-sign red"></i>&nbsp;&nbsp;I accidentally clicked 'Deny'</h4>
                                              <h5><i class="icon-wrench"></i>&nbsp;&nbsp;Please refresh this page and try again.</h5>
                                              <hr/>
                                          <h4 class="red"><i class="icon-warning-sign red"></i>&nbsp;&nbsp;My recording does not play back/sound good</h4>
                                               <h5><i class="icon-wrench"></i>&nbsp;&nbsp;If you are using Chrome on a Mac, try a different browser.</h5>
                                              <h5><i class="icon-wrench"></i>&nbsp;&nbsp;Please ensure you have a quiet environment.</h5>
                                              <h5><i class="icon-wrench"></i>&nbsp;&nbsp;Check your computer's mic settings to see that it is enabled (as well as any options such as noise-cancellation).</h5>
                                              <h5><i class="icon-wrench"></i>&nbsp;&nbsp;Check to make sure your speaker volume is up.</h5>
                                      </div>
                                    </div>
                                  </div>    

                                  <div class="accordion-group">
                                    <div class="accordion-heading">
                                      <a class="accordion-toggle"  data-parent="#accordionrec" href="<%= flashissue_path %>.htm#collapseOne" target="_blank"><h4><span class="blue">Can't click 'Allow'?</span></h4></a>
                                    </div>
                                  </div>      


                                </div>   <!-- end accordion -->    
             

                             </div> <%# End modal body %> 


</div>


                                         


<div class="row">
  <div class="span12 well">
      <h4> <span class="label label-info"><i class="icon-edit icon-white"></i></span>&nbsp;<strong>Create/Update your <em>VoiceGem</em> for <%= @voicegem.event.title %>:</strong> </h4>
      <br/>
       <%= form_for(@voicegem, :html => {:class => "form-vertical"}) do |f| %>
         <div class="span3">
          <span class="label label-info">Step 1</span> <br/>(OPTIONAL) Enter/update your notes or song request for the DJ to accompany this VoiceGem:<br/><br/>

          <span class="textarea2">
          <%= f.text_area :notes, :class => "span3" %>
     	 </span>
           <span class="help-block">(examples: "please say 'this message is on behalf of Grandma Ruth'" OR "please say 'here's an old college favorite' and then play message with Neil Diamond's Sweet Caroline")</span>
         </div>
         
         <div class="span3 offset1">
          <span class="label label-important">Step 2</span><br/>Create or change your voice-message for this event: <br/><br/>
           <a data-toggle="modal" href="#porecmodal" class="btn btn-danger btn-large">Record VoiceGem <i class="icon-caret-right icon-white"></i> </a>
         </div>
         <div class="span2 offset1">
          <span class="label label-info">Step 3</span><br/>Save any changes:<br/><br/><br/>
          <%= f.submit "Save Changes", class: "btn btn-large btn-primary", disable_with: 'saving...' %>
         </div>
         
          


      <% end %>                     
          


  </div>
</div>

            <div class="span1 offset11">
          <a href="<%= users_path%>/<%= current_user.id %>" class="btn btn-default">Cancel</a>
        </div>


</div>