<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @voicegem.user_id %>
</p>

<p>
  <b>Event:</b>
  <%= @voicegem.event_id %>
</p>

<p>
  <b>First name:</b>
  <%= @voicegem.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @voicegem.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @voicegem.email %>
</p>

<p>
  <b>Admin notes:</b>
  <%= @voicegem.admin_notes %>
</p>

<p>
  <b>Vg userinvite:</b>
  <%= @voicegem.vg_userinvite_id %>
</p>

<p>
  <b>Admin:</b>
  <%= @voicegem.admin_id %>
</p>

<p>
  <b>Token:</b>
  <%= @voicegem.token %>
</p>

<p>
  <b>Recording:</b>
  <%= @voicegem.recording %>
</p>

<p>
  <b>Request:</b>
  <%= @voicegem.request %>
</p>

<p>
  <b>Notes:</b>
  <%= @voicegem.notes %>
</p>

<p>
  <b>Hidden:</b>
  <%= @voicegem.hidden %>
</p>

<p>
  <b>Length:</b>
  <%= @voicegem.length %>
</p>


<%= link_to 'Edit', edit_voicegem_path(@voicegem) %> |
<%= link_to 'Back', voicegems_path %>
