
      <h2>VoiceGem Recording <% if !@event.nil? %><% if !@event.title.nil? %>for<em> <%= @event.title %> </em> <% end %> <% end %></h2>
      
      <% if !@event.nil? %><h3><% if !@event.nil? %><% if !@event.date.nil? %><%= @event.date.strftime("%b %d, %Y")  %> <% end %><% end %></h3><% end %>
                             

<% flash.each do |key, value| %>
    <div class="alert alert-block alert-<%=get_alert_class(key)%>"> 
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= value %> 
    </div>
<% end %>

<script type="text/javascript">
            var swfVersionStr = "10.2.0";
            var xiSwfUrlStr = "";
       
            var flashvars = {};
            flashvars.lstext="Loading...";//you can provide a translation here for the "Laoding..." text taht shows up while this file and the external language file is loaded
            flashvars.recorderId = "recorder1";//set this var if you have multiple instances of Audior on a page and you want to identify them
            flashvars.userId ="<%= @vg.to_s %>";//this variable is sent back to upload.php when the user presses the [SAVE] button
            flashvars.licenseKey = "766f69636567656d732e636faurc8be6d3f6c6f63616c686f7374aurc0c2c4bacebad1"; //licensekey variable, you get it when you purchase the software
            flashvars.sscode="php" //instructs Audior to use the PHP set of server side files (switch to sscode="aspx") to use the .NET/ASPX set of files
            flashvars.settingsFile = "<%= asset_path('Audior/audior_settings.xml') %>" //this setting instructs Audior what setting file to load. Either the static .XML or the dynamic .PHP that generates a dynamic xml.
            // flashvars.vg = "<%= @vg.to_s %>"
      
            var params = {};     
            params.quality = "high";
            params.bgcolor = "#ffffff";
            params.allowscriptaccess = "sameDomain";
            params.allowfullscreen = "true";

            var attributes = {};
            attributes.id = "Audior";
            attributes.name = "Audior";
            attributes.align = "middle";

            swfobject.embedSWF(
                "<%= asset_path('Audior/Audior.swf') %>", "flashContent", 
                "600", "140", 
                swfVersionStr, xiSwfUrlStr, 
                flashvars, params, attributes);
            swfobject.createCSS("#flashContent", "display:block;text-align:left;");
        </script>
    
    <!-- Below is the MP3Recorder JS API (Callbacks) -->
    <script>
    
      function btSaveClick(recordName,duration,recorderId){
        //this function is called when the SAVE button is released and it is called with 3 parameters: 
        //recordName: the file name of the new audio recording  including the .mp3 extension
        //recordDuration: duration of the recorded audio file in seconds but accurate to the millisecond (like this: 4.322)
        //recorderId: the recorderId sent via flash vars, to be used when there are many recorders on the same web page
        console.log("Audior.btSaveClick("+recordName+","+recordDuration+","+recorderId+")");
        document.getElementById("firstDisplay").innerHTML  = "Saving, please wait...";
      }
      
      function btDownloadClick(recorderId){
        //this function is called when the DOWNLOAD button is released 
        console.log("Audior.btDownloadClick("+recorderId+")");
        document.getElementById("firstDisplay").innerHTML  = "";
      }
      function btPlayClick(recorderId){
        //this function is called when the PLAY button is released
        console.log("Audior.btPlayClick("+recorderId+")");
        document.getElementById("firstDisplay").innerHTML  = "Press the Play button to review your VoiceGem. If you're happy, press 'Save'. Otherwise, press 'Record Again.'";
      }
      
      function btPauseClick(recorderId){
        //this function is called when the PAUSE button is released
        console.log("Audior.btPauseClick("+recorderId+")");
        document.getElementById("firstDisplay").innerHTML  = "Press the Play button to review your VoiceGem. If you're happy, press 'Save'. Otherwise, press 'Record Again.'";
      }
      
      function btStopClick(recorderId){
        //this function is called when the STOP button is released
        console.log("Audior.btStopClick("+recorderId+")");
        document.getElementById("mainbtn").disabled = true
        document.getElementById("pauseResumeRec").disabled = true
        document.getElementById("firstDisplay").innerHTML  = "Encoding, please wait...";
      }
      
      function btRecordClick(recorderId){
        //this function is called when the RECORD button is released
        console.log("Audior.btRecordClick("+recorderId+")");
        
        document.getElementById("sav").disabled = true
        document.getElementById("dwl").disabled = true
        document.getElementById("pauseResumeRec").disabled = false;
    
      }

      function btPauseRecordingClick(recorderId){
        //this function is called when the Pause Recording button is released
        console.log("Audior.btPauseRecordingClick("+recorderId+")");
        document.getElementById("mainbtn").disabled = true
        document.getElementById("firstDisplay").innerHTML  = "";
      }
      
      function btResumeRecordingClick(recorderId){
        //this function is called when the Resume Recording button is released
        console.log("Audior.btResumeRecordingClick("+recorderId+")");
        document.getElementById("mainbtn").disabled = false
        document.getElementById("firstDisplay").innerHTML  = "";
      }
      
      
      function onRecordingPlaybackStopped(recorderId){
        //the recording has stopped playing
        console.log('Audior.onRecordingPlaybackStopped('+recorderId+')')
        document.getElementById("firstDisplay").innerHTML  = "Press the Play button to review your VoiceGem. If you're happy, press 'Save'. Otherwise, press 'Record Again.'";
      }
      
      function onEncodingDone(duration, recorderId){
        //the MP3Recorder has finished the encoding of your audio data to mp3
        console.log('Audior.onEncodingDone('+duration+', '+recorderId+')')
        document.getElementById("sav").disabled = false
        document.getElementById("mainbtn").disabled = false
        document.getElementById("recAgain").disabled = false
        document.getElementById("firstDisplay").innerHTML  = "Press the Play button to review your VoiceGem. If you're happy, press 'Save'. Otherwise, press 'Record Again.'"
  
      }
      
      function onUploadDone(success, recordName, duration, recorderId){
        //the MP3Recorder has finished uploading the files to your server AND it has received a save=ok OR save=failed response from the upload script on the web server
        //success  will be true if the upload succeeded and false otherwise
        console.log('Audior.onUploadDone('+success+', '+recordName+', '+duration+', '+recorderId+')')
        document.getElementById("dwl").disabled = false
         document.getElementById("continuebtn").setAttribute("class", "col-md-6 col-md-offset-3")
        document.getElementById("firstDisplay").innerHTML  = "Click 'NEXT' below.";
  
      }
      
      function onMicAccess(allowed,recorderId){
        console.log("Audior.onMicAccess("+allowed+","+recorderId+")");
        //the user clicked Allow or Deny in the Privacy panel dialog box in Flash Player
        //when the user clicks Deny this function is called with allowed=false
        //when the user clicks Allow this function is called with allowed=true
        //this function can be called anytime during the life of the Audior instance as the user has permanent access to the Privacy panel dialog box in Flash Player
        document.getElementById("firstDisplay").innerHTML  = "";
      }
      
      function onFlashReady(recorderId){
        console.log("Audior.onFlashReady("+recorderId+")");
        //as soon as this function is called you can communicate with Audior using the JS Control API
        //Example : document.Audior.record(); will make a call to flash in order to start recording
        //recorderId: the recorderId sent via flash vars, to be used when there are many recorders on the same web page
        document.getElementById("firstDisplay").innerHTML  = "If asked for access to your microphone, click 'Allow'";
        document.getElementById("recAgain").disabled = true
        document.getElementById("sav").disabled = true
        document.getElementById("dwl").disabled = true
        document.getElementById("pauseResumeRec").disabled = true
      }
      
    </script>


<div class="container">  
<br/>
<br/>
           
<div class="alert alert-block alert-danger invisible" id="chrome">
   
    <button type="button" class="close" data-dismiss="alert">×</button>
       
            <h3 class="red"><i class="fa fa-warning"></i>&nbsp;Using Chrome?</h3> <center><h4 class="red">You will probably be asked by your browser for access to your microphone, under the address bar above (it's easy to miss):</h4></center><center><img src="<%= image_path('Allow_Box_2.png')%>"></center> </h4>

</div>  


<div class="row">
         <!-- BELOW: Chrome browser detection. Tested on Chrome, FireFox, and MSIE --> 
         <div class="col-md-8 col-md-offset-2">
          
          <script type='text/javascript'>
            var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
            if (is_chrome) {
 
              $('#chrome').attr("class","alert alert-block alert-danger");;
            }
          </script> 
          <br/>
         </div>
</div>

<div class="row">
     <div class="col-md-12">
          <center><div><h3 class="black">Please record your VoiceGem here:</h3></div></center>
     </div>
</div>

<div class="row">
    <div class="col-md-12">
     <center>
                                          <div id="flashContent">
                                              <p>
                                                  To view this page ensure that Adobe Flash Player version 
                                                  11.1.0 or greater is installed. 
                                              </p>
                                              <script type="text/javascript"> 
                                                  var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://"); 
                                                  document.write("<a href='http://www.adobe.com/go/getflashplayer'>Get Adobe Flash Player</a>" ); 
                                              </script> 
                                          </div>
                                          
                                          <noscript>
                                              You need to have JS enabled for the VoiceGem recorder to show.
                                          </noscript>   
                                 
                                         <h4 id="firstDisplay" class="red">&nbsp;</h4>

              </center>
           </div>
</div>

<div class="row">                     
    <div class="col-md-12">
     <center>                        
              <div id="continuebtn" class="invisible">
           
                    <%= link_to setpassword_path(:id => current_user.id, :event => @event, :event_code => @event_code, :vg => @vg), disable_with: 'please wait...', class: 'btn btn-primary pull-right' do %> NEXT&nbsp;<i class="fa fa-caret-right "></i>
                  <% end %>

              </div>
     </center>
    </div>  
    <br/>
    <br/>                         
</div>                      
                      
<div class="row">
      <div class="col-md-12">     
             <div class="panel-group" id="accordionrec">

                      <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionrec" href="#collapserec1">Instructions</a></h4>
                            </div><!-- END PANEL-HEADING -->


                            <div id="collapserec1" class="panel-collapse collapse">
                                <div class="panel-body">
                                      <ol>
                                            <li><strong>Press the Record button, then click 'Allow'</strong> if asked for permission to use your computer's microphone.</li> <br/>
                                            <li> You will have 30 seconds maximum recording time. <strong>Please record your VoiceGem, then press 'STOP'.</strong></li> <br/>
                                            <li>Press the Play button to review your VoiceGem.</li>
                                               <ul>
                                                   <li>If it sounds good, <strong>press 'Save.'</strong></li>  
                                                    <li>If you're not happy with it, press 'Record Again' to try again.</li>
                                                </ul>
                                    </ol> 
                                    <br/>
                                        Note: <em>if the recorder isn't working, please ensure your browser's <strong>Javascript and Flash are enabled</strong></em> 
                                </div> <!-- END collapserec1-->
                            </div>
                      </div> <!-- END PANEL-DEFALT-->


                      <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionrec" href="#collapserec2">Problems?</a></h4>
                            </div><!-- END PANEL-HEADING -->

                            <div id="collapserec2" class="accordion-body collapse">
                                <div class="panel-body">
                                      <h4><i class="fa fa-warning red"></i>&nbsp;&nbsp;<a href="<%= flashissue_path %>.htm#collapseOne" target="_blank"><span class="red">I can't click 'Allow'</span></a></h4>
                                      
                                          <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;<a href="<%= flashissue_path %>.htm#collapseOne" target="_blank">Please click here</a></h5>
                                         <hr/>
                                      <h4 class="red"><i class="fa fa-warning red"></i>&nbsp;&nbsp;Nothing happens when I press 'Record'</h4>
                                          <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Using Chrome? If there is a small 'Allow/Deny' bar at the top of your browser, click allow and then try recording again (or refresh the page).</h5> 
                                           <center><img src="<%= image_path('Allow_Box_2.png')%>"></center> <h5>Click <a href="https://support.google.com/chrome/answer/2696491?hl=en" target="_blank">here</a> for instructions on changing the advanced settings. </h5>
                                          <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Please make sure a microphone is plugged in, especially if you are using a desktop computer.</h5>
                                          <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Please make sure <a href="http://helpx.adobe.com/flash-player/kb/find-version-flash-player.html" target="_blank">the latest version of Adobe Flash Player is enabled</a> on your browser.</h5> 
                                          <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;If you have a Flash-blocker installed on your browser, please <a href="<%= flashissue_path %>.htm#collapseFive" target="_blank">temporarily disable it</a> (you may need to restart browser to disable) or try a different browser. These blockers normally do not allow microphone access.</h5> 
                                          <hr/>
                                      <h4 class="red"><i class="fa fa-warning red"></i>&nbsp;&nbsp;I accidentally clicked 'Deny'</h4>
                                          <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Please refresh this page and try again.</h5>
                                          <hr/>
                                      <h4 class="red"><i class="fa fa-warning red"></i>&nbsp;&nbsp;My recording does not play back/sound good</h4>
                                           <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;If you are using Chrome on a Mac, try a different browser.</h5>
                                          <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Please ensure you have a quiet environment.</h5>
                                          <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Check your computer's mic settings to see that it is enabled (as well as any options such as noise-cancellation).</h5>
                                          <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Check to make sure your speaker volume is up.</h5>
                                        
                                      <hr/>

                                       <div class="row">
                                          <div class="well col-md-12">
                                            <center>
                                                <h4> Can you see an animation below? </h4>
                                      
                                                <embed src="<%= asset_path('ncflash_2.swf') %>" width="270" height="130"/>

                                                 <h5>If not, you will probably need to <a href="<%= flashissue_path %>.htm#collapseFour" target="_blank">check that Flash is enabled</a> and <a href="<%= flashissue_path %>.htm#collapseFive" target="_blank">Flash-blockers are disabled</a> before recording.</h5> 

                                               <%= link_to "Skip Recording", {:controller => "users", :action => "setpassword", :id => current_user.id, :event => @event.id, :x => "skip" }, {:class => "col-md-2 fl-right"} %>
                                            </center>
                                          </div>                           

                                    </div> <%# end row %>     

                                </div> <!-- END PANEL-BODY-->
                            </div> <!-- END collapserec2-->
                      </div> <!-- END PANEL-DEFALT-->

                    
             </div>     <!-- END PANEL GROUP -->            
      </div> 
</div>




                                  <div class="invisible">
                                        <input type="button" onclick="javascript:document.Audior.mainbtn()" name="mainbtn" value="Record -> Stop -> Play -> Pause" id="mainbtn"/>
                                        <input type="button" onclick="javascript:document.Audior.pauseResumeBtn()" disabled name="pauseResumeRec" value="Pause/Resume Recording" id="pauseResumeRec"/></br>
                                        <input type="button" onclick="javascript:document.Audior.recordagain()" disabled  name="recAgain" value="Record Again" id="recAgain"/>
                                        <input type="button" onclick="javascript:document.Audior.save()" disabled value="Save" name="sav" id="sav"/>
                                        <input type="button" onclick="javascript:document.Audior.download()" disabled value="Download" name="dwl" id="dwl" />
                                  </div>


</div><%# end container %>

