<h2>VoiceGem Recording <% if !@event.nil? %><% if !@event.title.nil? %>for<em> <%= @event.title %> </em> <% end %> <% end %></h2>
      
      <% if !(@event.title == 'the ETL Seminar') %><h3>  <% if !@event.nil? %><% if !@event.date.nil? %><%= @event.date.strftime("%b %d, %Y")  %> <% end %><% end %></h3><% end %>

                                              

 <div id="newinfo" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
     <div class="modal-content">      
            <div class="modal-header">
 
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 id="myModalLabel"><em>What's going on here?</em></h3>
            </div>
            <div class="modal-body">
            <ul>
            <li> This service is quick, easy, and totally FREE for you. </li> <br/>
            <li> You've been invited to record a VoiceGem, a short, personal voice-message/toast to the bride and groom (or anyone else), which which the DJ may blend into the reception entertainment. </li> <br/>
            <li> The process is simple!
                <ol>
                  <br/>
                  <li>Fill out your name and email. </li><br/> 
                   <li>Enter any notes to the DJ about your VoiceGem, and any song request that should accompany it (optional).</li><br/>
                  <li>Record your VoiceGem with our online voice recorder.  Don't worry, this part is super-easy. </li><br/>
                  <li><em>Thanks to your help, the DJ can make the reception entertainment extra-special!</em></li><br/>
                 </ol>
            </li>  
            <li> If you have previously registered on our site, please sign in under 'Already Registered on our Site?' </li><br/>
            <li> More questions? Please contact us below. <em> Thank you!</em> </li>
            </ul>

            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal">Done</button>  
            </div>
    </div>
    </div>
</div>

 <div id="custmodal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
     <div class="modal-content">      
        <div class="modal-header">
               <center><h3><span class="label label-danger">Notice for Customers/Admins&nbsp;&nbsp;<i class="fa fa fa-warning"></i></span></h3></center>
            </div>
            <div class="modal-body">
                   <h4> To see how new users will record a VoiceGem for this event, you will need to:</h4>

                   <ol>
                        <li> Please <%= link_to "sign out", signout_path, method: "delete" %> or open a different browser </li>
                        <li> Copy and Paste the recording link/url into the address bar. <br/> (Recording Link/URL: <%= @url %> ) </li>
                        <li> Register with a different email address (as if you were a new user) </li> 
                   </ol>
                    <br/>
                 <h5> Note: Since you are already a registered user, please go to your <%= link_to "Dashboard", current_user, :target => "_blank" %> if you wish to record or edit any of your own VoiceGems (note that as a customer/admin, you may not have a VoiceGem of your own for this event).</h5>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal">Close</button>  
            </div>
    </div>
    </div>
</div>
<div class="alert alert-block modal-header">
 
    <button type="button" class="close" data-dismiss="alert">×</button>

              <h3>You've been invited to record a VoiceGem for an upcoming event<% if !@event.nil? %><% if !@event.title.blank? %>, <%= @event.title %><% end %><% end %>.  <em>Just 3 Easy Steps.</em>&nbsp;&nbsp;&nbsp;<a data-toggle="modal" href="#newinfo" class="btn btn-primary">More Info <i class="fa fa-info-circle "></i></a> </h3>      
</div>  




<br/>
<% flash.each do |key, value| %>
    <div class="alert alert-block alert-<%=get_alert_class(key)%>"> 
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= value %> 
    </div>
<% end %>

<% if current_user && (current_user.customer == true || current_user.admin == true) %>&nbsp;&nbsp;&nbsp;<center><a data-toggle="modal" href="#custmodal" class="btn btn-danger">Notice for Customers/Admins <i class="fa fa fa-warning"></i></a></center><br/><br/><% end %>

                          <div class="panel-group" id="accordion3">
                              <div class="panel panel-default">
                                  
                                  <div class="panel-heading">
                                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#collapseOne">VoiceGems for New Users</a></h4>
                                  </div><!-- END PANEL-HEADING -->

                                 <% if current_user && (current_user.customer == true || current_user.admin == true) %>
                                       <div id="collapseOne" class="panel-collapse collapse">
                                 <% else %> 
                                       <div id="collapseOne" class="panel-collapse collapse in">
                                 <% end %>
                                         <div class="panel-body">
                                                <%= simple_form_for(@user, :url => vg_event_link_create_path, :wrapper => :bootstrap_horizontal, :html => {:class => "form-horizontal"}) do |f| %>

                                                   <div class="row">
                                                    

                                                         <div class="well col-xs-9 col-md-offset-1">
                                                          <center><h3><span>STEP 1: Basic Info</span></h3></center>
                                                              
                                                              <br/>
                                                              <%= f.error_notification %>
                                                              
                                                                <%= f.hidden_field :event_code, :value => @event_code %>


                                                                  <%= f.input :first_name, label: "First Name" %>
                                                                  <%= f.input :last_name, label: "Last Name" %>
                                                                  <%= f.input :email %>
                                                                 

                                                                <hr/>    
                                                         </div>
                                                     </div>

                                                     <div class="row">
                                                         <div class="well col-xs-9 col-md-offset-1">         
                                                             <h3><span>STEP 2: Notes/Request<span class="muted"> (optional)</span> </h3> 
                                                              <br/>      
                                                                        <span class="textarea2">
                                                                         <%= f.input :vg_notes, label: "If you want, enter any notes or song request for the DJ to accompany your VoiceGem:", placeholder: "examples: please say 'this is on behalf of Grandma Ruth' OR please say 'here's an old college favorite' and play with Neil Diamond's Sweet Caroline"  %>
                                                                        </span>
                                                                        
                                                                     <hr/>
                                                          </div>
                                                     </div> 

                                                     <div class="row">    
                                                          <div class="well col-xs-9 col-md-offset-1">
                                                             <center><h3><span>STEP 3: Record Your VoiceGem</span></h3></center> 
                                                                  <br/>
                                                                  <br/> 
                                                                  
                                                                   <div class="row">
                                                                       <center>
                                                                        <%= f.button :submit, "Record Your VoiceGem", class: "btn btn-danger btn-lg", disable_with: "please wait..." %>

                                                                 

                                                                      

                                                                    </center>
                                                                   </div>

                                                                <hr/>
                                                               

                                                                      <!-- BELOW: a simple HTML way to embed a .swf video. If Flash is disabled, a link to the browser settings page will show up, which is useful for the user.Swfobject is an alternative, but since we're just embedding a simple, auto-playing video for testing purposes, that doesn't seem necessary for the time being. -->

                                                                  <div class="row">    
                                                                      <center>
                                                                      <div class="col-xs-6 col-md-offset-3"> 
                                                                      <h4> Can you see the animation below? </h4>
                                                                          

                                                                        <embed src="<%= asset_path('ncflash_2.swf') %>" width="270" height="130" class="img-responsive"/>

                                                                       <h5>If not, or you must click to play it, you will need to <a href="<%= flashissue_path %>.htm#collapseFour" target="_blank">check that Flash is enabled</a> and <a href="<%= flashissue_path %>.htm#collapseFive" target="_blank">Flash-blockers are disabled</a> before recording.</h5> 
                                                                       </div>
                                                                       </center>
                                                                          
                                                                </div>

                                                          </div> 
                                                     </div><%# end third row %>     
                                                    <% end %>
                                                   
                                                     <h6>By registering you agree to our <%= link_to "Terms and Conditions", terms_path, :target => "_blank" %>.</h6>
                                         </div>
                                  </div>
                                   
                                  <div class="panel-heading">
                                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo">Already Registered on our Site?</a></h4>
                                  </div><!-- END PANEL-HEADING -->

                                  <div id="collapseTwo" class="accordion-body collapse">
                                    <div class="panel-body">
                                      <div class="well col-xs-9 col-md-offset-1">
                                          <%= simple_form_for(:session, url: vg_event_code_add_path, :wrapper => :bootstrap_horizontal, :html => {:class => "form-horizontal"} ) do |f| %>

                                          <%= f.hidden_field :event_code, :value => @event_code %>
                                           <span><em>If you have previously registered on our site, please sign in here to record a VoiceGem for this event:</em></span> <br/> <br/>
                                          <%= f.input :email, :class => "col-xs-3", :placeholder => "Email" %>
                                          <br/>
                                   

                                          <%= f.input :password, :class => "col-xs-3", :placeholder => "Password" %>

                                            <br/>
                                    
                                              <%= button_tag(type: 'submit', class: "btn btn-primary btn-small pull-right") do %>
                                               Sign In <i class="fa fa-chevron-right "></i> 
                                              <% end %>

                                        <% end %>
                                       </div>
                                       <br/>
                                    </div>
                                  </div>

                              </div>
                          </div>  <%# end accordion3 %>


<% if current_user && (current_user.customer == true || current_user.admin == true) %>
<script type="text/javascript">
    $(window).load(function(){
        $('#custmodal').modal('show');
    });
</script>
<% end %>











