<script>
$(function() {
  $('#event_date').datepicker({ dateFormat: 'yy-mm-dd' });
});
</script>



<br/>

<div class="row"> <%# wrap tabs%>

 <ul id="myTab" class="nav nav-tabs">
	  <% unless (@user.customer == true && @user.voicegems.blank?) %>  <li class="active"><a href="#ev" data-toggle="tab"><strong>Your Events</strong></a></li>
	 <li><a href="#nw" data-toggle="tab"><strong>Your VoiceGem<% if !current_user.voicegems.nil? && current_user.voicegems.count > 1 %>s<% end %></strong></a></li><% end %>
</ul>
          
<div id="myTabContent" class="tab-content">
     <div class="tab-pane active" id="ev">

     		
	    	 		 <div class="row">
				 		 			        
				         <div class="col-md-12">
				             <div class="well">
				                 <h4><i class="fa fa-edit"></i>&nbsp;Create an Event Page: </h4> </br>

				                     <%= form_for(Event.new, :html => {:class => "form-inline"}) do |f| %>
				                      
				                     	
				                        <%= f.text_field :title, :placeholder => 'Title (required)', :class => "col-md-3" %> &nbsp;&nbsp;
				                         
				                            
				                        <%= f.text_field :date, :placeholder => 'Date (required)', :class => "col-md-2" %> &nbsp;&nbsp;

				                                        	      
						        				  <% if user_is_trialing? && purch_pages_left? %>

						                          		<%= f.select :purchase_type,  options_for_select([   ["from Purchased Pages (#{current_user.purchased_events} left)", "p"], ["from Free Trial mode (expires #{(current_user.created_at + 30.days).strftime("%b %d, %Y")})", "t"]  ]), :size => 5 %>
						                          		<%= f.submit "Create Event Page", class: "btn btn-primary" %>

						                          <% elsif user_is_trialing? %>

						                          		<%= f.hidden_field :purchase_type, :value => 't' %>
						                          		<%= f.submit "Create Trial Event Page", class: "btn btn-primary" %>&nbsp;&nbsp;<span class="help-inline">(Trial Event Pages locked after <%= (current_user.created_at + 30.days).strftime("%b %d, %Y") %>) </span> 

						                          <% elsif purch_pages_left? %>
						                          		
						                          		<%= f.hidden_field :purchase_type, :value => 'p' %>
						                          		<%= f.submit "Create Event Page", class: "btn btn-primary" %>&nbsp;&nbsp;<span class="help-block">(<%= current_user.purchased_events %> pages remaining)</span>
						                          
						                          <% else %>
						                          		<%= f.submit "Create Event Page", class: "btn btn-primary", disabled: true %>&nbsp;&nbsp;<span class="help-block">(Free Trial Ended)</span>&nbsp;&nbsp; <a href="<%= existing_user_purchase_path %>" class="btn btn-primary btn-large">Buy Event Pages&nbsp;&nbsp;<i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></a>
						                          <% end %>

				                        <span class="help-block">(e.g., "The Jones-Ravenwood Wedding")</span>

				                     <% end %>

				              <% if user_is_trialing? %> 
				              <div class="row centralized"> 

				             <div class="col-md-2 col-md-offset-9"><a href="<%= existing_user_purchase_path %>" ><button type="button" class="btn btn-primary btn-small">
					Buy Event Pages&nbsp;&nbsp;<i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>
				</button></a></div></div>
				             <% end %>        

				             </div> <%# end well %>
				         </div> <%# end col-md-12 %>
				        
				         

	              </div> <%# end row %>

	  

				<hr/>

				 <div class="row">
				    <div class="col-md-12">
				      <div class="well">

				            <h4><i class="fa fa-list"></i></span>&nbsp;<strong>Your Event Pages: </strong></h4>
				            <br/>
				            <% if @user.adminevents.count == 0 %> 
				            (no event pages created yet)
				            <% else %> 
						            <table class="table table-striped event">
						              <% @user.adminevents.each do |e| %>
						                <tr>  
						                  <td><strong><%= link_to e.title, e %></strong> <% if e.purchase_type == 't'%><br/>(Trial Page - locked on <%= (current_user.created_at + 30.days).strftime("%b %d, %Y") %>)<% end %> </td>
						                  <td> <% unless e.date.nil? %><%= e.date.strftime("%b %d, %Y") %><% end %> </td> 
						                  <td><a  href="<%= edit_event_path(e) %>"><button type="button" class="btn btn-primary btn-small"><i class="fa fa-pencil"></i>&nbsp;edit event</button></a></td> 
						                   <td> 
				                  		<div id="<%= e.id %>" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                              <div class="modal-dialog">
                                              <div class="modal-content">
                                                          <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            <h3>Admins<% if e.title %> for <%= e.title %><% end %></h3>
                                                          </div>
                                                          <div class="modal-body">

                                                                <br/>
                                                                  <table class="table table-condensed table-striped">
                                                                    <thead>
                                                                      <th>First Name</th>
                                                                      <th>Last Name</th>
                                                                      <th>Email</th>                                                                      
                                                                    </thead>
                                                                    <tbody>
                                                                    <% e.admins.each do |a| %>
                                                                      <tr>
                                                                        <td> <%= a.first_name %> </td>
                                                                        <td> <%= a.last_name %> </td>
                                                                        <td> <%= a.email %> </td>
                                                                      </tr>
                                                                    <% end %>
                                                                  </tbody> 
                                                                  </table> 
                                                               
                                                          </div>

                                                          <div class="modal-footer">
                                                            <button class="btn btn-default" data-dismiss="modal">Close</button>
                                                          </div>
	                                            </div>
	                                            </div>
                                        </div>

                                                          
                                                           
                                                              <a data-toggle="modal" href="#<%= e.id %>" ><button class="btn btn-primary btn-small">See All Event Admins</button></a>
                                                         
                                                         
                                                </td>
                                          <% if page_is_active(e) %>
						                 	 <td> <a href="<%= events_path%>/<%= e.id %>" ><button class="btn btn-primary btn-small">go&nbsp;<i class="fa fa-caret-right"></i></button> </a>
						                 	 </td>
						                  <% else %>
						                  		<% if current_user.purchased_events > 0 %>
									                  		<td> <%= form_for(:act, url: activate_path) do |y| %>
													                <%= y.hidden_field :event_id, :value => e.id %>
													                <%= y.submit "Activate", class: "btn-primary", confirm: 'Are you sure you want to activate using a purchased Event Page?' %><br/>(<%= current_user.purchased_events %> purchased Event Pages left) <% end %>						                
													        </td>
										        <% else %>
										        		<td> <a href="<%= existing_user_purchase_path %>" ><button type="button" class="btn btn-primary btn-small">
					Buy Event Pages&nbsp;&nbsp;
				</button></a>	 </td>
							       
										       
										       
										       
										        <% end %>
						                  <% end %>
						                  

						                </tr>
						              <% end %>
						            </table> 
						    <% end %> 
				      </div>
				    </div>

				  </div>   			               
				      </div>

	<% unless (@user.customer == true && @user.voicegems.blank?) %> 
      <div class="tab-pane" id="nw">
		 <%= render 'users/vgregularshow' %> 	               
     </div>
    <% end %>

</div>

</div><%# end wrap tabs %>
  



												          


										        
												    
