

      <h2> Change Your Password</h2>

             <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=key%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>

<div class="container">


<br/>
<br/>

      <div class="row">

                 <div class="well col-md-7 col-md-offset-2">

                      <%= simple_form_for(@user, :url => changepassword_path, :html => {:class => "form-horizontal"}) do |f| %>
                      <br/>
                      <%= f.error_notification %>
                          <%= f.input :password, hint: "(minimum 6 characters)", label: "Create a new Password" %>
                          <%= f.input :password_confirmation, label: "Confirm Password" %>
                          </br></br>
                        
                          <div class="form-actions">
                           
                          <%= f.button :submit, "Update Password", class: "btn btn-large btn-primary", disable_with: "updating..." %>
                       
                          </div>

                      <% end %>

                 </div>
      </div>
</div>

</br></br></br>
