
<div class="jumbotron">
      <h1> Change Your Password</h1>
  </div>
             <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=key%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>

<div class="container">


<br/>
<br/>

      <div class="row">

                 <div class="well span4 offset4">
                       <h4><i class="icon-lock icon-large"></i>&nbsp;&nbsp;<span class="blue">Change Your Password</span></h4>
                      <%= simple_form_for(@user, :url => changepassword_path, :html => {:class => "form-horizontal"}) do |f| %>
                      <br/>
                      <%= f.error_notification %>
                          <%= f.input :password, hint: "(minimum 6 characters)", label: "Create a new Password" %>
                          <%= f.input :password_confirmation, label: "Confirm Password" %>

                        
                          <div class="form-actions">
                           
                          <%= f.button :submit, "Update Password", class: "btn btn-large btn-primary", disable_with: "updating..." %>
                       
                          </div>

                      <% end %>

                 </div>
      </div>
</div>