<div class="container">
	<br/>
	<br/>

<p> <strong>You are NOT authorized to view this page! Veiwing or changing proprietary information is a criminal offense and will be prosecuted to the fullest extent of the law. </strong></p>

<%= link_to 'Show Users', users_path %> <br />
<%= link_to 'Show Practiceobjects', practiceobjects_path %><br />
<%= link_to 'Show Events', events_path %><br />
<%= link_to 'Show Adminkeys', adminkeys_path %><br />
<%= link_to 'Show Customerkeys', customerkeys_path %><br />
<%= link_to 'Show Admininvites', admininvites_path %><br />
<%= link_to 'Show Userinvites', userinvites_path %><br />
<%= link_to 'Show Subscriptions', subscriptions_path %><br />
<%= link_to 'Show Plans', plans_path %><br />

<p><a href="https://s3-us-west-1.amazonaws.com/namewaves/zen14.mp3">Play dfff</a></p>

<audio src="https://s3-us-west-1.amazonaws.com/namewaves/14.mp3" />

</div>
