 
        <h2>Purchase VoiceGems Event Pages</h2>
      

               

             
             <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=key%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>

<div class="container">

  <div class="row">



          <center>
            <% if current_user.purchased_events > 0 %>
            <h4><icon class="icon-caret-right"></i>&nbsp;You have <%= current_user.purchased_events %> purchased event page<% if current_user.purchased_events > 1 %>s<% end %> remaining.</h4>
            <% end %> 
            <h4>You may purchase <% if current_user.purchased_events > 0 %>additional <% end %> event pages here.</h4>
          </center>

        <header class="centralized"><br>
          <img src="<%= asset_path "divider.png"%>" class="divider">
      </header>  
    



      </div>



   <div class="row">

        <div class="well col-md-10 col-md-offset-1">
                 
                               
                          <div class="row"> 
                               <div class="col-md-12 ">
                                    <center><h3>Enter the number of Event Pages you'd like to purchase ($99 each): </h3></center>
                                     <center>
                                      <div>
                                         <%= form_for(:peu, url: existing_user_purchase_select_path) do |y| %>
                                          
                                            <%= y.number_field :number, :min => '1', :value => "#{@number}" %>
                                            &nbsp;&nbsp;
                                           <%= y.submit "Next", class: "btn btn-primary btn-large"  %> 
                                         <% end %>  
                                      </div>
                                    </center>

                              </div>
                          </div>       
                                            
                      
                          <div class="row">
                                <div class="col-md-12">
                                 
                                  <center><h5><em>Purchasing more than 15 Event Pages? Get a discount price of $89 per event.</em></h5></center>
                                  <center><h5><em>Purchasing more than 40 Event Pages? Get a discount price of $79 per event.</em></h5></center>
                                </div>
                          </div>
                           
                              <br/>
                              <br/>

                   

                   
                   </div>  <!-- End Well -->
              </div> <!-- End Main Row -->

   </div>




<br/>
<br/>                             
<br/>
<br/>

</div>



