<div class="jumbotron">
        <h1>Purchase VoiceGems Event Pages</h1>
      
</div>
               

             
             <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=key%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>

<br/>
<br/>

<div class="container">

  <div class="row">

      <div class="span4 offset4">

    
            <% if current_user.purchased_events > 0 %>
            <p><icon class="icon-caret-right"></i>&nbsp;You have <%= current_user.purchased_events %> purchased event page<% if current_user.purchased_events > 1 %>s<% end %> remaining.</p>
            <% end %> 
            <p>You may purchase <% if current_user.purchased_events > 0 %>additional <% end %> event pages here.</p>


         <hr/>



      </div>

    </div>

   <div class="row">

        <div class="well span10 offset1">
                 
                               
                          <div class="row"> 
                               <div class="span10 fl-left">
                                    <h3>Enter the number of Event Pages you'd like to purchase ($99 each): </h3>
                                    <br/>
                                   
                                     <%= form_for(:peu, url: existing_user_purchase_select_path) do |y| %>
                                      
                                        <%= y.number_field :number, :min => '1', :value => "#{@number}" %>
                                       <%= y.submit "Next", class: "btn btn-primary btn-large span2"  %> 
                                     <% end %>  
                                </div>
                          </div>       
                                            
                      
                          <div class="row">
                                <div class="span10">
                                  <h4><span class="blue">MBLV LIMITED TIME PROMO: Enter code 50OFF at checkout for 50% off!</span></h4>
                                  <h5><em>Purchasing more than 15 Event Pages? Get a discount price of $89 per event.</em></h5>
                                  <h5><em>Purchasing more than 40 Event Pages? Get a discount price of $79 per event.</em></h5>
                                </div>
                          </div>
                           
                              <br/>
                              <br/>
                                

                   

                   
                   </div>  <!-- End Well -->
              </div> <!-- End Main Row -->

</div>
                  



