<% provide(:path, 'assets/') %>

            <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=key%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>


<!-- Slider starts -->
  <div class="parallax-slider">
          <!-- Slider (Parallax Slider) -->            
            <div id="da-slider" class="da-slider">
              <!-- Each slide should be enclosed inside "da-slide" class -->
              <div class="da-slide">
                <div class="slide-details">
                  <!-- Heading -->
                  <h2><span>When Saying it Right Really Matters.</span></h2>
                  <!-- Para -->
                  <p>Graduations. Weddings. Banner events at which every name, no matter how  difficult or deceptively easy, must be announced perfectly. <br/> Still dealing with low-fidelity phonetic spellings?</p>
                  <!-- Read more link -->
                 
                  <!-- Image -->
                  <div class="da-img"><img src="/assets/hand2.jpg" alt="image01" /></div>
                </div>
              </div>
              <div class="da-slide">
                <h2><span>NameCoach makes it Easy...</span></h2>
                <p>Individuals voice-record their names on an Event Page, where the announcer can hear and practice them - <em>as they actually say it</em> - making spot-on pronunciation possible, easy, and hassle-free. </p>
               <a href="<%= graduations_path%>.htm#why" class="da-link" target="_blank">The Value..</a>
                <div class="da-img"><img src="/assets/podium1.jpg" alt="image01" /></div>
              </div>
              <div class="da-slide">
                <h2><span>Request Names</span></h2>
                <p><br/>Just give out a link to your Event Page, all generated for you.</p>
                <a href="<%= @url %>" target="_blank" class="da-link">Demo Link</a>
                <div class="da-img"><img src="/assets/step1_6.png" alt="image01" class="vert-align"/></div>
              </div>
              <div class="da-slide">
                <h2><span>Record Names</span></h2>
                <p>One click goes to our quick and easy-to-use online audio recorder, where individuals voice-record their names for the Event Page.</p>
                <a href="<%= @url %>" target="_blank" class="da-link">Recorder</a>
                <div class="da-img"><img src="/assets/record_2_3.png" alt="image01" class="vert-align"/></div>
              </div>
              <div class="da-slide">
                <h2><span>Hear and Practice Names</span></h2>
                <p>The announcer can play recordings as needed before the event, allowing for perfectly easy, easily perfect pronunciations on the big day!</p>
                <a href="<%= demo_event_page_path %>" target="_blank" class="da-link">Demo Page</a>
                <div class="da-img"><img src="/assets/event_page_22.png" alt="image01" class="vert-align"/></div>
              </div>
              <nav class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
              </nav>
             
            </div>
            
  </div>
  <div class="tp-bannershadow tp-shadow1"></div>
<!-- Slider ends -->

<br/>

<!-- Recent Posts Starts -->

<div class="recent-posts">
  <div class="container">
    <div class="row">

      <div class="span7">
        <ul>
            <!-- Recent posts #1 -->
            <!-- Each carousel should be enclosed inside "li" tag -->
            <li>
                <div class="rp-item span3"> 
                  <!-- Image. -->
                  <div class="rp-image">        
                    <a href="<%= graduations_path %>"><img src="/assets/graduation_000_2.jpg" alt=""/></a>
                  </div>
                  <div class="rp-details">
                    <!-- Title and para -->
                    <h5><a href="<%= graduations_path %>">Graduation Ceremonies </a></h5>

                  </div>                
                </div>        
            </li>
            <!-- Recent posts #2 -->
            <li>
                <div class="rp-item span3"> 
                  <div class="rp-image">        
                    <a href="<%= weddings_path %>"><img src="/assets/wed2.jpeg" alt=""/></a>
                  </div>
                  <div class="rp-details">
                    <h5><a href="<%= weddings_path %>">Wedding Receptions</a></h5>
                            
                  </div>                
                </div>        
            </li>                                                                          
        </ul>
      </div>

      <div class="span5 home-block">
          <div class="grey-box hero-block-2">
              <h2><a href="<%= graduations_path %>">Graduation Season Offer</a></h2>
              <p>The climax of their educational career. Get your graduands recording now to ensure the moment is perfect for them and their families! </p><br/>
              <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;Unlimited Recordings per Event</p>
              <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;Full Tech and Customer Support</p>
              <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;100-day, 100% money-back guarantee. No hassles.</p>
              <a href="<%= grad_new_customer_purchase_path %>" class="btn btn-warning"><i class="icon-shopping-cart"></i>Purchase Service for $75</a>
          </div>
          <div class="tp-bannershadow tp-shadow3"></div>
      </div>


    </div>

  </div>
</div>

<!-- Recent Posts ends -->
<div class="sep"></div>
<!-- How to 2 starts -->
<div class="content process">
  <div class="container">
    <div class="row">

        <h2> <i class="icon-cogs"></i>&nbsp;&nbsp;<span class="light-blue">How NameCoach Works</span></h2>
        <div class="text-divider6">
          <span></span>
        </div> 
        <br/>


                        <div class="span6">
                           <!-- Step 1 -->
                           <div class="onethree-left">
                             <div class="process-meta">
                              <!-- Process number. Like one, two, three -->
                                <span>1</span>
                             </div>
                           </div>
                           <div class="onethree-right">
                            <!-- Title and para -->
                             <h3><i class="icon-edit"></i>&nbsp;Create an Event Page </h3>
                             <p><span>Just enter a name (like 'The Harvard Quincy House Commencement'), and a date for the event.  Your Event Page is ready-to-go.</span></p>
                            
                           </div>
                        </div>

                        <div class="span6">
                           <!-- Step 2 -->
                           <div class="onethree-left">
                             <div class="process-meta">
                                <span>2</span>
                             </div>
                           </div>
                           <div class="onethree-right">
                             <h3><i class="icon-envelope"></i>&nbsp;Invite Other Admins&nbsp;<span class="muted">(optional)</span></h3>
                               <p><span>You will be an 'Admin' for the Event Page: you can request and listen to name recordings, and make others Admins (just enter their email.) This is useful if an administrator is putting the recording link with the commencement instructions in a web page or email, and a dean will be announcing names.</span></p>
                           </div>                        
                        </div>
     </div> 

     <br/><br/>

     <div class="row">                   
                        <div class="span6">
                           <!-- Step 3 -->
                           <div class="onethree-left">
                             <div class="process-meta">
                                <span>3</span>
                             </div>
                           </div>
                           <div class="onethree-right">
                             <h3><i class="icon-link"></i>&nbsp;Invite Attendees to Record Names</h3>
                              <p><span>Admins have two options for requesting names:</span></p>
                                <ol>
                                  <li><span>Give out a unique link (generated for your event) with your general event instructions (e.g., your commencement webpage). We give you the link and suggested text, just copy and paste!</span></li><br/>
                                  <li><span>Or, enter email addresses to send personal name requests with one click. </span></li>
                                </ol>
                           </div>                       
                        </div> 

                       

                        <div class="span6">
                           <!-- Step 4 -->
                           <div class="onethree-left">
                             <div class="process-meta">
                                <span>4</span>
                             </div>
                           </div>
                           <div class="onethree-right">
                              <h3><i class="icon-volume-up"></i>&nbsp;Attendees Record their Names</h3>
                              <p><span>Whichever method you use, attendees click a link to record their names using our online voice-recorder.  They can also enter exactly how they want to be announced (middle names, nicknames), and notes to help with pronounciation ('last name rhymes with.. ').</span></p>
                           </div>
                        </div>

       </div>

       <br/><br/>

       <div class="row">
                        <div class="span6">
                           <!-- Step 5 -->
                           <div class="onethree-left">
                             <div class="process-meta">
                                <span>5</span>
                             </div>
                           </div>
                           <div class="onethree-right">
                             <h3><i class="icon-play-circle"></i>&nbsp;Hear and Practice Names!</h3>
                              <p><span>After an attendee records their name, Announcers/Admins can hear those names on the Event Page and see any attendees' pronunciation notes. They can also enter their own helpful notes.</span></p>   
                           </div>                        
                        </div>

                        <div class="span6 home-block">

                          <div class="grey-box hero-block-2">
                              <h3 class="light-blue">We Make it Easy to Make their Once-in-a-Lifetime Moments Perfect.  Try it Today!</h3>
                              <a href="<%= demo_event_page_path %>" target="_blank" class="btn btn-primary">Demo Event Page</a>&nbsp;&nbsp;<a href="<%= graduations_path%>.htm#why" target="_blank" class="btn btn-primary">Why Use NameCoach?</a>&nbsp;&nbsp;<a href="<%= grad_new_customer_purchase_path %>" class="btn btn-warning"><i class="icon-shopping-cart"></i>Purchase Service for $75</a>
                          </div>
                         <div class="tp-bannershadow tp-shadow1"></div>
                      </div>


    </div>
    
    <br/><br/>

    <div class="row">
      <div class="text-divider5">
       <span></span>
       </div>  
    </div>

  </div>
</div>

<!-- How to 2 ENDS -->







