<% provide(:path, 'assets/') %>

            <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=key%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>
<br/><br/>
<div class="container">
                 <script>
                    // Load this when the DOM is ready
                    $(function(){
                      // You used .myCarousel here. 
                      // That's the class selector not the id selector,
                      // which is #myCarousel
                      $('#myCarousel').carousel({
                      interval: 10000,
                     
                    });
                    });
                    </script>

                    <script>
                      $('#myCarousel').hover(
                              function() {
                                  $(this).carousel('pause');
                              },
                              function() {
                                  $(this).carousel('cycle');
                              }
                          );
                    </script>
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit bg-purple">
        
          <h2 class="grabber"><em>When it needs to be <span>Perfect...</span></em> </h2> <br/>
        
          <div class="row">
              <div class="span7">
                   <h3 class="white"><span class="deco">NameCoach adds high-touch value to the service you provide as a Wedding Planner or DJ, setting you apart in one critical way... at <em>your</em> event, the names will be announced perfectly!</span> </h3> <br/>
                   <div class="span4 offset1">
                   <h4 class="white"><icon class="icon-caret-right"></i>&nbsp;Attendees voice-record their names on an event page where the MC/DJ can hear them, making spot-on pronunciation easier than ever:</h4> <br/>
                   </div>
                      <div class="well span4 offset1">                             
                      
                            <table>
                             <tbody>
                              <tr>
                              <td class="rec-cell"> <audio src="https://s3-us-west-1.amazonaws.com/namewaves/rahul.mp3" preload="auto"> </audio> 
                              </td>
                              <td>&nbsp;&nbsp;</td>
                              <td><strong><span class="black">Dr. Rahul Chaudhri</span></strong>
                              </td>
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                              <td>
                                <span class="black">sort of like 'cho-the-ree'</span> 
                              </td>
                              <tr>
                             </tbody>
                            </table> 

                      
                    </div>
              </div> 
              <div class="span3">
                <br/>
                <a href="<%= pricing_path %>" class="btn btn-primary btn-large span3"> <span class="grabber-style"><strong><em>TRY IT FREE TODAY!</em></strong>&nbsp;&nbsp;<i class="icon-chevron-right icon-white"></i><i class="icon-chevron-right icon-white"></i></span> </a> <br/>
                
                 <!-- <h4><a href="<%= pricing_path %>" class="span3 cent">Planning your own wedding? </a></h4> <br/>-->
                
                <br/> <br/> <br/> <br/> <br/> <br/>
              
                <a href="<%= eventcodesignup_path %>" class="btn btn-info span3"> Recording Your Name for an Event? <i class="icon-chevron-right icon-white"></i> </a> <br/> <br/>

                <a href="<%= admincodesignup_path %>" class="btn btn-info span3"> Asked to Admin an Event? <i class="icon-chevron-right icon-white"></i> </a>
              
               
               
              </div>
          </div>
        </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4 offset1">
          <h2 class="cent"><icon class="icon-magic"></i>&nbsp;What We Do</h2>
          <br/>
          <p><span class="grabber2">People naturally want their weddings to be <strong><em>perfect</em></strong>. Mangled wedding party names is a top fear of clients, but we all know pronouncing every name correctly can be... <em>tough</em>. <br/><br/>Friends and family might not say anything (and if they do, <a href="http://www.myweddingworkbookpro.com/blog/index.cfm/2011/7/27/DJ-threatened-by-mobster-for-mispronouncing-family-name--Wedisaster-Series-Pt-3" target="_blank">hopefully it's not this!</a>), but the collective dismay is always palpable. <br/><br/> Clients expect the best from wedding professionals, and <strong>NameCoach</strong> finally provides an <em><strong>easy</strong></em> way to deliver that high touch, leaving everyone more satisfied and even happier to rave about your services...</span></p>
          <br/>
          <p><a class="btn btn-primary bg-purple btn-large" href="<%= value_path %>">See What We Can Do for You <i class="icon-chevron-right icon-white"></i></a></p>
        </div>

        <div class="span5 offset1">
          <h2 class="cent"><icon class="icon-cogs"></i>&nbsp;How it Works</h2>
          <br/>

              <div id="myCarousel" class="carousel slide">

                <div class="carousel-inner">
                  <div class="item active">
                    
                    <div class="carousel-caption">
                      <h4>STEP 1: REQUEST NAMES</h4>
                      <p>Just enter email addresses, or give out your event link. </p>
                    </div>
                    <%= image_tag("step1_6.png", alt: "Rails") %>
                  </div>
                  <div class="item">
                    
                    <div class="carousel-caption">
                      <h4>STEP 2: ATTENDEES VOICE-RECORD THEIR NAMES</h4>
                      <p>Our online voice-recorder is quick and easy to use.</p>
                    </div>
                    <%= image_tag("record_2_3.png", alt: "Rails") %>
                  </div>
                  <div class="item">
                    
                    <div class="carousel-caption">
                      <h4>STEP 3: EVENT MC HEARS AND PRACTICES NAMES</h4>
                      <p>Voice-recordings allow for perfectly easy, easily perfect pronunciations!</p>
                    </div>
                    <%= image_tag("event_page_22.png", alt: "Rails") %>
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>



              </div>

          <p><a class="btn btn-primary btn-large bg-purple" href="<%= works_path %>">See How Easily it Works <i class="icon-chevron-right icon-white"></i></a></p>
        </div>

      </div>

      <hr>

       

            
    </div> <!-- /container -->

   
  