
   <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=key%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>







<div class="container">

                <br/>
                <br/>

                  <div id="bg">
                       <%= image_tag("DJ_3.jpg", alt: "Rails", class: 'gold_image') %>
                  </div>

                  <br/><br/>

                  <div class="row">
                     <div class="span12">
                       <h1> <span class="gold"><i class="icon-key"></i>&nbsp;&nbsp;A Unique Service</span></h1>
                     </div>
                  </div>

                  <div class="row">
                    <div class="span12">
                              <div class="text-divider6">
                                <span class="gold"></span>
                              </div> 
                    </div>
                  </div>

                 <div class="row biggertext">
                        <br/>

                        <div class="span11 offset1">
                              <h2><span class="">VoiceGems collects short pre-recorded wedding toasts for you to blend in your entertainment mix, creating an emotional touch everyone will love and remember!</span> </h2>
                              <br/><br/>

                              <div class="row">
                                     <div class="span10 offset1">
                                          <h3>
                                                
                                                <i class="icon-key gold"></i>&nbsp;&nbsp;Easy to collect and access recordings through our web links<br/><br/>
                                                <i class="icon-key gold"></i>&nbsp;&nbsp;All recordings treated with cutting-edge noise reduction audio processors<br/><br/>
                                                <i class="icon-key gold"></i>&nbsp;&nbsp;Highest quality voice MP3's downloadable for easy integration<br/><br/>
                                               
                                              
                                              
                                          </h3>
                                    </div>
                             </div>

                           
                        </div>
                 </div>

                 <br/><br/><br/>

                <div class="row">
                  <div class="span12">
                    <h1><span class="gold"><i class="icon-leaf"></i>&nbsp;&nbsp;Growth-Enhancing Benefits</span></h1>
                  </div>
                </div>

                <div class="row">
                    <div class="span12">
                              <div class="text-divider6">
                                <span class="gold"></span>
                              </div> 
                    </div>
                </div>

                <br/>

                <div class="row">

                          <div class="span11 offset1">
                                        <h2><span class="">Don't miss this brand new opportunity to grow your business:<br/></span> </h2>
                                        <br/><br/>
                                 <div class="row">
                                     <div class="span8 offset1">
                                            <h3>
                                               <i class="icon-leaf gold"></i>&nbsp;&nbsp;Provide an additional revenue channel<br/><br/>
                                                  <i class="icon-leaf gold"></i>&nbsp;&nbsp;Expand your service portfolio<br/><br/>
                                                  
                                                  <i class="icon-leaf gold"></i>&nbsp;&nbsp;Differentiate your business and your brand<br/><br/>
                                                
                                                
                                            </h3>
                                     </div>
                                 </div>
                           </div>
                </div>





             
        
                <br/>
                <br/>

                <div class="row">                  
                    <div class="span12">
                          <h1><span class="gold"><i class="icon-cogs"></i>&nbsp;&nbsp;Four Easy Steps</span></h1>
                          <div class="text-divider6">
                            <span class="gold"></span>
                          </div>
                     </div> <!-- END SPAN8 OFFSET4 --> 
                </div>
                              
                <div class="content process biggertext">
                      <div class="row">
                           <div class="span8 offset2">
                                <div class="process-meta-gold fl-left">
                                  <span>1</span>
                                </div>
                             
                                 <br/>
                                 <span class="ph3">&nbsp;&nbsp;&nbsp;DJ Creates a VoiceGems Page for an Event</span>&nbsp;&nbsp;
                                <br/>                                
                            </div> 
                      </div>
                  

                      <div class="row">
                          <div class="span8 offset3">
                              <span class="biggerlink">Demo Page&nbsp;<i class="icon-caret-right"></i>&nbsp;&nbsp;<a href="<%= demo_event_page_path %>" target="_blank">VoiceGems Page for the Jones-Ravenwood Wedding</span></a>
                            <br/><br/>
                          </div>
                      </div>
                      
               

                      <div class="row">
                           <div class="span8 offset2">
                                  <div class="process-meta-gold fl-left">
                                    <span>2</span>
                                  </div>
                             
                                   <br/>
                                   <span class="ph3">&nbsp;&nbsp;&nbsp;A Link is Shared with Guests, Friends & Family before the Event</span>&nbsp;&nbsp;
                                  <br/>
                     
                                
                            </div> 
                      </div>
          

                      <div class="row">
                          <div class="span8 offset3">
                              
                              <span class="biggerlink">Demo Link&nbsp;<i class="icon-caret-right"></i>&nbsp;&nbsp;<a href="<%= @url%>" target="_blank">Please record your VoiceGem for the Jones-Ravenwood wedding here!</span></a>
                              <br/><br/>
                          </div>
                      </div>
       
                      <div class="row">
                          <div class="span8 offset2">
                                 <div class="process-meta-gold fl-left">
                                    <span>3</span>
                                 </div>
                             
                                 <br/>
                                 <span class="ph3">&nbsp;&nbsp;&nbsp;They Record Short Messages/Toasts with our Online Voice Recorder</span>&nbsp;&nbsp;
                                  <br/>
                                 &nbsp;&nbsp;&nbsp;<span class="help-block">(30-second limit on messages. Can be paired with song requests.)</span>   
                          
                           </div> 
                      </div>


                      <br/>
                      <br/>
                    
               
                      <div class="row">
                             <div class="span8 offset2">
                                    <div class="process-meta-gold fl-left">
                                      <span>4</span>
                                    </div>
                             
                                    <br/>
                                   <span class="ph3">&nbsp;&nbsp;&nbsp;DJ Blends the VoiceGems into Music for an Unforgettable Event!</span>&nbsp;&nbsp;
                                    <br/>
                                    &nbsp;&nbsp;&nbsp;<span class="help-block">(All VoiceGems downloadable as high-quality noise-cancelled MP3's for easy mixing)</span>   
                             </div> 
                      </div>


                 </div> <!-- END CONTENT PROCWESS --> 

                               
                                


                  <br/>
                  <br/>

                  <div class="row">
                        <div class="span12">
                          <h1><span class="gold"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i>&nbsp;&nbsp;Get Started!</span></h1>
                                  <div class="text-divider6">
                                    <span class="gold"></span>
                                  </div> 
                        </div>

                  </div>

              

                           
                 <br/>
                 <br/>

                <div class="row">


                        <div class="span5 offset1 home-block">  <div class="sep"></div>
                            <div class="hero-block-2 biggertext">
                                <h2><em>Start Your Free 30-Day Trial</em></h2> <br/>
                                <h3>
                                <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;Create Free Event Pages for your Clients</p>
                                <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;Request VoiceGems (Unlimited)</p>
                                <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;Download and Mix VoiceGems from the Page</p>
                              
                                </h3>
                                <a href="<%= newcustomer_trial_path %>" class="btn btn-info btn-large">Start Free Trial&nbsp;&nbsp;<i class="icon-chevron-right"></i><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i></a>
                                 <br/>
                                <span class="cent gray"><em></em></span>
                                 
                            </div>
                           <div class="tp-bannershadow tp-shadow3"></div>
                      </div>



                    <div class="span6 home-block">  <div class="sep"></div>
                            <div class="hero-block-2 biggertext">
                                <h2><em>Register for a VoiceGems Account to:</em></h2> <br/>
                                <h3>
                                <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;Create Event Pages for your Clients (only $99 each)</p>
                                <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;Request VoiceGems (Unlimited)</p>
                                <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;Download and Mix VoiceGems from the Page</p>
                              
                                </h3>
                                <a href="<%= newcustomer_purchase_path %>" class="btn btn-info btn-large">Register&nbsp;&nbsp;<i class="icon-chevron-right"></i><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i></a>
                                 <br/>
                                <span class="cent gray"><em></em></span>
                                 
                            </div>
                           <div class="tp-bannershadow tp-shadow3"></div>
                      </div>



                     
                </div>
                
                <div class="row">
                    <div class="span11 offset1">
                      <h2><span class="gold">We'll help you open a treasure of memories and sentiments for your clients...</span> </h2> 
                    </div>
                </div>

                <br/>

                 <div class="row">
                        <div class="span12">
                                  <div class="text-divider5">
                                    <span class="gold"></span>
                                  </div> 
                        </div>

                 </div>

                            
                                   
        
        



</div> <!--CONTAINER> 