
   <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=key%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>







<div class="container">

                <br/>
                <br/>

                  <div id="bg">
                       <%= image_tag("DJ_3.jpg", alt: "Rails", class: 'gold_image') %>
                  </div>

                  <br/><br/>

                  <div class="row">
                     <div class="span12">
                       <h1> <span class="gold"><i class="icon-key"></i>&nbsp;&nbsp;Mix Music with Meaning</span></h1>
                     </div>
                  </div>

                  <div class="row">
                    <div class="span12">
                              <div class="text-divider6">
                                <span class="gold"></span>
                              </div> 
                    </div>
                  </div>

                 <div class="row biggertext">
                        <br/>

                        <div class="span11 offset1">
                              <h2><span class="">VoiceGems collects short pre-recorded wedding toasts for you to blend in your entertainment mix, creating a meaningful touch everyone will love and remember!</span> </h2>
                              <br/><br/>

                              <div class="row">
                                     <div class="span10 offset1">
                                          <h3>
                                           <ul>     
                                                <li>Easy to collect and access recordings through our custom web links</li><br/>
                                                <li>All recordings polished with cutting-edge noise reduction audio processors&nbsp;<i class="icon-caret-right"></i><a href="<%= auphonic_path%>" target="_blank"><em>Learn More</em></a></li><br/>
                                                <li>Highest quality voice MP3's downloadable for easy integration</li><br/>
                                           </ul>   
                                            
                                              
                                          </h3>
                                    </div>
                             </div>

                           
                        </div>
                 </div>

                 <br/><br/><br/>

                <div class="row">
                  <div class="span12">
                    <h1><span class="gold"><i class="icon-leaf"></i>&nbsp;&nbsp;Why VoiceGems?</span></h1>
                  </div>
                </div>

                <div class="row">
                    <div class="span12">
                              <div class="text-divider6">
                                <span class="gold"></span>
                              </div> 
                    </div>
                </div>

                <br/>

                <div class="row">
               
                        <h2 class="cent gold"><em>Growth-Enhancing Benefits for DJs</em></h2> <br/><br/>

                         <div class="span5 offset1">

                                
                                            <iframe src="http://www.tumblr.com/video/voicegems/76508077674/400" id="tumblr_video_iframe_76508077674" class="tumblr_video_iframe" width="400" height="225" style="display:block;background-color:transparent;overflow:hidden;" allowTransparency="true" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>    
                                      <br/>
                                      <div class="test">
                                          <strong><span class="qstart">&#8220;</span>It's really made a difference in our weddings... I truly think this product will change the wedding industry more over the next five years than anything I've seen in a long time.<span class="qend">&#8221;</span></strong>
                                      </div>
                                      <div class="test-arrow"></div>
                                      <br/>
                                      <strong>DJ Allen Walker, Big Daddy Walker Productions</strong><br/><span class="embeddlr_links">Source: <a href="http://blog.voicegems.com/post/76508077674/hear-from-an-industry-veteran-allen-walker-a-dj" target="_blank">Voicegems Blog</a> </span><br/>
                       </div>

                       <div class="span6">
                                <br/><br/>
                                            <h3>
                                               <ul>
                                                  <li>Provide an additional revenue channel</li><br/>
                                                  <li>Expand your service portfolio</li><br/>                                
                                                  <li>Differentiate your business and your brand</li><br/>
                                               </ul> 
                                            </h3>
                            
                                <h4>&nbsp;&nbsp;<i class="icon-caret-right"></i><span class="blue"><a href="http://blog.voicegems.com/post/76419990712/3-things-brides-consider-when-choosing-vendors-its" target="_blank"><em>&nbsp;&nbsp;See why the Founder of BridalTweet.com endorses VoiceGems&nbsp;&nbsp;</a></em></span></h4>
                      </div>

                </div>

                <br/>
                <div class="row">
                    <div class="span12">
                              <hr/>
                    </div>
                </div>
                <br/>

                <div class="row">
               
                        <h2 class="cent gold"><em>A More Meaningful Experience for Clients</em></h2> <br/><br/>

                         <div class="span5 offset1">

                                
                                            <iframe src="http://www.tumblr.com/video/voicegems/76508557114/400" id="tumblr_video_iframe_76508557114" class="tumblr_video_iframe" width="400" height="225" style="display:block;background-color:transparent;overflow:hidden;" allowTransparency="true" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>  
                                      <br/>
                                      <div class="test">
                                          <strong><span class="qstart">&#8220;</span>Our wedding experience was just completely different, and it's definitely something I would recommend for your wedding.<span class="qend">&#8221;</span></strong>
                                      </div>
                                      <div class="test-arrow"></div>
                                      <br/>
                                      <strong>Kim Schafer, Former Bride, Cincinnati, OH</strong><br/><span class="embeddlr_links">Source: <a href="http://blog.voicegems.com/post/76508557114/brides-love-voicegems-and-here-is-what-kim" target="_blank">Voicegems Blog</a> </span><br/>
                       </div>

                       <div class="span6">
                                <br/><br/>
                                            <h3>
                                               <ul>
                                                  <li>Any family member or friend can express their sentiments, even those who can't be there</li><br/>
                                                  <li>Toasts become more thoughtful - no more last minute fumbling or embarassing ramblings</li><br/>   <li>Music takes on an altogether new dimension when blended with VoiceGems</li><br/>                           
                                               </ul> 
                                                
                                            </h3>
                       
                      </div>

                </div>



             
        
                <br/>
                <br/>
                <br/>

                <div class="row" id="steps">                  
                    <div class="span12">
                          <h1><span class="gold"><i class="icon-cogs"></i>&nbsp;&nbsp;Four Easy Steps</span></h1>
                          <div class="text-divider6">
                            <span class="gold"></span>
                          </div>
                     </div> <!-- END SPAN8 OFFSET4 --> 
                </div>
                              
                <div class="content process biggertext">
                      <div class="row">
                           <div class="span8 offset2">
                                <div class="process-meta-gold fl-left">
                                  <span>1</span>
                                </div>
                             
                                 <br/>
                                 <span class="ph3">&nbsp;&nbsp;&nbsp;DJ Creates a VoiceGems Page for an Event</span>&nbsp;&nbsp;
                                <br/>                                
                            </div> 
                      </div>
                  

                      <div class="row">
                          <div class="span8 offset3">
                              <span class="biggerlink">Demo Page&nbsp;<i class="icon-caret-right"></i>&nbsp;&nbsp;<a href="<%= demo_event_page_path %>" target="_blank">VoiceGems Page for the Jones-Ravenwood Wedding</span></a>
                            <br/><br/>
                          </div>
                      </div>
                      
               

                      <div class="row">
                           <div class="span8 offset2">
                                  <div class="process-meta-gold fl-left">
                                    <span>2</span>
                                  </div>
                             
                                   <br/>
                                   <span class="ph3">&nbsp;&nbsp;&nbsp;A Link is Shared with Guests, Friends & Family before the Event</span>&nbsp;&nbsp;
                                  <br/>
                     
                                
                            </div> 
                      </div>
          

                      <div class="row">
                          <div class="span8 offset3">
                              
                              <span class="biggerlink">Demo Link&nbsp;<i class="icon-caret-right"></i>&nbsp;&nbsp;<a href="<%= @url%>" target="_blank">Please record your VoiceGem for the Jones-Ravenwood wedding here!</span></a>
                              <br/><br/>
                          </div>
                      </div>
       
                      <div class="row">
                          <div class="span8 offset2">
                                 <div class="process-meta-gold fl-left">
                                    <span>3</span>
                                 </div>
                             
                                 <br/>
                                 <span class="ph3">&nbsp;&nbsp;&nbsp;They Record Short Messages/Toasts with our Online Voice Recorder</span>&nbsp;&nbsp;
                                  <br/>
                                 &nbsp;&nbsp;&nbsp;<span class="help-block">(30-second limit on messages. Can be paired with song requests.)</span>   
                          
                           </div> 
                      </div>


                      <br/>
                      <br/>
                    
               
                      <div class="row">
                             <div class="span8 offset2">
                                    <div class="process-meta-gold fl-left">
                                      <span>4</span>
                                    </div>
                             
                                    <br/>
                                   <span class="ph3">&nbsp;&nbsp;&nbsp;DJ Blends the VoiceGems into Music for an Unforgettable Event!</span>&nbsp;&nbsp;
                                    <br/>
                                    &nbsp;&nbsp;&nbsp;<span class="help-block">(All VoiceGems downloadable as high-quality noise-cancelled MP3's for easy mixing)</span>   
                             </div> 
                      </div>


                 </div> <!-- END CONTENT PROCWESS --> 

                               
                                


                  <br/>
                  <br/>

                  <div class="row">
                        <div class="span12">
                          <h1><span class="gold"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i>&nbsp;&nbsp;Get Started Today!</span></h1>
                                  <div class="text-divider6">
                                    <span class="gold"></span>
                                  </div> 
                        </div>

                  </div>

              

                           
                 <br/>
                 <br/>

                <div class="row">


                        <div class="span6 home-block">  <div class="sep-gold"></div>
                            <div class="hero-block-2 biggertext">
                                <h2><em>Start Your Free 30-Day Trial</em></h2> <br/>
                                <h3>
                                <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;Create Event Pages for your Clients (unlimited 30-day use)</p>
                                <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;Request VoiceGems (unlimited)</p>
                                <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;Download and Mix VoiceGems from the Page</p>
                              
                                </h3>
                                <a href="<%= newcustomer_trial_path %>" class="btn btn-info btn-large">Start Free Trial&nbsp;&nbsp;<i class="icon-chevron-right"></i><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i></a>
                                 <br/>
                                <span class="cent gray"><em></em></span>
                                 
                            </div>
                           <div class="tp-bannershadow tp-shadow3"></div>
                      </div>



                    <div class="span6 home-block">  <div class="sep-gold"></div>
                            <div class="hero-block-2 biggertext">
                                <h2><em>Register for a VoiceGems Account to:</em></h2> <br/>
                                <h3>
                                <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;Buy and Create Event Pages for your Clients (no expiration)</p>
                                <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;Request VoiceGems (unlimited)</p>
                                <p>&nbsp;&nbsp;<i class="icon-ok light-blue"></i>&nbsp;&nbsp;Download and Mix VoiceGems from the Page</p>
                              
                                </h3>
                                <a href="<%= newcustomer_purchase_path %>" class="btn btn-info btn-large">Register&nbsp;&nbsp;<i class="icon-chevron-right"></i><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i></a>
                                 <br/>
                                <span class="cent gray"><em></em></span>
                                 
                            </div>
                           <div class="tp-bannershadow tp-shadow3"></div>
                      </div>



                     
                </div>
                
  
                <br/>

                 <div class="row">
                        <div class="span12">
                                  <div class="text-divider5">
                                    <span class="gold"></span>
                                  </div> 
                        </div>

                 </div>

                            
                                   
        
        



</div> <!--CONTAINER> 