<div class="whitebg white_outline">
   <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=key%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>


     <% if mobile_device? %>
         <div>
     <% else %>
         <div id="mic">
      <% end %>
                <br/>
                <br/>

                <div class="row">
                    <div class="span9 offset1">
                      <h1><span class="gold"><i class="icon-magic"></i>&nbsp;&nbsp;What is VoiceGems?</span></h1>
                    </div>
                </div>

                <div class="row">
                  <div class="span11 offset1">
                            <div class="text-divider6">
                              <span class="gold"></span>
                            </div> 
                  </div>
               </div>

               <div class="row biggertext">
                   <div class="span9 offset2">
                      <br/><br/>
                        <h2>VoiceGems is a cloud-based service exclusively designed for DJ's to provide a completely new dimension in your clients' experience.</h2> <br/>
                        <h5>This brand-new service is currently available in private BETA.</h5>
                   </div>
               </div>

                <br/><br/>

                <div class="row">
                   <div class="span9 offset1">
                     <h1> <span class="gold"><i class="icon-key"></i>&nbsp;&nbsp;Unique Features</span></h1>
                   </div>
                </div>

                <div class="row">
                  <div class="span11 offset1">
                            <div class="text-divider6">
                              <span class="gold"></span>
                            </div> 
                  </div>
                </div>

                 <div class="row biggertext">
                    <br/>
                    <div class="span9 offset2">
                          <h2><span class="white_outline">VoiceGems lets you collect short pre-recorded wedding toasts for you to integrate into your entertainment mix, creating an unparalleled emotional touch they will love and remember.</span> </h2>
                          <br/>
                          <div class="row">
                             <div class="span8 offset1">
                                  <h3>
                                     
                                        <i class="icon-chevron-right"></i>&nbsp;&nbsp;Easy to collect and access recordings through our web links<br/><br/>
                                        <i class="icon-chevron-right"></i>&nbsp;&nbsp;Can be managed through your existing infrastructure<br/><br/>
                                        <i class="icon-chevron-right"></i>&nbsp;&nbsp;Highest quality voice MP3's downloadable for easy integration<br/><br/>
                                        <i class="icon-chevron-right"></i>&nbsp;&nbsp;Opens a treasure of memories and sentiments for your clients<br/><br/>
                                      
                                      
                                  </h3>
                            </div>
                         </div>
                 </div>
                </div>

                <br/><br/>

                <div class="row">
                  <div class="span9 offset1">
                    <h1><span class="gold"><i class="icon-leaf"></i>&nbsp;&nbsp;Growth-Enhancing Benefits</span></h1>
                  </div>
                </div>

                <div class="row">
                  <div class="span11 offset1">
                            <div class="text-divider6">
                              <span class="gold"></span>
                            </div> 
                  </div>
                </div>

                <br/>

                <div class="row">
                             <div class="span8 offset3">
                                  <h2>
                                     
                                        <i class="icon-chevron-right"></i>&nbsp;&nbsp;<em>Expand your service portfolio</em><br/><br/>
                                        <i class="icon-chevron-right"></i>&nbsp;&nbsp;<em>Provide an additional revenue channel</em><br/><br/>
                                        <i class="icon-chevron-right"></i>&nbsp;&nbsp;<em>Increase your brand differentiation</em><br/><br/>
                                      
                                      
                                  </h2>
                           </div>
                </div>



      </div> <!--MIC --> 

      </div>
          <div class="sep"></div>
      </div>
      
      <div class="container">
      <div class="bottom">
          <br/>
          <br/>

                  <div class="row">                  
                      <div class="span11 offset1">
                        <h1><span class="gold"><i class="icon-cogs"></i>&nbsp;&nbsp;How It Works</span></h1>
                          <div class="text-divider6">
                            <span class="gold"></span>
                          </div>
                       </div> <!-- END SPAN8 OFFSET4 --> 
                  </div>
                  
                  <div class="content process biggertext">

                      <div class="row">
                         <div class="span8 offset2">
                              <div class="process-meta-gold fl-left">
                                <span>1</span>
                              </div>
                           
                               <br/>
                               <span class="ph3">&nbsp;&nbsp;&nbsp;A Link is Shared with Guests, Friends & Family before the Wedding</span>&nbsp;&nbsp;
                              <br/>
                              &nbsp;&nbsp;&nbsp;<span class="help-block">(or emails entered for personal invitations)<span> <br/>  
                              
                          </div> 
                      </div>

                      <br/>
                      <br/>


              
                      <div class="row">
                          <div class="span8 offset2">
                             <div class="process-meta-gold fl-left">
                                <span>2</span>
                             </div>
                         
                             <br/>
                             <span class="ph3">&nbsp;&nbsp;&nbsp;They Record Short Messages/Toasts with our Online Voice Recorder</span>&nbsp;&nbsp;
                              <br/>
                             &nbsp;&nbsp;&nbsp;<span class="help-block">(30-second limit on messages. Can be paired with song requests.)</span>   
                          
                           </div> 
                      </div>

                      <div class="row">
                        <div class="span8 offset3">
                          <hr/>
                          <span class="biggerlink">Demo Link&nbsp;<i class="icon-caret-right"></i>&nbsp;&nbsp;<a href="<%= @url%>" target="_blank">Please record your VoiceGem for the Jones-Ravenwood wedding here!</span></a>
                          <hr/>
                        </div>
                      </div>

               
                      <div class="row">
                         <div class="span8 offset2">
                            <div class="process-meta-gold fl-left">
                              <span>3</span>
                            </div>
                         
                             <br/>
                             <span class="ph3">&nbsp;&nbsp;&nbsp;DJ Blends the VoiceGems into Music for an Unforgettable Event!</span>&nbsp;&nbsp;
                              <br/>
                              &nbsp;&nbsp;&nbsp;<span class="help-block">(All VoiceGems downloadable as high-quality MP3's for easy mixing)</span>   
                         </div> 
                      </div>


                  </div> <!-- END CONTENT --> 

                   
                    


                  <br/>
                  <br/>

                  <div class="row">
                    <div class="span11 offset1">
                      <h1><span class="gold"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i>&nbsp;&nbsp;How to Get Started</span></h1>
                              <div class="text-divider6">
                                <span class="gold"></span>
                              </div> 
                    </div>

                  </div>


                 <div class="row biggertext">

                    <div class="span10 offset2">
                       <br/>
                      <h3>Choose a plan to meet your needs: </h3> 

                         <br/><br/>
                         <div class = "row">
                              <div class="span8">
                                   <!--SILVER-->
                                    <div class="fltlft PlanBoxGold">
                                      <div class="PlanBoxHeading bg-gold"><%= @first_plan.name.upcase%> PLAN</div>
                                      <div class="PlanBoxContent">
                                        <ul>
                                          <li><strong>$<%= @first_plan.monthly_cost_cents / 100 %> Monthly</strong></li>
                                          <li><%= @first_plan.events_number%> Events / Year</li>
                                          <li>Unlimited VoiceGems </li>
                                          <li>Free 30 Day Trial</li>
                                          <li>
                                            <p class="PlanBoxSignUp"><%= form_for(:snc, url: newcustomer_path) do |y| %>
                                            <%= y.hidden_field :plan, :value => @first_plan.my_plan_id %>
                                             <%= y.hidden_field :event_type, :value => 'voicegems' %>
                                              <%= y.submit "Start Free Trial!", class: "btn-primary btn-large" %>
                                            <% end %>  </p>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>

                                    <!--Gold-->
                                    <div class="fltlft PlanBoxGold">
                                      <div class="PlanBoxHeading bg-gold"><%= @second_plan.name.upcase%> PLAN</div>
                                      <div class="PlanBoxContent">
                                        <ul>
                                          <li><strong>$<%= @second_plan.monthly_cost_cents / 100 %> Monthly</strong></li>
                                          <li><%= @second_plan.events_number%> Events / Year</li>
                                          <li>Unlimited VoiceGems </li>
                                          <li>Free 30 Day Trial</li>
                                          <li>
                                            <p class="PlanBoxSignUp"><%= form_for(:snc, url: newcustomer_path) do |y| %>
                                            <%= y.hidden_field :plan, :value => @second_plan.my_plan_id %>
                                             <%= y.hidden_field :event_type, :value => 'voicegems' %>
                                              <%= y.submit "Start Free Trial!", class: "btn-primary btn-large" %>
                                            <% end %>  </p>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    
                                    <!--Platinum-->
                                    <div class="fltlft PlanBoxGold">
                                      <div class="PlanBoxHeading bg-gold"><%= @third_plan.name.upcase%> PLAN</div>
                                      <div class="PlanBoxContent">
                                        <ul>
                                          <li><strong>$<%= @third_plan.monthly_cost_cents / 100 %> Monthly</strong></li>
                                          <li><%= @third_plan.events_number%> Events / Year</li>
                                          <li>Unlimited VoiceGems </li>
                                          <li>Free 30 Day Trial</li>
                                          <li>
                                            <p class="PlanBoxSignUp"><%= form_for(:snc, url: newcustomer_path) do |y| %>
                                            <%= y.hidden_field :plan, :value => @third_plan.my_plan_id %>
                                             <%= y.hidden_field :event_type, :value => 'voicegems' %>
                                              <%= y.submit "Start Free Trial!", class: "btn-primary btn-large" %>
                                            <% end %>  </p>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                              </div>
                            </div>


                          </div>

                       </div>

                 <br/>
                 <br/>
                 <br/>

                 <div class="row">
                  <div class="span11 offset1">
                            <div class="text-divider5">
                              <span class="gold"></span>
                            </div> 
                  </div>

                 </div>

                
                       
      </div> <!--BOTTOM --> 
      </div> <!--END CONTAINER --> 
</div> <!--WHITEBG --> 
