                              
<div class="container">


<br/>
<br/>

  <div class="row">

                  <div class="col-xs-8 col-md-offset-2 home-block">
                            <div class="grey-box hero-block-2">
                                <center><h4 >Log In</h4></center><br/>
                                <%= simple_form_for(:session, :url => sessions_path, :wrapper => :bootstrap_horizontal, :html => {:class => "form-horizontal"}) do |f| %>
                                       <% flash.each do |key, value| %>
                                         <div class="alert alert-<%=get_alert_class(key)%> alert-dismissable"> 
                                         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                         <%= value %> 
                                         </div>
                                       <% end %>
                                        <%= f.input :email, label: "Email" %>
                                        <%= f.input :password, label: "Password" %>

                                      
                                        <div class="form-action">
                                        <br/>
                                        <%= f.button :submit, "Log In", class: "btn btn-primary", disable_with: "logging in..." %>
                                        <br/>
                                          
                                        <hr/>
                                           <a href="<%= new_password_reset_path %>" >Forgot Password?</a>
                                        </div>

                                    <% end %>
                            </div>
                           <div class="tp-bannershadow tp-shadow1"></div>
                  </div>
                  <br><br><br><br><br>
  </div>
</div>

<script>
    jQuery(function(){
        $('#nav').load('nav.html');
    });

    jQuery(function(){
     $('.nav a:contains("Log In")').parent().addClass('active');
    });
</script>