
<!DOCTYPE html>
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
     <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= csrf_meta_tags %>

    <%= yield(:head) %>


<script type="text/javascript">

  var _gaq = _gaq || [];
  var pluginUrl =
 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', 'UA-38323450-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


  </head>
  <body  id="mob2">
<div class="row">

       <div class="span4">
          <div class="logo" id="logo2">
                <h1><a href="<%= root_path %>">Name<span class="purple fat">Coach</span></a></h1>
                <p class="meta">&nbsp;<em>hear the name, say it right</em> </p>
           </div>
      </div>

</div>

<div class="sep"></div>

<% flash.each do |key, value| %>
    <div class="alert alert-block alert-<%=key%>"> 
    <%= value %> 
    </div>
<% end %>
<div class="container">

<br/>
<br/>

<div class="row">
	<div class="span5 offset3">
        <h4><i class="icon-lock icon-large"></i>&nbsp;&nbsp;<span class="blue">Would you like to set a password now?</span></h4>

 			<%= simple_form_for(@user, :html => {:class => "form-horizontal"}) do |f| %>
                <br/>
                <%= f.error_notification %>
                    
                    <%= f.input :password, hint: "(minimum 6 characters)", label: "Create Password" %>
                    <%= f.input :password_confirmation, label: "Confirm Password" %>

                  
                    <div class="form-actions">
                     
                    <%= f.submit  "Set Password", class: "btn btn-large btn-primary", disable_with: "setting..." %>
                

                <% end %>


                </div>

                  <a href="<%= skip_path %>" class="btn btn-primary pull-right btn-small"> Skip <i class="icon-caret-right icon-white"></i> </a> 
                    </div>

</div>

</div>
<hr/>

  </body>
</html>