

<div class="jumbotron">
        <h1>Subscription Plans</h1>
      
</div>
              
             
             <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=key%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>

<br/>
<br/>

<div class="container">

<div class="row">

 <div class="span8 offset2">
  
 <!--SILVER-->
        <div class="fltlft PlanBoxGold">
          <div class="PlanBoxHeading"><%= @first_plan.name.upcase%> PLAN</div>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$<%= @first_plan.monthly_cost_cents / 100 %> Monthly</strong></li>
              <li><%= @first_plan.events_number%> Events / Year</li>
              <li>Unlimited Name Recordings </li>
              <li>Free 14 Day Trial</li>
              <li>
                <p class="PlanBoxSignUp"><%= form_for(:sec, url: purchase_sub_existing_choose_path) do |y| %>
                   <%= y.hidden_field :plan, :value => @first_plan.my_plan_id %>
                    <%= y.submit "Start Free Trial!", class: "btn-primary btn-large" %>
                  <% end %> </p>
              </li>
            </ul>
          </div>
        </div>

      <!--Gold-->
        <div class="fltlft PlanBoxGold">
          <div class="PlanBoxHeading"><%= @second_plan.name.upcase%> PLAN</div>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$<%= @second_plan.monthly_cost_cents / 100 %> Monthly</strong></li>
              <li><%= @second_plan.events_number%> Events / Year</li>
              <li>Unlimited Name Recordings </li>
              <li>Free 14 Day Trial</li>
              <li>
                <p class="PlanBoxSignUp"> <%= form_for(:sec, url:purchase_sub_existing_choose_path) do |y| %>
                    <%= y.hidden_field :plan, :value => @second_plan.my_plan_id  %>
                    <%= y.submit "Start Free Trial!", class: "btn-primary btn-large" %>
                  <% end %>  </p>
              </li>
            </ul>
          </div>
        </div>
        
        <!--Platinum-->
        <div class="fltlft PlanBoxGold">
          <div class="PlanBoxHeading"><%= @third_plan.name.upcase%> PLAN</div>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$<%= @third_plan.monthly_cost_cents / 100 %> Monthly</strong></li>
              <li><%= @third_plan.events_number%> Events / Year</li>
              <li>Unlimited Name Recordings </li>
              <li>Free 14 Day Trial</li>
              <li>
                <p class="PlanBoxSignUp"> <%= form_for(:sec, url: purchase_sub_existing_choose_path) do |y| %>
                    <%= y.hidden_field :plan, :value =>  @third_plan.my_plan_id %>
                    <%= y.submit "Start Free Trial!", class: "btn-primary btn-large" %>
                  <% end %> </p>
              </li>
            </ul>
          </div>
        </div>

       


  </div>

</div>

</div>





