<% flash.each do |key, value| %>
    <div class="alert alert-block alert-<%=key%>"> 
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= value %> 
    </div>
<% end %>
<div class="container">

<br/>
<br/>

<div class="row">
	<div class="well span5 offset3">
        <h4><i class="icon-lock icon-large"></i>&nbsp;&nbsp;<span class="blue">Would you like to set a password now?</span></h4>

 			<%= simple_form_for(@user, :html => {:class => "form-horizontal"}) do |f| %>
                <br/>
                <%= f.error_notification %>
                    
                    <%= f.input :password, hint: "(minimum 6 characters)", label: "Create Password" %>
                    <%= f.input :password_confirmation, label: "Confirm Password" %>

                  
                    <div class="form-actions">
                     
                    <%= f.submit  "Set Password", class: "btn btn-large btn-primary", disable_with: "setting..." %>
                

                <% end %>


                </div>

                  <a href="<%= skip_path %>" class="btn btn-primary pull-right btn-small"> Skip <i class="icon-caret-right icon-white"></i> </a> 
                    </div>

</div>

</div>
