<p id="notice"><%= notice %></p>

<h1> Your Namewave </h1>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>


<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<p>
  <b>Recording:</b>
  <%= @user.recording %>
</p>

<p>
  <b>Phonetic:</b>
  <%= @user.phonetic %>
</p>

<p>
  <b>Notes:</b>
  <%= @user.notes %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>

<p>
  <b>Customer:</b>
  <%= @user.customer %>
</p>

<h2>  Edit your Namewave </h2>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :recording %><br />
    <%= f.text_field :recording %>
  </div>
  <div class="field">
    <%= f.label :phonetic %><br />
    <%= f.text_field :phonetic %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>
 
    <div><%= f.hidden_field :password %></div>
  <div><%= f.hidden_field :password_confirmation %></div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<%= link_to 'Edit', edit_user_path(@user) %> |
 <%= link_to "Sign out", signout_path, method: "delete" %>
