<%# show page is restricted through correct_user %>

 <% if @user.customer %>
      <h2> Dashboard for <em><%= @user.email %></em> </h2>
<% else %>
      <h2> Dashboard for <em><%= @user.email %></em> </h2>
<% end %>

             <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=get_alert_class(key)%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>

<br/>
<br/>

<div class="container">



    <% if @user.customer %>
       <%= render 'users/vgcustomershow' %>
    <% else %>
       <% if @user.admin %>
          <%= render 'users/vgadminshow' %>
       <% else %>
          <%= render 'users/vgregularshow' %>       
       <% end %> 
    <% end %>

</br></br></br></br>

</div>

<script>
    jQuery(function(){
        $('#nav').load('nav.html');
    });

    jQuery(function(){
     $('.nav a:contains("Dashboard")').parent().addClass('active');
    });
</script>


