<div class="jumbotron">
        <h1>Customer Signup</h1>
      <br/>
      <h3><i class="icon-check icon-white"></i>&nbsp;Step 1: New User Registration</h3>
      <h3><span class="deco">&nbsp;<% if current_user.customer_id.blank? %><i class="icon-check-empty icon-white"></i>&nbsp;Step 2: Subscription<% else %><i class="icon-check-empty icon-white"></i>&nbsp;Step 2: Purchase Subscription<% end %></span></h3>
  </div>
               
<!-- This is exactly the same as stripetest, except for the jumbotron stuff -->
             
             <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=key%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>

<br/>
<br/>

<div class="container" >
        
<br/>

<div class="row">

        <div class="well span6 offset3">

      
        <hr/>
        <div class="accordion" id="accordionsub">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionsub" href="#collapsechange">
                     <h3> <span class="help-block">Subscription Plan</span></h3>
                    </a>
                  </div>
                  <div id="collapsechange" class="accordion-body collapse in">
                      <div class="accordion-inner">
                                 <% if !@planobject.nil? %>
                                   
                                      <h4> <%= @planobject.name %> ($<%= (@planobject.annual_cost_cents)/100 %>.00/year)  </h4> 
              
                                    
                                    <% if !@coupon.nil? && !@new_price.nil? %>
                                    <h4> <icon class="icon-caret-right"></i>&nbsp;<em>Discount Applied (<%= @coupon.percent_off %>% off): now only $<%= number_with_precision((@new_price.to_f)/100, :precision => 2) %>/year </em></h4>
                                    <% end %>
                                   
                                    <h4>14-day Free Trial</h4>
                                <% else %>
                                    Please choose a subscripton plan under 'Choose a Different Plan' below.

                                <% end %>

                            <!-- catch case in which @plan is empty and choose plan;-->    

                      </div><%# end accordion inner %>
                  </div><%# end collapsechange %>
                </div><%# end accordigion group %>

                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionsub" href="#collapsechange2">
                      <h5><span class="blue">Choose a Different Plan</span></h5>
                    </a>
                  </div>
                  <div id="collapsechange2" class="accordion-body collapse">
                      <div class="accordion-inner">
                          <%= form_for(:sub, url: changesub_edu_path) do |y| %>
                                               <%= y.select :plan,  options_for_select([["Student Name Directory ($99/yr)", plan_set_students], ["Commencement Service ($99/yr)", plan_set_commencement], ["All Inclusive Service ($149/yr)", plan_set_all_inclusive] ]) %>
                                               <%= y.hidden_field :code, :value => @code %>
                                               <%= y.submit "Choose This Plan", class: "btn btn-primary"  %> 
                                             <% end %>  
                      </div><%# end accordion inner %>
                  </div><%# end collapsechange2 %>
                </div><%# end accordigion group %>

                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionsub" href="#collapsechange3">
                      <h5><span class="blue">Promo Code?</span></h5>
                    </a>
                  </div>
                  <div id="collapsechange3" class="accordion-body collapse">
                      <div class="accordion-inner">
                          
                                   Enter code here:
                                   <%= form_for(:coup, url: sub_coupon_edu_path) do |y| %>
                                               <%= y.text_field :code %>
                                               <%= y.hidden_field :plan, :value => @plan %>
                                               <%= y.submit "Apply Coupon", class: "btn btn-primary"  %> 
                                             <% end %>  
                        
                      </div><%# end accordion inner %>
                  </div><%# end collapsechange3 %>
                </div><%# end accordion group %>
                                        
            </div>   <%# end accordion%>

        <hr/>
    

        <br/>

    <% if !@planobject.nil? %>    <%#  don't allow purchase if don't have a plan (happens after a card processing error) %>

 

         <%= label_tag :pay_with_card do %>
          <%= image_tag "visa.png" %>
          <%= image_tag "mastercard.png" %>
          <%= image_tag "discover.png" %>
          <%= image_tag "american_express.png" %>
          <%= image_tag "jcb.png" %>
          <%= image_tag "diners.png" %>
        <% end %>
            <br/>
            <form action="<%= stripereceiver_url %>" method="POST" id="payment-form">
                <input type="hidden" name="plan" value="<%= @plan %>">
                <input type="hidden" name="code" value="<%= @code %>"> 
                <input type="hidden" name="new_price" value="<%= @new_price %>"> 
                <input type="hidden" name="event_type" value="<%= current_user.event_type %>"> 

                  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
                        data-key="<%= ENV['PUBLISHABLE_KEY'] %>" data-panel-label="Subscribe!" data-name="NameCoach"
                    data-description="<%= @planobject.name %>"
                    data-image="<%= image_path('darkerbuttont_fav_2.png')%>"> </script> <%= image_tag "lockoverlay.png" %>&nbsp;<span class="help-block">Secure Payment with Stripe <a href="<%= faq_path %>.htm#collapseTen" target="_blank" ><i class="icon-question-sign "></i></a></span> 
                <br/>
                <br/>
                <h5> Your card will not be charged until the free trial period ends.  You may cancel your subscription any time.</h5>
                
            </form>

    <% end %>

</div>
</div>

</div>
