<div class="container">

<%= form_for(@coupon) do |f| %>


  <div class="field">
    <%= f.label :name, "TYPE OF PROMO CODE" %>
    <%= f.select :name, [['FREE PAGE','free'],['FREE SUBSCRIPTION','free_sub'],['LOWER PRICE','single_use']] %>
  </div>
<br />
  <div class="field">
  <%= f.label :free_page_name, "PROMO CODE (e.g., GRAD75 or DEVRY) - please use all caps" %>
  <%= f.text_field :free_page_name %>
  </div>
<br />
  <div class="field">
  <%= f.label :cost, "DISCOUNTED PRICE POINT (e.g., 75) - LEAVE BLANK IF FREE" %>
  <%= f.text_field :cost %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>