<div class="container">

<h1>Listing coupons</h1>

<table class="table table-striped">
  <tr>
    <th>Type (Name Attr)</th>
    <th>Percent off</th>
    <th>Max redemptions</th>
    <th>Duration</th>
    <th>Duration in months</th>
    <th>Redeem by</th>
    <th>Times redeemed</th>
    <th>Free page name</th>
    <th>Free page user</th>
    <th>Cost</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coupons.each do |coupon| %>
  <tr>
    <td><%= coupon.name %></td>
    <td><%= coupon.percent_off %></td>
    <td><%= coupon.max_redemptions %></td>
    <td><%= coupon.duration %></td>
    <td><%= coupon.duration_in_months %></td>
    <td><%= coupon.redeem_by %></td>
    <td><%= coupon.times_redeemed %></td>
    <td><%= coupon.free_page_name %></td>
    <td><%= coupon.free_page_user %></td>
    <td><%= coupon.cost %></td>
    <td><%= coupon.active %></td>
    <td><%= link_to 'Show', coupon %></td>
    <td><%= link_to 'Edit', edit_coupon_path(coupon) %></td>
    <td><%= link_to 'Destroy', coupon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


<a href="<%= new_coupon_path %>" class="btn btn-primary btn-large">CREATE NEW COUPON </a>
</div>