

<% flash.each do |key, value| %>
    <div class="alert alert-block alert-<%=get_alert_class(key)%>"> 
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= value %> 
    </div>
<% end %>


<script type="text/javascript">
            var swfVersionStr = "10.2.0";
            var xiSwfUrlStr = "";
       
            var flashvars = {};
            flashvars.lstext="Loading...";//you can provide a translation here for the "Laoding..." text taht shows up while this file and the external language file is loaded
            flashvars.recorderId = "recorder1";//set this var if you have multiple instances of Audior on a page and you want to identify them
            flashvars.userId ="<%= @po.to_s %>";//this variable is sent back to upload.php when the user presses the [SAVE] button
            flashvars.licenseKey = "766f69636567656d732e636f6d3f6e616d652daurc8be636f6163682e636f6d3f6c6f63616c686f7374aurc0c2c4baceba138"; //licensekey variable, you get it when you purchase the software #new key 766f69636567656d732e636f6d3f6e616d652daurc8be636f6163682e636f6d3f6c6f63616c686f7374aurc0c2c4baceba138  #old key: 766f69636567656d732e636faurc8be6d3f6c6f63616c686f7374aurc0c2c4bacebad1 
            
            flashvars.sscode="php" //instructs Audior to use the PHP set of server side files (switch to sscode="aspx") to use the .NET/ASPX set of files
            flashvars.settingsFile = "<%= asset_path('Audior/audior_settings_demo.xml') %>" //this setting instructs Audior what setting file to load. Either the static .XML or the dynamic .PHP that generates a dynamic xml.
            // flashvars.vg = "<%= @vg.to_s %>"
      
            var params = {};     
            params.quality = "high";
            params.bgcolor = "#ffffff";
            params.allowscriptaccess = "sameDomain";
            params.allowfullscreen = "true";

            var attributes = {};
            attributes.id = "Audior";
            attributes.name = "Audior";
            attributes.align = "middle";

            swfobject.embedSWF(
                "<%= asset_path('Audior/Audior.swf') %>", "flashContent", 
                "600", "140", 
                swfVersionStr, xiSwfUrlStr, 
                flashvars, params, attributes);
            swfobject.createCSS("#flashContent", "display:block;text-align:left;");
        </script>
    
    <!-- Below is the MP3Recorder JS API (Callbacks) -->
    <script>
    
      function btSaveClick(recordName,duration,recorderId){
        //this function is called when the SAVE button is released and it is called with 3 parameters: 
        //recordName: the file name of the new audio recording  including the .mp3 extension
        //recordDuration: duration of the recorded audio file in seconds but accurate to the millisecond (like this: 4.322)
        //recorderId: the recorderId sent via flash vars, to be used when there are many recorders on the same web page
        console.log("Audior.btSaveClick("+recordName+","+recordDuration+","+recorderId+")");
        document.getElementById("firstDisplay").innerHTML  = "Saving, please wait...";
      }
      
      function btDownloadClick(recorderId){
        //this function is called when the DOWNLOAD button is released 
        console.log("Audior.btDownloadClick("+recorderId+")");
        document.getElementById("firstDisplay").innerHTML  = "";
      }
      function btPlayClick(recorderId){
        //this function is called when the PLAY button is released
        console.log("Audior.btPlayClick("+recorderId+")");
        document.getElementById("firstDisplay").innerHTML  = "Press the Play button to review your name recording. If you're happy, press 'Save' (disabled for demo). Otherwise, press 'Record Again.'";
      }
      
      function btPauseClick(recorderId){
        //this function is called when the PAUSE button is released
        console.log("Audior.btPauseClick("+recorderId+")");
        document.getElementById("firstDisplay").innerHTML  = "Press the Play button to review your name recording. If you're happy, press 'Save' (disabled for demo). Otherwise, press 'Record Again.'";
      }
      
      function btStopClick(recorderId){
        //this function is called when the STOP button is released
        console.log("Audior.btStopClick("+recorderId+")");
        document.getElementById("mainbtn").disabled = true
        document.getElementById("pauseResumeRec").disabled = true
        document.getElementById("firstDisplay").innerHTML  = "Encoding, please wait...";
      }
      
      function btRecordClick(recorderId){
        //this function is called when the RECORD button is released
        console.log("Audior.btRecordClick("+recorderId+")");
        
        document.getElementById("sav").disabled = true
        document.getElementById("dwl").disabled = true
        document.getElementById("pauseResumeRec").disabled = false;
    
      }

      function btPauseRecordingClick(recorderId){
        //this function is called when the Pause Recording button is released
        console.log("Audior.btPauseRecordingClick("+recorderId+")");
        document.getElementById("mainbtn").disabled = true
        document.getElementById("firstDisplay").innerHTML  = "";
      }
      
      function btResumeRecordingClick(recorderId){
        //this function is called when the Resume Recording button is released
        console.log("Audior.btResumeRecordingClick("+recorderId+")");
        document.getElementById("mainbtn").disabled = false
        document.getElementById("firstDisplay").innerHTML  = "";
      }
      
      
      function onRecordingPlaybackStopped(recorderId){
        //the recording has stopped playing
        console.log('Audior.onRecordingPlaybackStopped('+recorderId+')')
        document.getElementById("firstDisplay").innerHTML  = "Press the Play button to review your name recording. If you're happy, press 'Save' (disabled for demo). Otherwise, press 'Record Again.'";
      }
      
      function onEncodingDone(duration, recorderId){
        //the MP3Recorder has finished the encoding of your audio data to mp3
        console.log('Audior.onEncodingDone('+duration+', '+recorderId+')')
        document.getElementById("mainbtn").disabled = false
        document.getElementById("recAgain").disabled = false
        document.getElementById("firstDisplay").innerHTML  = "Press the Play button to review your name recording. If you're happy, press 'Save' (disabled for demo). Otherwise, press 'Record Again.'"
  
      }
      
      function onUploadDone(success, recordName, duration, recorderId){
        //the MP3Recorder has finished uploading the files to your server AND it has received a save=ok OR save=failed response from the upload script on the web server
        //success  will be true if the upload succeeded and false otherwise
        console.log('Audior.onUploadDone('+success+', '+recordName+', '+duration+', '+recorderId+')')
        document.getElementById("dwl").disabled = false
         document.getElementById("continuebtn").setAttribute("class","col-xs-6 col-md-offset-3")
        document.getElementById("firstDisplay").innerHTML  = "Click 'NEXT' below.";
  
      }
      
      function onMicAccess(allowed,recorderId){
        console.log("Audior.onMicAccess("+allowed+","+recorderId+")");
        //the user clicked Allow or Deny in the Privacy panel dialog box in Flash Player
        //when the user clicks Deny this function is called with allowed=false
        //when the user clicks Allow this function is called with allowed=true
        //this function can be called anytime during the life of the Audior instance as the user has permanent access to the Privacy panel dialog box in Flash Player
        document.getElementById("firstDisplay").innerHTML  = "";
      }
      
      function onFlashReady(recorderId){
        console.log("Audior.onFlashReady("+recorderId+")");
        //as soon as this function is called you can communicate with Audior using the JS Control API
        //Example : document.Audior.record(); will make a call to flash in order to start recording
        //recorderId: the recorderId sent via flash vars, to be used when there are many recorders on the same web page
        document.getElementById("firstDisplay").innerHTML  = "If asked for access to your microphone, click 'Allow'";
        document.getElementById("recAgain").disabled = true
        document.getElementById("sav").disabled = true
        document.getElementById("dwl").disabled = true
        document.getElementById("pauseResumeRec").disabled = true
      }
      
    </script>                                            




 <div id="newinfo" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 id="myModalLabel"><em>What's going on here?</em></h3>
            </div>
            <div class="modal-body">
            <ul>
            <li> This quick and easy service is FREE for you. </li> <br/>
            <li> You've been asked to record your name in your own voice, so that someone who will announce your name at an upcoming event can make sure they pronounce it perfectly. </li> <br/>
            <li> The process is simple!
                <ol>
                  <br/>
                  <li>Fill out your name and email. </li><br/> 
                   <li>Enter your name as you would like it announced at the event, and any notes to help with pronunciation.</li><br/>
                  <li>Record your name with our online voice recorder.  Don't worry, this part is super-easy and takes just a few seconds.  <br/><br/>
                    <strong> Note: Please record on a laptop or desktop with a mic.  You can check that <a href="http://helpx.adobe.com/flash-player/kb/find-version-flash-player.html" target="_blank">Adobe Flash Player is enabled</a> on your browser (if you have installed a Flash-blocker, temporarily disable it).</strong>
                    <br/><br/>
                  <em>Thanks to your help, the person announcing your name can now hear your recording and make sure it's pronounced correctly on the day of the event!</em> </li><br/>
                 </ol>
            </li>  
            <li> More questions? Please contact us below. <em> Thank you!</em> </li>
            </ul>

            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal">Done</button>
                
               

             
            </div>
          </div>


<div class="alert alert-block alert-info">
 
    <button type="button" class="close" data-dismiss="alert">×</button>

              <h3>Dear Student, you've been invited to voice-record your name for an upcoming event<% if !@event.nil? %><% if !@event.title.blank? %>, <%= @event.title %><% end %><% end %>.  <br/><em>Just 3 Easy Steps.</em>&nbsp;&nbsp;&nbsp;<a data-toggle="modal" href="#newinfo" class="btn btn-info">More Info <i class="fa fa-info-circle "></i></a> </h3>  

          
     
            
         
    </div>  



<div class="container">  
<br/>


                                                <%= simple_form_for(@user, :url => event_link_create_path, :html => {:class => 'form-inline'}) do |f| %>
                                                   <div class="row">
                                                         <div class="well col-xs-8 col-md-offset-1">
                                                          <h4> <i class="fa fa-check fa-lg">&nbsp;</i><span class="blue">STEP 1: Basic Info</span> </h4>
                                                              
                                                              <br/>
                                                              <%= f.error_notification %>
                                                              
                                                                <%= f.hidden_field :event_code, :value => @event_code %>


                                                                  <%= f.input :first_name, label: "First Name", placeholder: 
                                                                "Student's First Name" %>
                                                                  <%= f.input :last_name, label: "Last Name", placeholder: 
                                                                "Student's Last Name" %>
                                                                  <%= f.input :email, placeholder: "Student's Email"%>
                                                                  <span class="help-block"><em>(emails will not be given to any 3rd party)</em></span>
                                                                 

                                                                <hr/>    
                                                           </div>

                                                   </div>
                                                   <div class="row">
                                                         <div class="well col-xs-8 col-md-offset-1">         
                                                              <h4><i class="fa fa-check fa-lg">&nbsp;</i><span class="blue">STEP 2: NameGuide Info</span> <span class="muted">(optional)</span> </h4> 
                                                              <br/>      

                                                              <%= f.input :phonetic, :class => "col-xs-3 fl-left", label: "Enter your name as you would like it announced at the event:", placeholder: "(e.g., 'Henry 'Indiana' Jones, Jr.')"  %>
                                                                            
                                                                            <br/><br/>

                                                                        <span class="textarea2 textareawider">
                                                                         <%= f.label :notes, "Enter any notes to aid in pronunciation:" %> <br/>
                                                                          <%= f.text_area :notes, :class => "col-xs-3", :placeholder => "(e.g., 'first name sounds like ravine' or 'last name pronounced GLI-cough')" %>
                                                                        </span>
                                                                           

                                                                          
                                                                        
                                                                         
                                                                     <hr/>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="well col-xs-8 col-md-offset-1">
                                                              <h4><i class="fa fa-check-empty">&nbsp;</i><span class="blue">STEP 3: Record Your Name</span> </h4> <br/>
                                                                  <br/> 
                                                                <div class="row">
                                                                      <div class="col-xs-7">
                                                                                                          <div id="flashContent">
                                                                                                              <p>
                                                                                                                  To view this page ensure that Adobe Flash Player version 
                                                                                                                  11.1.0 or greater is installed. 
                                                                                                              </p>
                                                                                                              <script type="text/javascript"> 
                                                                                                                  var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://"); 
                                                                                                                  document.write("<a href='http://www.adobe.com/go/getflashplayer'>Get Adobe Flash Player</a>" ); 
                                                                                                              </script> 
                                                                                                          </div>
                                                                                                          
                                                                                                          <noscript>
                                                                                                              You need to have JS enabled for Audior to show.
                                                                                                          </noscript>   

                                                                                                  <div class="invisible">
                                                                                                  <input type="button" onclick="javascript:document.Audior.mainbtn()" name="mainbtn" value="Record -> Stop -> Play -> Pause" id="mainbtn"/>
                                                                                                  <input type="button" onclick="javascript:document.Audior.pauseResumeBtn()" disabled name="pauseResumeRec" value="Pause/Resume Recording" id="pauseResumeRec"/></br>
                                                                                                  <input type="button" onclick="javascript:document.Audior.recordagain()" disabled  name="recAgain" value="Record Again" id="recAgain"/>
                                                                                                  <input type="button" onclick="javascript:document.Audior.save()" disabled value="Save" name="sav" id="sav"/>
                                                                                                  <input type="button" onclick="javascript:document.Audior.download()" disabled value="Download" name="dwl" id="dwl" /></br>
                                                                                                  </div>

                                                                                                  <div class="col-xs-6">
                                                                                                  <h4 id="firstDisplay">&nbsp;</h4>
                                                                                                  </div>
                                                                       </div>
                                                                  </div>
                                                                
                                                             
                    <div class="row">
                      <div class="col-xs-7">
                         <hr/>
                                <div class="accordion" id="accordionrec">

                                  <div class="accordion-group">
                                    <div class="accordion-heading">
                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionrec" href="#collapserec1">
                                        <h4><span class="blue">Instructions<span/></h4> 
                                      </a>
                                    </div>
                                    <div id="collapserec1" class="accordion-body collapse">
                                      <div class="accordion-inner">
                                        Note: <em>if the recorder isn't working, please ensure your browser's <strong>Javascript and Flash are enabled</strong></em> <br/><br/>
                                        <ol>
                                          <li><strong>Press the Record button, then click 'Allow'</strong> if asked for permission to use your computer's microphone.</li> <br/>
                                          <li> You will have 10 seconds maximum recording time. <strong>Please say your name clearly and slowly, then press the Stop button,</strong> to make it easier for the person hearing/practicing your name.</li> <br/>
                                          <li>Press the Play button to review your name recording.</li>
                                             <ul>
                                                 <li>If it sounds good, <strong>press 'Save.'</strong></li>  
                                                  <li>If you're not happy with it, press 'Record Again' to try again.</li>
                                              </ul>
                                          </ol> 
                                      </div>
                                    </div>
                                  </div>

                                  <div class="accordion-group">
                                    <div class="accordion-heading">
                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionrec" href="#collapserec2">
                                        <h4><span class="blue">Problems?<span/></h4>
                                      </a>
                                    </div>
                                    <div id="collapserec2" class="accordion-body collapse">
                                      <div class="accordion-inner">
                                          <h4><i class="fa fa-warning red"></i>&nbsp;&nbsp;<a href="<%= flashissue_path %>.htm#collapseOne" target="_blank"><span class="red">I can't click 'Allow'</span></a></h4>
                                          
                                              <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;<a href="<%= flashissue_path %>.htm#collapseOne" target="_blank">Please click here</a></h5>
                                             <hr/>
                                          <h4 class="red"><i class="fa fa-warning red"></i>&nbsp;&nbsp;Nothing happens when I press 'Record'</h4>
                                              <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Using Chrome? If there is a small 'Allow/Deny' bar at the top of your browser, click allow and then try recording again (or refresh the page). <center><img src="<%= image_path('Allow_Box_2.png')%>"></center> Click <a href="https://support.google.com/chrome/answer/2696491?hl=en" target="_blank">here</a> for instructions on changing the advanced settings. </h5>
                                              <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Please make sure a microphone is plugged in, especially if you are using a desktop computer.</h5>
                                              <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Please make sure <a href="http://helpx.adobe.com/flash-player/kb/find-version-flash-player.html" target="_blank">the latest version of Adobe Flash Player is enabled</a> on your browser.</h5> 
                                              <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;If you have a Flash-blocker installed on your browser, please <a href="<%= flashissue_path %>.htm#collapseFive" target="_blank">temporarily disable it</a> (you may need to restart browser to disable) or try a different browser. These blockers normally do not allow microphone access.</h5> 
                                              <hr/>
                                          <h4 class="red"><i class="fa fa-warning red"></i>&nbsp;&nbsp;I accidentally clicked 'Deny'</h4>
                                              <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Please refresh this page and try again.</h5>
                                              <hr/>
                                          <h4 class="red"><i class="fa fa-warning red"></i>&nbsp;&nbsp;My recording does not play back/sound good</h4>
                                               <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;If you are using Chrome on a Mac, try a different browser.</h5>
                                              <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Please ensure you have a quiet environment.</h5>
                                              <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Check your computer's mic settings to see that it is enabled (as well as any options such as noise-cancellation).</h5>
                                              <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Check to make sure your speaker volume is up.</h5>
                                      </div>
                                    </div>
                                  </div>    
   


                                </div>   <!-- end accordion --> 
                        </div> 
              </div>             

                 <hr/>
                                                               

                                                                      <!-- BELOW: a simple HTML way to embed a .swf video. If Flash is disabled, a link to the browser settings page will show up, which is useful for the user.Swfobject is an alternative, but since we're just embedding a simple, auto-playing video for testing purposes, that doesn't seem necessary for the time being. -->
                                                                          <h4> Can you see the animation below? </h4>
                                                                          

                                                                         <embed src="<%= asset_path('ncflash_2.swf') %>" width="270" height="130"/>

                                                                       <h5>If not, you will need to <a href="<%= flashissue_path %>.htm#collapseFour" target="_blank">check that Flash is enabled</a> and <a href="<%= flashissue_path %>.htm#collapseFive" target="_blank">Flash-blockers are disabled</a> before recording.</h5> 
                                                                          

                                                          </div> 
                                                     </div><%# end third row %>     
                                                    <% end %>
                                                    
                                                     <h6>By registering you agree to our <%= link_to "Terms and Conditions", terms_path, :target => "_blank" %>.</h6>
                               

                


<div class="cta">
  <div class="container">
    <div class="row">
      
      <div class="col-xs-4 col-md-offset-3">
        
         <a href="<%= demo_event_page_path %>" class="btn btn-primary btn-large">Back to Demo Event Page</a> 
       
      </div>

      <div class="col-xs-4">
        
          <a href="<%= commencements_path %>" target="_blank" class="btn btn-primary btn-large">Why Use NameCoach?</a>
          
        
      </div>


    </div>
  </div>
</div>
                              

</div><%# end container %>

