<% provide(:path, '') %>

<script>

 $(document).ready(function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
});
</script>

	<h2> Demo VoiceGems Event Page: <em> The Jones-Ravenwood Wedding </em> </h2>
	
<h3>  <%= @event.date.strftime("%b %d, %Y")  %> </h3>

<% flash.each do |key, value| %>
	<div class="alert alert-block alert-<%=get_alert_class(key)%>"> 
	<button type="button" class="close" data-dismiss="alert">×</button>
	<%= value %> 
	</div>
<% end %>
<br />
<br/>

<div class="container">

<br/>

<ul id="myTab" class="nav nav-tabs ">
  <li class="active"><a href="#reg" data-toggle="tab"><strong>Recorded VoiceGems</strong></a></li>
  <%#<li><a href="#regunrec" data-toggle="tab"><strong>Attendees without Name Recorded</strong></a></li>%>	
  <li><a href="#admins" data-toggle="tab"><strong>Admins for this Event</strong></a></li>  
  <li><a href="#request" data-toggle="tab"><strong>Request VoiceGems</strong></a></li>
</ul>
   		  
<%# this first section uses @registeredpos and lists the registered practice objects %>	
<div id="myTabContent" class="tab-content ">

    <div class="tab-pane active" id="reg">
								               

        <table class="table">
        <br/>
        <caption><em>(users who have registered on this site and recorded a VoiceGem)</em></caption>
        </table>

	     <div class="row">
			<div class="well col-xs-12 modal-header bg-dark">
					
						
				<div class="col-xs-2">
					
					<a href="#" rel="tooltip" data-placement="top" title="User's name and email address."><h4>User Name/Email</h4></a>
				</div>
						
		
				<div class="col-xs-2">
					<a href="#" rel="tooltip" data-placement="top" title="Any notes user may have entered to accompany their VoiceGem."><h4>User's Notes</h4></a>
				</div>
			

				<div class="col-xs-3">
					<a href="#" rel="tooltip" data-placement="top" title="User's recorded VoiceGem. Click the play button to hear. If an 'x' appears instead of the play button, you may need to ask the user to re-record."><h4>Recorded VoiceGem</h4></a>
					<em>(press play button to hear)</em>
				</div>

					<div class="col-xs-2">
						<a href="#" rel="tooltip" data-placement="top" title="Any notes you may have for this VoiceGem. Click a text field below to enter notes or update them."><h4>Admin Notes</h4></a><em>(click on a field to edit)</em>
														
				</div>	
				
			
				 <div class="col-xs-1 col-xs-offset-1" >
					<h4>Actions</h4>
				</div>

			</div>	<%# end div well col-xs-12 %>	

		</div> <%# end div row %>	

		<% @registeredandrecordedvgs.each do |f| %>					    	
			 <div class="row">
				 <div class="well col-xs-12">
					 <div class="col-xs-2">
						<%= f.user.first_name %> <%= f.user.last_name %> <br/>
						(<%= f.user.email %>) <br/>
						<% unless f.email == f.user.email %>Invitation sent to: <%= f.email %><% end %>
					 </div>
	

					 <div class="col-xs-2">
					 	 <% if f.notes.blank?%>--<% else %><%= f.notes %><%end%>
					 </div>
		
					 <div class="col-xs-3">
					 	<span class="vg">
							<audio src="https://s3-us-west-1.amazonaws.com/<%= ENV['VG_BUCKET_NAME'] %>/<%= f.recording %>.mp3" /> 
						</span>	 			
					 </div>
			

					 <div class="col-xs-2">								
						<%= best_in_place f, :admin_notes, :type => :textarea, :ok_button => "Save Changes", :cancel_button => "Cancel", :nil => "-click text to enter or edit notes-" %>
					 </div>

					 <div class="col-xs-2">
						     <div class="btn-group pull-right">
                                                    
                                 <div id="regrec_send_reminder<%= f.id %>" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                                       <div class="modal-dialog">
                                        <div class="modal-content">
                                     <div class="modal-header">
	                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                                    <h3>Request to Re-Record</h3>
                                     </div>
                                  
                                     <div class="modal-body left">

                                     	<h4> Emails already sent to this user: </h4> <br/>
                                     	<table class="table table-condensed table-striped">
	                                            <thead>
	                                              <th>Sent To:</th>
	                                              <th>By Admin:</th>
	                                              <th>On:</th>
	                                              
	                                                                                                                    
	                                            </thead>
                                            	<tbody>
		                                            <% f.vg_userinvites.each do |a| %>
		                                              <tr>
		                                                <td> <%= a.recipient_email %> </td>
		                                                <td> <% if !a.admin_id.blank? %><%= User.find_by_id(a.admin_id).email %><% end %> </td>
		                                                <td> <%if !a.sent_at.nil? %><%= a.sent_at.strftime("%b %d, %Y") %><% end %> </td>
		                                                
		                                              </tr>
		                                            <% end %>
                                         		 </tbody> 
                                        </table> 

                                  		<hr/>
                                         <h4> The following email will be sent to <%= f.email %>: </h4> <hr/>

                                         <div class="well">
                                            <p> Hi there <% if !f.user.first_name.nil? %><%= f.user.first_name %><% end %>! </p>

                                            <p>The admin for the event <%= f.event.title %> is requesting that you please re-record your VoiceGem. Your recording may not have been clear, so please double-check it and record again.</p>

                                            <p>Please sign in at www.voicegems.com</p>

                                            <p>Thank you!<p>
                                            - The team at VoiceGems
                                         </div>
                                
                                         	 <%= form_for(:vg, url: vg_rerecord_path) do |y| %>
                                              	<%= y.hidden_field :x, :value => f.id %>
                                               	<%= y.submit "Request Re-Recording (disabled)", class: "btn-primary btn-large btn-modal", disabled: true %>
                                             <% end %>  
		                                     <br/>
		                                     <br/>

                                     </div> <%# end div modal-body %>	

                                  	 <div class="modal-footer">
                                    	 <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                                  	 </div>
                                         </div>
                                         </div>

                           		 </div>   <%# end MODAL div id="regrec_send_reminder %>	

                                 

                                 <div id="regrec_hide_entry<%= f.id %>" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                                       <div class="modal-dialog">
                                        <div class="modal-content">
                                    <div class="modal-header">
                                         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                         <h3>Delete Entry for <%= f.email %> </h3>
                                    </div>
                                                          
                                    <div class="modal-body left">
                                                          
                                         <h4> Please confirm you would like to delete this entry </h4> 
                                         <h5> (Deleted entries are accessible under your 'Deleted Entries' tab) </h5>
                                         <hr/>
                                          <button  href="#" class="btn btn-danger btn-large btn-modal" ><i class="fa fa-trash-o"></i>&nbsp;Delete (disabled)</button>
                                         <br/>
                                         <br/>
                                                               

                                    </div>

                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal">Cancel</button>
                                     </div>
                                    </div>
                                    </div>

                                 </div>  <%# end MODAL div id="regrec_hide_entry %>	         

                                                            
                                        <%= link_to AWS::S3.new.buckets[ ENV["VG_BUCKET_NAME"]].objects["#{f.recording}.mp3"].url_for(:get, {
      expires: 10.minutes,
      response_content_disposition: "attachment; filename=#{f.user.first_name}_#{f.user.last_name}_#{f.recording}"
    }).to_s, class: 'btn btn-small', id: "download_#{f.id}", rel: "tooltip", title:"Download MP3" do %><i class="fa fa-download fa-fw"></i><% end %>



                                          <a id="regrec_popover_send_reminder<%=f.id%>" rel="popover" data-placement="bottom" data-content="If the VoiceGem is unclear, click to send an email asking this user to re-record it.<br/><br/> You will see a preview of the email to be sent, and a list of requests already sent." data-original-title="Ask to Re-Record" data-toggle="modal" href="#regrec_send_reminder<%= f.id %>" class="btn btn-small" data-trigger="hover">
                              		    <i class="fa fa-envelope fa-fw"></i>
                                        </a>

                              
                              		<a id= "regrec_popover_hide_entry<%= f.id %>" rel="popover" data-placement="bottom" data-content="Click to delete this user's entry.<br/><br/> Note: Deleted entries will appear only to you and other admins under 'Deleted Entries' tab, where they can be undeleted." data-original-title="Delete this Entry" data-toggle="modal" href="#regrec_hide_entry<%= f.id %>" class="btn btn-small" data-trigger="hover"><i class="fa fa-trash-o fa-fw" style="font-size: 1.2em"></i></a>




                      		 </div>  <%# end button group for Actions under tab 1 %>

						           <script>  
					                    $(function ()  
					                    { $("#regrec_popover_reminders_sent<%= f.id %>").popover();  
					                    });  
					                    $(function ()  
					                    { $("#regrec_popover_send_reminder<%= f.id %>").popover();  
					                    });  
					                    $(function ()  
					                    { $("#regrec_popover_hide_entry<%= f.id %>").popover();  
					                    });  
					                 </script>

					 </div> <%# end div col-xs-2 %>

				 </div> <%# end div class="well" %>	

			 </div> <%# end div class="row" %>

		 <% end %> <%# @registeredandrecordedpos.each do |f| %>					    			


		 <% if @registeredandrecordedvgs.count == 0  %>
		 	   <div class="row">
				<div class=" well col-xs-8 col-xs-offset-2 cent">
					<h3> No VoiceGems recorded yet </h3>

				</div>

			   </div>
			   	<br/><br/><br/><br/><br/>
		 <% end %>
     </div> <%# END TAB PANE 1 div class="tab-pane fade active" id="reg" %>	



 	    <div class="tab-pane" id="admins">
 	    <br/>
 	      <caption><em>Admins can access this Event Page to 1) request VoiceGems, 2) hear and download VoiceGems, and 3) invite other Admins</em> <br/><br/></caption>
    	 <table class="table  table-striped event">
       
           
                 <tr>
		              <td> DJ Greg </td>
		              <td> Redman </td>
		              <td> DJRed@example.com </td>
		              <td/>
                              <td>
                              </td>
		       
                
                 </tr>
                 <script>  
                           $(function ()  
                            { $("#popover_delete_admin").popover();  
                            });  
                
                 </script>

  						
                 <tr>
		              <td> Marian </td>
		              <td> Ravenwood </td>
		              <td> Jones-Ravenwood-Wedding@example.com </td>
		        
		              <td> 
		                 <div id="remove_admin" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                       <div class="modal-dialog">
                                        <div class="modal-content">

		                                     <div class="modal-header">
		                                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                                       <h3>Remove Admin Marian Ravenwood </h3>
		                                     </div>
		                                                
		                                     <div class="modal-body left">
		                    
		                                         <h4> Please confirm you would like to remove this person's admin privileges for The Jones-Ravenwood Wedding. </h4> <br/>
		                          
		                                    	 <h5> To restore this person's admin privileges, they will have to be invited as an admin again. </h5>
		                                         <hr/> <br/>
		                                         <%= form_for(:a, url: removeadmin_path) do |x| %>                    
		                                        
		                                             <%= x.submit "Remove Admin (disabled)", class: "btn-danger btn-large btn-modal", disabled: true %>
		                                         <% end %>
		                                        <br/>
		                                        <br/>
		                      
		                                     </div>

		                                     <div class="modal-footer">
		                                         <button class="btn btn-default" data-dismiss="modal">Cancel</button>
		                                     </div>
                                                     </div>
                                                     </div>

		                 </div>  <%# END modal %>      

		                 <a id= "popover_delete_admin" rel="popover" data-placement="bottom" data-content="Click to remove this admin's privileges." data-original-title="Remove Admin" data-toggle="modal" href="#remove_admin" data-trigger="hover"><i class="fa fa-ban red"></i></a> 
		              </td> 
                              <td>
                              </td>
                
                 </tr>


    	 </table>
                 <script>  
                           $(function ()  
                            { $("#popover_delete_admin").popover();  
                            });  
                
                 </script>
    	 	<hr/>
    	 <div class="row">
    	 	<div class="col-xs-11">
    	 	 <div class="well">
    	 	 		 <h4> <i class="fa fa-envelope"></i>&nbsp;Invite an admin for this event: </h4>
					 <br />	
					 <%= form_for(:vgai, url: vg_admininvite_path, :html => {:class => 'form-inline'}) do |f| %>
				
					     <%= f.hidden_field :event_id, :value => @event.id %>
														 									    
					     <%= f.text_field :first_name, :placeholder => "First Name (recommended)", :class => "col-xs-3" %>
																		
					  
					     <%= f.text_field :last_name, :placeholder => "Last Name (recommended)", :class => "col-xs-3" %>
					 
															 									    
					     <%= f.text_field :recipient_email, :placeholder => "Email (required)", :class => "col-xs-2"  %>

											 						  
						 <%= f.submit "Invite Admin (disabled for demo)", class: "btn btn-primary col-xs-offset-1", disabled: true, confirm: 'Please confirm you would like to invite this person as an admin for this event.' %>
						  	

				     <% end %>
			 </div> <%# end well %>
			</div>
			 
    	 </div> <%# end row %>
        
 	 </div>  <%# end admin tab pane %>
 	 <div class="tab-pane" id="request">
 	 <br/>
         <div class="row">
         	<div class="well col-xs-8 col-xs-offset-2">
         		 <p> People can record their VoiceGems for this event using either of these links:
		            	<br/><br/>
		            	<i class="fa fa-caret-right"></i>&nbsp;&nbsp;<%= @url %> <br/>
		            
		            	<i class="fa fa-caret-right"></i>&nbsp;&nbsp;<%= link_to "Record a VoiceGem for #{@event.title}", @url, :target => "_blank"  %>
		              </p> 

		       		<p> Just copy and paste either link into the web page for your event (if you have one), or send out an email containing the link. </p> 
		       		<br/>

		       		<h3>Suggested text for your web page or emails</h3>	 
					
					<p><strong><em>Just copy and paste the following:</em></strong><br/><hr/>
					 <blockquote>We would like to do something special during the reception entertainment for <%= @event.title %>. If you'd like to record a short, special message for the bride and groom (or anyone else), we will try to mix it into our music set.  Please <%= link_to "click here", @url, :target => "_blank"  %> (<%= @url %>) to record your VoiceGem... it's easy, and takes under a minute!  </blockquote> </p>

						 <hr/>
         	</div>
         </div>
 	 </div>  <%# end request tab pane %>




    
</div> 
</div> <%# END container %>



