<!DOCTYPE html>
<html>

<head>
  <title>App4</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>


				            
				              <h4> <span class="label label-info"><i class="icon-edit icon-white"></i></span>&nbsp;<strong>Edit event page:</strong> </h4> </br>

				                   <%= form_for(@event, :html => {:class => "form-inline"}) do |f| %>
				                      
				                        
				                        <%= f.text_field :title, :class => "span3" %>
				                         
				                            
				                        <%= f.text_field :date, :class => "span2" %>
				                 
				                         <br/>

				                        <span class="help-block">(e.g., "The Jones-Ravenwood Wedding")</span>

				                        	 <div class="form-actions">
     
    										 <%= f.submit "Save Changes", class: "btn btn-primary"  %> 
 											
											</div>


				                    <% end %>
				             
				            <br/>
				            <br/>
				            <br/>
				            <br/>
				            <br>
				            <br/>
				            <br/>
				    



</body>