<h1>Listing Events</h1>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Date</th>
    
    <th>access code</th>
    <th>event code</th>
    <th>event type</th>
    <th>master?</th>
  </tr>

<% @events.each do |event| %>
  <tr>
        <td><%= event.id %></td>
    <td><%= event.title %></td>
    <td><%= event.date %></td>
    <td><%= event.access_code %></td>
    <td><%= event.event_code %></td>
    <td><%= event.event_type %></td>
   <td><%= event.master %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

