
<!DOCTYPE html>
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
     <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= csrf_meta_tags %>

    <%= yield(:head) %>


<script type="text/javascript">

  var _gaq = _gaq || [];
  var pluginUrl =
 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', 'UA-38323450-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


  </head>
  <body  id="mob2">
  
<div class="row">

       <div class="col-md-4">
          <div class="logo" id="logo2">
                <h1><a href="<%= root_path %>">Name<span class="purple fat">Coach</span></a></h1>
                <p class="meta">&nbsp;<em>hear the name, say it right</em> </p>
           </div>
      </div>

</div>

<div class="sep"></div>

<% flash.each do |key, value| %>
    <div class="alert alert-block alert-<%=key%>"> 
    <%= value %> 
    </div>
<% end %>

                                      
<div class="container">

 <h3>You've been invited to voice-record your name to ensure it's pronounced correctly at graduation (<% if !@event.nil? %><% if !@event.title.blank? %><%= @event.title %><% end %><% end %>).</h3>  

<hr/>

<form role="form" action="/event_link_create"  id="new_user" method="post">
 <input id="user_event_code" name="user[event_code]" type="hidden" value="<%= @event_code %>" />
  <input id="user_x" name="user[x]" type="hidden" value="prec" />

 <div class="form-group">
    <label for="user_first_name">Enter First Name:</label>
    <input id="user_first_name" name="user[first_name]"  type="text" class="form-control" placeholder="First Name">
  </div>
  <br/>
 <div class="form-group">
    <label for="user_last_name">Enter Last Name:</label>
    <input id="user_last_name" name="user[last_name]"  placeholder="Last Name" type="text" class="form-control" placeholder="Enter Last Name">
  </div>
  <br/>
  <div class="form-group">
    <label for="user_email">Enter Email Address:</label>
    <input type="email" class="form-control" placeholder="Email Address" id="user_email" name="user[email]">
  </div>

     <hr/>


   <div class="form-group">
 <label for="user_notes">(OPTIONAL) Enter any notes to aid in pronunciation:</label>
 <textarea class="mob2ta" id="user_notes" name="user[notes]" placeholder="examples: 'first name sounds like Ravine' or 'last name pronounced GLI-cough'" >
</textarea> 
</div>
  
<hr/>

  <button type="submit" class="btn btn-primary pull-right btn-large">NEXT&nbsp;<i class="icon-caret-right icon-white"></i></button>


</form>




</div>
<hr/>
  </body>
</html>
  



