
                                            
<% flash.each do |key, value| %>
    <div class="alert alert-block alert-<%=get_alert_class(key)%>"> 
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= value %> 
    </div>
<% end %>


                                                                         
<div class="container">  
<br/>
           
<div class="alert alert-block alert-warning invisible" id="chrome">
   
    <button type="button" class="close" data-dismiss="alert">×</button>
   <hr/>
       
            <h4 class="red"><i class="fa fa-warning"></i>&nbsp;Due to a new security feature in Chrome: after you click 'Record' below, you will be prompted to click 'Allow', and then prompted to click 'Allow' <strong>ONCE MORE</strong> under the browser address bar above:</h4><center><img src="<%= image_path('Allow_Box_2.png')%>"></center> <h4><em>Note: If this results in a recording with a few initial seconds of silence, please just record again.</em></h4>
        <hr/>

    </div>  
                 <div class="row">
                                       <!-- BELOW: Chrome browser detection. Tested on Chrome, FireFox, and MSIE --> 
                                       <div class="col-xs-8 col-md-offset-2">
                                        
                                        <script type='text/javascript'>
                                          var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
                                          if (is_chrome) {
                               
                                            $('#chrome').attr("class","alert alert-block alert-error");;
                                          }
                                        </script> 
                                        <br/>
                                       </div>
                          </div>
<div class="row">
     <div class="col-xs-7 col-md-offset-1">
          <div><h3 class="black"><em>Please voice-record your name here:</em></h3></div> <br/>

          <div class="row">
                                 <script>
                                  function reloadPage() {
                                    document.getElementById('recorder').contentWindow.location.reload();
                                  }
                                </script>

                               
                                
                                <iframe id="recorder" name="recorder" src='<%= test_user_path(current_user) %>' width="100%" height="250"  scrolling='no'  marginheight="200x" ></iframe>
                                 <input type="image" src="/assets/refresh-recorder.png" onclick="reloadPage()"> 
           </div>
           <div class="row">                     
                              <hr/>

                              <%= link_to setpassword_path(:id => current_user.id, :event => @event.id), disable_with: 'please wait...', confirm: 'Did you remember to Upload your name recording?  If you did, press OK to go on. Otherwise, Cancel to go back.',  class: 'btn btn-primary col-xs-2 pull-right' do %> SAVE&nbsp;<i class="fa fa-caret-right "></i>
                                  <% end %> &nbsp;&nbsp;<strong>(click 'SAVE' after you click 'UPLOAD')</strong> 
           </div>                      
                      
            <div class="row">
                        <hr/>
                                <div class="accordion" id="accordionrec">

                                  <div class="accordion-group">
                                    <div class="accordion-heading">
                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionrec" href="#collapserec1">
                                        <h4><span class="blue">Instructions<span/></h4> 
                                      </a>
                                    </div>
                                    <div id="collapserec1" class="accordion-body collapse">
                                      <div class="accordion-inner">
                                        Note: <em>if the recorder isn't working, please ensure your browser's <strong>Javascript and Flash are enabled</strong></em> <br/><br/>
                                        <ol>
                                          <li><strong>Press 'RECORD', then click 'Allow'</strong> if asked for permission to use your computer's microphone.</li> <br/>
                                          <li> You will have 10 seconds maximum recording time. <strong>Please say your full name clearly and slowly, then immediately press 'STOP'</strong>, to make it easier for the person hearing/practicing your name.</li> <br/>
                                          <li>Your recording will automatically play back to you:</li>
                                             <ul>
                                                 <li>If it sounds good, <strong>press 'UPLOAD.'</strong></li>  
                                                  <li>If you're not happy with it, press 'RECORD' to try again.</li>
                                              </ul>
                                          </ol> 
                                      </div>
                                    </div>
                                  </div>

                                  <div class="accordion-group">
                                    <div class="accordion-heading">
                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionrec" href="#collapserec2">
                                        <h4><span class="blue">Problems?<span/></h4>
                                      </a>
                                    </div>
                                    <div id="collapserec2" class="accordion-body collapse">
                                      <div class="accordion-inner">
                                          <h4><i class="fa fa-warning red"></i>&nbsp;&nbsp;<a href="<%= flashissue_path %>.htm#collapseOne" target="_blank"><span class="red">I can't click 'Allow'</span></a></h4>
                                          
                                              <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;<a href="<%= flashissue_path %>.htm#collapseOne" target="_blank">Please click here</a></h5>
                                             <hr/>
                                          <h4 class="red"><i class="fa fa-warning red"></i>&nbsp;&nbsp;Nothing happens when I press 'Record'</h4>
                                              <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Using Chrome? If there is a small 'Allow/Deny' bar at the top of your browser, click allow and then try recording again (or refresh the page). <center><img src="<%= image_path('Allow_Box_2.png')%>"></center> Click <a href="https://support.google.com/chrome/answer/2696491?hl=en" target="_blank">here</a> for instructions on changing the advanced settings. </h5>
                                              <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Please make sure a microphone is plugged in, especially if you are using a desktop computer.</h5>
                                              <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Please make sure <a href="http://helpx.adobe.com/flash-player/kb/find-version-flash-player.html" target="_blank">the latest version of Adobe Flash Player is enabled</a> on your browser.</h5> 
                                              <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;If you have a Flash-blocker installed on your browser, please <a href="<%= flashissue_path %>.htm#collapseFive" target="_blank">temporarily disable it</a> (you may need to restart browser to disable) or try a different browser. These blockers normally do not allow microphone access.</h5> 
                                              <hr/>
                                          <h4 class="red"><i class="fa fa-warning red"></i>&nbsp;&nbsp;I accidentally clicked 'Deny'</h4>
                                              <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Please refresh this page and try again.</h5>
                                              <hr/>
                                          <h4 class="red"><i class="fa fa-warning red"></i>&nbsp;&nbsp;My recording does not play back/sound good</h4>
                                               <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;If you are using Chrome on a Mac, try a different browser.</h5>
                                              <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Please ensure you have a quiet environment.</h5>
                                              <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Check your computer's mic settings to see that it is enabled (as well as any options such as noise-cancellation).</h5>
                                              <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;Check to make sure your speaker volume is up.</h5>
                                      </div>
                                    </div>
                                  </div>    
   


                                </div>   <!-- end accordion -->  
              </div>  
             
      </div>    

      <div class="well col-xs-3">

                         
                                                                          <h4> Can you see the animation below? </h4>
                                                                          

                                                                    
                                                                         <embed src="<%= asset_path('ncflash_2.swf') %>" width="270" height="130"/>


                                                                       <h5>If not, or you must click to play it, you will need to <a href="<%= flashissue_path %>.htm#collapseFour" target="_blank">check that Flash is enabled</a> and <a href="<%= flashissue_path %>.htm#collapseFive" target="_blank">Flash-blockers are disabled</a> before recording.</h5> 
                                                                          
                                                                         


                                                           
                                                            


                                             
                                                                 <%= link_to "Skip Recording", {:controller => "users", :action => "setpassword", :id => current_user.id, :event => @event.id, :x => "skip" }, {:class => "col-xs-2 fl-right"}%>

      </div>                           

</div> <%# end row %>

</div><%# end container %>