
<!-- Page Heading ends -->
               
             
             <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=key%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>

<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider({
      itemMargin: 50
    });
  });
</script>


 <div class="container">


<div class="row">
    <div class="span11 offset1">
      <br/><br/>
        <div class="text-divider6">
          <span></span>
        </div>
    </div>
</div>


    <div class="row">

      <div class="span6 offset1">

            <!-- Slider (Flex Slider -->
            <div class="flexslider">
              <ul class="slides">
                
                <li> 
                  <div class="test">
                      <strong><span class="qstart">&#8220;</span>NameCoach was a huge asset to the success of our graduation ceremony.  <span class=" black">It's a simple, intuitive, and most importantly helpful tool </span> to make sure that each person hears their name pronounced correctly during their moment of honor. I look forward to continuing to use the service to make sure that students are respected and announced accurately at our future events.<span class="qend">&#8221;</span></strong>
                  </div>
                  <div class="test-arrow"></div>
                  <div class="tauth"><i class="icon-user"></i> Mike Wilson, <span class="color">Faculty, Haltom High School</span></div>
                </li>
                
                <li>
                  <div class="test">
                      <strong><span class="qstart">&#8220;</span><span class=" black">NameCoach was a wonderful resource for our faculty, staff and students for our Commencement ceremony.</span> Easy to use, and it was helpful to have our students record their name pronuciations for our faculty. It was one less thing we had to worry about! This is such an important event for our students, and using NameCoach certainly contributed to the success of our program. <span class=" black">Their customer service was exceptional</span> and they replied to our questions/concerns in a timely manner.  We are excited to use the new Student Name Directory service for upcoming orientation and recruitment events! <span class="qend">&#8221;</span></strong>
                  </div>
                  <div class="test-arrow"></div>
                  <div class="tauth"><i class="icon-user"></i> Olgalydia Winegar, <span class="color">Student Services Manager, Stanford BioE Dept.</span></div>
                </li>

                <li>
                  <div class="test">
                      <strong><span class="qstart">&#8220;</span>We found your service very useful, as my name is hard to pronounce from  an English-speaking standpoint. I think the people who are most benefited from this are the presenters.<span class="qend">&#8221;</span></strong>
                 </div>
                 <div class="test-arrow"></div>
                 <div class="tauth"><i class="icon-user"></i> David Arrambide, <span class="color">Stanford BioE Graduate, & CEO, FosteringTech </span></div>               
                </li>

                <li>
                  <div class="test">
                      <strong><span class="qstart">&#8220;</span>A creative way to address a very real (all-too-real) problem.<span class="qend">&#8221;</span></strong>
                 </div>
                 <div class="test-arrow"></div>
                 <div class="tauth"><i class="icon-user"></i> Daniel Regan, <span class="color">Faculty, Johnson State College </span></div>               
                </li>

              </ul>
            </div>  <!-- END Slider (Flex Slider -->


          </div>  <!-- END SPAN FOR SLIDER -->

      <div class="recent-posts">

        <br/>
      <div class="span4">
        <strong><em><span class="help-block">Some of Our Users</span></em></strong>
        <div class="clearfix"></div>
        <ul class="rps-carousel">
            <!-- Recent posts #1 -->
            <!-- Each carousel should be enclosed inside "li" tag -->
                        <li>
                <div class="rp-item"> 
              
               
                  <div class="rp-details">
                    <!-- Title and para -->
                    <h5>Stanford University</h5>
                    <p>Department of BioEngineering</p>         
                  </div>                
                </div>        
            </li>
            <!-- Recent posts #2 -->
            <li>
                <div class="rp-item"> 
    
                  <div class="rp-details">
                    <h5>Haltom High School</h5>
                    <p>Fort Worth, Texas</p>         
                  </div>                
                </div>        
            </li>
            <!-- Recent posts #3 -->
            <li>
                <div class="rp-item"> 
  
                  <div class="rp-details">
                    <h5> University of Southern California </h5>
                    <p>Leventhal School</p>         
                  </div>                
                </div>        
            </li>
            <!-- Recent posts #4 -->
            <li>
                <div class="rp-item"> 

                  <div class="rp-details">
                    <h5>Iolani High School </h5>
                    <p>Honolulu, Hawaii</p>         
                  </div>                
                </div>        
            </li>
            <!-- Recent posts #5 -->
            <li>
                <div class="rp-item"> 

                  <div class="rp-details">
                    <h5>Stanford Univeristy </h5>
                    <p>Department of Statistics</p>         
                  </div>                
                </div>        
            </li>    
            <!-- Recent posts #6 -->
            <li>
                <div class="rp-item"> 

                  <div class="rp-details">
                    <h5>Santa Teresa High School </h5>
                    <p>San Jose, California</p>         
                  </div>                
                </div>        
            </li> 
            <!-- Recent posts #7 -->
                                                                                                         
        </ul>

          <div class="carousel_nav pull-right">
        
          <!-- Carousel navigation -->
          <a class="prev" id="car_prev" href="#"><i class="icon-chevron-left"></i></a>
          <a class="next" id="car_next" href="#"><i class="icon-chevron-right"></i></a>
        </div>

      </div>


</div>

<!-- Recent Posts ends -->






    </div>


<div class="row">
    <div class="span11 offset1">
      <br/><br/>
        <div class="text-divider6">
          <span></span>
        </div>
      <h2 class="light-blue"><i class="icon-check"></i>&nbsp;Easier, Quicker, and <em>Just Plain Accurate</em></h2>
 
      
    </div>
</div>

<div class="row textsize3">
    <div class="span7 offset1">
      <br/>
      <h3>Until now, commencement announcers have been limited to:</h3> <br/>
        <p><i class="icon-ban-circle"></i>&nbsp;Deciphering low-fidelity phonetic pronuciations - too often inaccurate or insufficient to truly pronounce it correctly.</p><br/>
        <p><i class="icon-ban-circle"></i>&nbsp;Trying to nail down tough pronunciations from students just before the ceremony or at the podium - not enough time to get them all right. </p><br/>
        <p><i class="icon-ban-circle"></i>&nbsp;Finding students to record their name into a smart-phone, setting up in-person meetings, or requesting and sifting through voicemails.</p><br/>
        <p><i class="icon-ban-circle"></i>&nbsp;Despite best efforts, not having a truly effective tool to get them all right!</p>
        <br/><hr/>
        <h2>Our Unique Solution:</h2>
     </div>

     <div class="rp-item span3"> <img src="/assets/podium1.jpg" class="fl-right" alt="image01" /></div>

 </div>

 <div class="row biggertext">
    <div class="span9 offset1">

        
        <div class="content process biggertext">

          <div class="row">
             <div class="span8">
                 <div class="process-meta fl-left">
                   <span>1</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;Share a Link</span>&nbsp;&nbsp;
                  <i class="icon-caret-right"></i>&nbsp;&nbsp;<a href="<%= @url%>" target="_blank"><span class="biggerlink">Please record your name for <%= @event.title %></span></a><br/>
                  &nbsp;&nbsp;&nbsp;<span class="help-block">(or enter emails to request specific names)<span>   
              </div> 
          </div>

          <div class="row">
             <div class="span8">
                 <div class="process-meta fl-left">
                   <span>2</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;Students Voice-Record Names Online</span>&nbsp;&nbsp;
                 <br/>
                  &nbsp;&nbsp;&nbsp;<span class="help-block">(and can enter phonetic spellings)</span>   
                
              </div> 
          </div>

         <div class="row">
             <div class="span8">
                 <div class="process-meta fl-left">
                   <span>3</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;Hear (and Practice) Names on your Name Page</span>&nbsp;&nbsp;
                  <i class="icon-caret-right"></i>&nbsp;&nbsp;<a href="<%= demo_event_page_path %>" target="_blank" class="biggerlink">Demo Name Page</a>
              </div> 
          </div>


        </div>
       <p> <h4><em>NameCoach</em> helps you save time, avoid hassle, and more easily ensure that each and every graduate and family will be happy with their big moment! Click <a href="<%= students_path %>" class="cent">here</a> for more information on the Back To School product!</h4></p>
    </div>
   
      

</div>



<div class="row biggertext">
    <div class="span11 offset1">
<br/><br/>
              <div class="text-divider6">
          <span></span>
        </div>
        <br/>
    </div>
</div>

<div class="row">
  <div class="span12">
    <div class="accordion" id="accordion3">
          <div class="accordion-group invis">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne">
                <div class="row">
                  <div class="span10 offset1">
                    <h2 class="light-blue"><i class="icon-check"></i>&nbsp;Honoring the Importance of the Name and the Moment</h2>
                    <span class="biggertext black"><strong>"Technology? Using it will have to await a future year... We model painstaking preparation and hard work... to make the academic ritual special for them and their families."</strong> - Daniel Regan, Commencement Announcer</span>&nbsp;&nbsp;&nbsp;<span class="light-blue biggerlink">Read more...</span>
                  </div>
                </div>
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
              <div class="accordion-inner revis">
                 
                    <div class="row biggertext">
                      <div class="rp-item span3 offset1"> <img src="/assets/hand2.jpg" alt="image01" /></div>
                        <div class="span7">
                                
                                <br/>
                                <h4>The commencement ceremony honors the graduate in front of family and friends, recognizing a major life milestone. Each graduate's brief span of public recognition is priceless.</h4> <br/>
                                <h4>But too often, despite heroic efforts, the once-in-a-lifetime moment is soured with the mispronunciation of their name - unintentionally alienating and disappointing. </h4><br/>
                        </div>
                        
                        <div class="well well-small span3">
                            <h4>A student recalls:</h4>
                            <blockquote><em>I still remember my high school graduation and how my vice principal butchered my name. <strong>He had no excuse, especially since he had the phonetic spelling written on a notecard AND we practiced the day before.</strong> He called my name and the only reason I know it was mine is because I was next in line.
                           </em></blockquote>
                            <h6>- Yoruba Ajayi</h6>
                          </div>


                          <div class="well well-small span3">
                            <h4>And another:</h4>
                            <blockquote><em>Graduating is one of those special moments that only happen in once a lifetime, and when it was my turn to walk -the announcer mispronounces my surname. <strong>All of my happy feelings disintegrated but I walked the stage with a fake smile on my face.</strong>
                           </em></blockquote>
                            <h6>- Lilja Magnusdottir</h6>
                          </div>

                    </div>

                    <br/>

                    <div class="row biggertext">
                      <div class="span10 offset1">
                        <h4>Of course, the reality is that getting all the names right can be very difficult.&nbsp;&nbsp;With large and diverse student populations, many with uncommon, difficult, or even deceptively simple names, <strong> preventing such disappointment has traditionally been a painstaking task: </strong></h4>
                        </div>
                     </div>

                    <br/>

                    <div class="row">
                      
                          <div class="well well-small span9 offset1">
                            <h4>A faculty announcer sums up:</h4>
                            <br/>
                            <blockquote><em>...<strong>the puzzles occupy my time in the run-up to commencement.</strong> Is the surname "Couture," as in "haute couture," or as in "Koo-cher"? "Edel-stine," or "-steen"? Is a student's first name "Tar-a" or "Tear-a"? And so on.<br/>
                            <br/><strong>Often it's a matter of identity.</strong> One of our finest and best-known students surprised me with the revelation that she had stoically endured the mispronunciation of her name through four honor-filled years. Yet, because her French-Canadian roots were so meaningful to her, she appreciated being asked about her name so that her identity might be properly expressed as she walked across the platform.<br/>
                            <br/>That example could be multiplied many times. <strong>So I e-mail students and faculty, request voicemails, check with advisers, corner folks in the dining hall.</strong> I make phonetic notes on alphabetical lists of possible attendees and transpose them to the "walker" cards that students hand me before crossing the stage. <strong>Technology? Using it will have to await a future year. Right now the task is to try and get it right for the moment.</strong><br/>
                            <br/><strong>No doubt, many of you who are reading this take similar pains.</strong> The reason is not because it matters in some ultimate existential or intellectual sense, or because it is part of our job descriptions. We do so, rather, because what matters is to model <strong>painstaking preparation and hard work</strong> to our students and <strong>to make the academic ritual special for them and their families.</strong>

                           </em></blockquote>
                            <h6>- Daniel Regan, Johnson State College <a href="http://chronicle.com/article/I-Now-Pronounce-You-Graduated/127939/" target="_blank">(Chronicle of Higher Education) </a></h6>
                          </div>
                    </div>


              </div>
            </div>
          </div>
              
    </div>  <%# end accordion %>
  </div>     
</div>



<div class="row">
    <div class="span7 offset1">
     <h3> Technology has finally caught up. <br/><br/> <em>NameCoach</em> makes it simple, using recent web advances to make a tough job easier and their banner moments truly special. </h3>
     </div>
     <div class="rp-item span3"> <img src="/assets/graduation_000_2.jpg" alt=""/></div>
</div>

<div class="row">
  <div class="span11 offset1">
     <br/>
       <div class="text-divider6">
          <span></span>
        </div>
  </div>
</div>



<br/>
<div class="row">

          <div class="span5 offset1">
            <br/>
                <h4><em>Curious about our other educational services? Click <a href="<%= students_path %>" class="cent">here</a> for more information on the Student Name Directory service!</em></h4>
              </div>

          <div class="span6">

            <!-- Slider (Flex Slider -->
            <div class="flexslider">
              <ul class="slides">
                
                <li> 
                  <div class="test">
                      <strong><span class="qstart">&#8220;</span>Brilliant! I can 100% say I would be a different person if I had not had a "weird" name growing up in the US.  I wish they had had this when I was in school. I now teach, and I just wanted to say thank you to everyone who was involved in making this."<span class="qend">&#8221;</span></strong>
                  </div>
                  <div class="test-arrow"></div>
                  <div class="tauth"><i class="icon-user"></i> Nelleke Spanjaard Harris, <span class="color">Kindergarten Teacher, Somerville, MA</span></div>
                </li>

                <li> 
                  <div class="test">
                      <strong><span class="qstart">&#8220;</span>NameCoach was a huge asset to the success of our graduation ceremony.  <span class=" black">It's a simple, intuitive, and most importantly helpful tool </span> to make sure that each person hears their name pronounced correctly during their moment of honor. I look forward to continuing to use the service to make sure that students are respected and announced accurately at our future events.<span class="qend">&#8221;</span></strong>
                  </div>
                  <div class="test-arrow"></div>
                  <div class="tauth"><i class="icon-user"></i> Mike Wilson, <span class="color">Faculty, Haltom High School</span></div>
                </li>
                
                <li>
                  <div class="test">
                      <strong><span class="qstart">&#8220;</span><span class=" black">NameCoach was a wonderful resource for our faculty, staff and students for our Commencement ceremony.</span> Easy to use, and it was helpful to have our students record their name pronuciations for our faculty. It was one less thing we had to worry about! This is such an important event for our students, and using NameCoach certainly contributed to the success of our program. <span class=" black">Their customer service was exceptional</span> and they replied to our questions/concerns in a timely manner.  <span class=" black">We are excited to use the new Student Name Directory service for upcoming orientation and recruitment events!</span> <span class="qend">&#8221;</span></strong>
                  </div>
                  <div class="test-arrow"></div>
                  <div class="tauth"><i class="icon-user"></i> Olgalydia Winegar, <span class="color">Student Services Manager, Stanford BioE Dept.</span></div>
                </li>

                <li>
                  <div class="test">
                      <strong><span class="qstart">&#8220;</span>The Commencement Service is a very nice program. But  <span class=" black">it's one thing to have your name mispronounced at Graduation; it's another to have your name mispronounced every day in class.</span> I look forward to inviting all of my students to use the resource in anticipation of the first day of school.  <span class=" black">My teachers will be asked to review their class rosters and if they come across a name they feel would be hard to pronounce, they can listen to the name before the student even enters class!</span>  This, I feel, would go a long way to helping to create an inclusive, safe learning environment.<span class="qend">&#8221;</span></strong>
                  </div>
                  <div class="test-arrow"></div>
                  <div class="tauth"><i class="icon-user"></i> Greg Louie, <span class="color">Principal, Santa Teresa High School</span></div>
                </li>
                
                <li>
                  <div class="test">
                      <strong><span class="qstart">&#8220;</span><span class=" black">A creative way to address a very real (all-too-real) problem.</span><span class="qend">&#8221;</span></strong>
                 </div>
                 <div class="test-arrow"></div>
                 <div class="tauth"><i class="icon-user"></i> Daniel Regan, <span class="color">Faculty, Johnson State College </span></div>               
                </li>

              </ul>
            </div>  <!-- END Slider (Flex Slider -->


          </div>  <!-- END SPAN FOR SLIDER -->


<div class="row">
  <div class="span11 offset1">
     <br/>
       <div class="text-divider6">
          <span></span>
        </div>
  </div>
</div>


<div class="row"id="free_trial">
  <div class="span9 offset1">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h1 class="light-blue cent"><em>Back-to-School Season Offers:</em></h1>
   <center> <h4>  </h4> </center>
 </div>
</div>

<br/>

<div class = "row" >
  <% if mobile_device? %>
  <div class="span12">
  <% else %>
  <div class="span10 offset2">
  <% end %> 
       <!--SILVER-->
        <div class="fltlft PlanBoxGold">
          <div class="PlanBoxHeading"><strong><center>COMMENCEMENT SERVICE</center></strong></div>
          <i><center>The culmination of their educational career. Get your graduates to record their names now to ensure the moment is perfect for them and their families!</center></i>
          <br/>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$<%= @commencement_plan.annual_cost_cents / 100 %> Annual Subscription</strong></li>
              <li>As many Name Pages as needed for a successful commencement</li>
              <li>Different lists for different announcers, degree programs, etc.</li>
              <li>Unlimited name recordings</li>
             <li>Free <em>Audentity</em> Service for your Students&nbsp;<i class="icon-info-sign light-blue" id= "popover_audentity" rel="popover" data-placement="left" data-content="Any student who records on our site will be offered <strong>free lifetime access</strong> to our soon-to-be-released <em>Audentity</em> service.<br/><br/> <em>Audentity</em> allows individuals to embed their name recording in their email signatures and social media presence.<br/><br/>We want your students to enjoy hearing their names pronounced correctly everywhere, long after they graduate!<br/><br/>" data-original-title="Lifetime <em>Audentity</em> Service"></i></li>
              <br/><br/><br/>
              <li>
                <p class="PlanBoxSignUp"><%= form_for(:snc, url: newcustomer_path) do |y| %>
                <%= y.hidden_field :plan, :value => @commencement_plan.my_plan_id %>
                <%= y.hidden_field :event_type, :value => 'commencement' %>
                  <%= y.submit "Start Free Trial!", class: "btn-primary btn-large" %><h6>&nbsp;&nbsp;14-Day Free Trial</h6> 
                <% end %> </p>

              </li>

            </ul>
          </div>
        </div>

        <!--Gold-->
        <div class="fltlft PlanBoxGold">
          <div class="PlanBoxHeading"><strong><center>STUDENT NAME DIRECTORY</center></strong></div>
          <i><center>Build an environment of respect and inclusion from the first day of class by ensuring that every student's name is said perfectly. </center></i>
          <br/>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$<%= @students_plan.annual_cost_cents / 100 %> Annual Subscription</strong></li>
              <li>Create a master list for all students, current and incoming </li> <br/>
              <li>Teachers and staff can use a built-in search bar to look up any student's name with ease</li>
              <li>Unlimited name recordings</li>
              <li>Free <em>Audentity</em> Service for your Students&nbsp;<i class="icon-info-sign light-blue" id= "popover_audentity_2" rel="popover" data-placement="left" data-content="Any student who records on our site will be offered <strong>free lifetime access</strong> to our soon-to-be-released <em>Audentity</em> service.<br/><br/> <em>Audentity</em> allows individuals to embed their name recording in their email signatures and social media presence.<br/><br/>We want your students to enjoy hearing their names pronounced correctly everywhere, long after they graduate!<br/><br/>" data-original-title="Lifetime <em>Audentity</em> Service"></i></li>
              <br/><br/><br/>
              <li>
                <p class="PlanBoxSignUp"><%= form_for(:snc, url: newcustomer_path) do |y| %>
                <%= y.hidden_field :plan, :value => @students_plan.my_plan_id %>
                <%= y.hidden_field :event_type, :value => 'students' %>
                  <%= y.submit "Start Free Trial!", class: "btn-primary btn-large" %><h6>&nbsp;&nbsp;14-Day Free Trial</h6>
                <% end %>  </p>
              </li>
            </ul>
          </div>
        </div>
        
        <!--Platinum-->
        <div class="fltlft PlanBoxGold">
          <div class="PlanBoxHeading"><strong><center>STUDENT NAME DIRECTORY + COMMENCEMENT SERVICE + EVERYTHING ELSE!</center></strong></div>
          <i><center> (awards ceremonies, interview day, sports announcing, etc.)</center></i>
          <br/>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$<%= @all_inclusive_plan.annual_cost_cents / 100 %> Annual Subscription</strong></li>
              <li><span class="purple"><strong>All Commencement Service and Student Name Directory features</strong></span></li>
              <li>+ <em>Default commencement pages according to year of graduation/program</em></li>
              <li>+ <em>Teachers can create Name Pages for their classes, and/or copy entries from the Name Directory, and enter their own pronunciation notes</em></li>
              <li>+ <em>Unlimited Name Pages</em> (for any purpose)</li>
              <li>
                <p class="PlanBoxSignUp"><%= form_for(:snc, url: newcustomer_path) do |y| %>
                <%= y.hidden_field :plan, :value => @all_inclusive_plan.my_plan_id %>
                <%= y.hidden_field :event_type, :value => 'all_inclusive' %>
                  <%= y.submit "Start Free Trial!", class: "btn-primary btn-large" %><h6>&nbsp;&nbsp;14-Day Free Trial</h6>
                <% end %>  </p>
              </li>
            </ul>
          </div>
        </div>
  </div>
</div>

<div class = "row">
  <div class="span7 offset2">
    <center><h6><i class="icon-ok light-blue"></i>&nbsp;&nbsp;100% money-back Satisfaction Guarantee&nbsp;<a href="<%= faq_path %>.htm#collapseEleven" target="_blank" ><i class="icon-info-sign "></i></a></h6></center>
    <center><p><h5>If you are interested in our services but have pressing budgetary constraints, please get in touch with us – we may be able to work with you on a case by case basis.</h5></p></center>
  </div>
</div>

   <script>  
                $(function ()  
                { $("#popover_audentity").popover();  
                });  
               </script>

                <script>  
                $(function ()  
                { $("#popover_audentity_2").popover();  
                });  
               </script>


</div>

</div>