<div class= "sections section-CoupleWelcome white">
	<div class="container">
		<header class="centralized">
			<img src="<%= asset_path "Logo_White_Micro.png"%>" width="500px">
			<img src="<%= asset_path "divider.png"%>" class="divider">
		</header>
		<article>
			<h2 class="centralized light">the best way to add fun and meaningful moments <br/> to your wedding experience</h2>
		</article>
	</div><!-- END CONTAINER -->
</div><!-- END SECTION-WELCOME -->

<div class= "sections section-what">
	<div class="container">

	<div class="row">
		<header class="centralized">
			<h1>Your Wedding Day...</h1>
			<img src="<%= asset_path "divider.png"%>" class="divider">
		</header>
	</div>
	<br/>
	<div class="row">
		<article class="col-lg-5 col-lg-offset-1">
			<h5>From choosing a great cake and picking the right venue to having an exceptional DJ deliver a fantastic set, you expect everything to be perfect. <br/><br/>But what matters most, of course, is the love and well-wishes of your family and friends.</h5>
		</article>

		<article class="col-lg-4 col-lg-offset-1">
			<img src="<%= asset_path "wed2.jpeg"%>" class="img-responsive img-thumbnail" alt="Responsive image">
		</article>
	</div>

<br/><br/>
	

	</div><!-- END CONTAINER -->
</div><!-- END SECTION-WHAT -->

<div class= "sections section-coupleWhy gold-bg">
	<div class="container">
		<header class="centralized">
			<h1>Why VoiceGems</h1>
			<img src="<%= asset_path "divider.png"%>" class="divider">
		</header>
	

		<div class="row">
			<article class="col-lg-11 col-lg-offset-1">
				<h5 class="light">The traditional wedding toast only gives a very select few the opportunity to express their sentiments. VoiceGems is an affordable, easy-to-use service, which supplements the traditional toast in unique ways:</h5>

				<ul>

				<li>
					Any guest you choose can pre-record a short toast online - even family and friends who can't attend
				</li>

				<li>
					Encourages toasts to be more thoughtful and relaxed, while eliminating stress and embarassment 
				</li>				
				<li>
					Your DJ can blend toasts with music to create a more meaningful, fun, and social entertainment mix 
				</li>
				<li>
					Toasts can also be played alone for unexpected and special shared moments at any hour
				</li>
				<li>
					All VoiceGems permanently stored on your cloud-based personal page - a keepsake of voices and sentiments to be treasured forever
				</li>

			</ul>
				   <div class="centralized">
						<iframe src="//player.vimeo.com/video/86657019" width="470" height="265" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
					</div>
					<br/><br/>
					 <h5 class="normal centralized"><i class="fa fa-caret-right"></i><span class="blue"><a href="http://blog.voicegems.com/post/78532566464/founder-of-bridaltweet-com-loves-voicegems" target="_blank"><em>&nbsp;&nbsp;See why the Founder of BridalTweet.com loves VoiceGems!&nbsp;&nbsp;</a></em></span></h5>
			
			</article>
		</div>

	
	

	</div><!-- END CONTAINER -->
</div><!-- END SECTION-WHY -->

<div class= "sections section-steps">
	<div class="container">
		<header class="centralized">
			<h1>4 Easy Steps</h1>
			<img src="<%= asset_path "divider.png"%>" class="divider">
		</header>
		<article>
			<ol class="col-lg-offset-2">
				<li>
					DJ Creates a VoiceGems Page for an Event
				</li>
				<span class="grey">Demo Page - &nbsp;<a href="<%= demo_event_page_path %>" target="_blank">VoiceGems Page for the Jones-Ravenwood Wedding</a></span>
				<li>
					A Link is Shared with Guests, Friends &amp Family before the Event
				</li>
				<span class="grey">Demo Link - &nbsp;<a href="<%= @url%>" target="_blank">Please record your VoiceGem for the Jones-Ravenwood wedding here!</a></span>
				<li>
					They Record Short Messages/Toasts with our Online Voice Recorder
				</li>
				<span class="grey">(30-second limit on messages. Can be paired with song requests.)</span>
				<li>
					DJ Blends the VoiceGems into Music for an Unforgettable Event!
				</li>
				<span class="grey">(All VoiceGems downloadable as high-quality <a href="<%= auphonic_path %>" target="_blank"><strong>noise-cancelled</strong></a>  MP3's for easy mixing)</span>
			</ol>
		</article>
	</div><!-- END CONTAINER -->
</div><!-- END SECTION-STEPS -->

<div class= "sections section-signUp gold-bg">
	<div class="container">
		<header class="centralized">
			<h2>Invite Your DJ/MC to Use VoiceGems at Your Wedding!</h2>


			<img src="<%= asset_path "divider.png"%>" class="divider">
		</header>

		<article class="col-lg-11 col-lg-offset-1">
				<h5 class="light">VoiceGems is a service used by DJ's to craft exceptional moments on your big day.  If your DJ doesn't provide this service, don't let that stop you from enjoying VoiceGems!  Just invite them to try it out below:</h5>
		</article>

		<article>
			<center>
	
                  <div class="row" id="invite">
       
                      <div class="col-xs-11 col-md-offset-1 home-block">
                                    
                                <div class="hero-block-2">
                                   <% flash.each do |key, value| %>
                                      <div class="alert alert-block alert-<%=get_alert_class(key)%>"> 
                                      <button type="button" class="close" data-dismiss="alert">×</button>
                                      <%= value %> 
                                      <br/>
                                      </div>
                                    <% end %>
                              
                                    <%= form_for(:invite, url: invite_dj_path, :html => {:class => 'form-inline'}) do |y| %>
                                                    <%= y.text_field :sender_name, :placeholder => "Your Name" %> 
                                                    <%= y.text_field :sender_email, :placeholder => "Your Email" %> <br/> <br/>
                                                     <%= y.text_field :recipient_name, :placeholder => "DJ's Name" %> 
                                                    <%= y.text_field :recipient_email, :placeholder => "DJ's Email" %>
                                                    <br/><br/>
                                                    <%= button_tag(:type => 'submit', :class => 'btn btn-primary btn-large', :disable_with => 'sending invite...')  do %>
                                                     Send Invite!&nbsp;&nbsp;<i class="fa fa-envelope"></i>
                                                    <% end %>
                                                   
                                                   <br/>
                                    <% end %>  

                                </div>
                               <div class="tp-bannershadow tp-shadow1"></div>
                      </div>
                  </div>

			</center>
		</article>
	</div><!-- END CONTAINER -->
</div><!-- END SECTION-STEPS -->


<% if mobile_device? %>
<br/>

<div class="row">
	<div class="col-xs-12">
		<div class="text-divider6">
			<span class="gold"></span>
		</div>
	</div>
</div>

<br/>

<br/>

<div class="row">
	<div class="col-xs-12">
		<div class="text-divider6">
			<span class="gold"></span>
		</div>
	</div>
</div>

<br/>
<br/>
<br/>

<% end %>