<div class= "sections section-CoupleWelcome white">
	<div class="container">
		<header class="centralized">
			<img src="<%= asset_path "Logo_White_Micro.png"%>" class="img-responsive img-center" width="500px">
			<img src="<%= asset_path "divider.png"%>" class="divider img-responsive img-center">
		</header>
		<article>
			<h2 class="centralized light">Let the brilliance of your wedding toasts shine through</h2>
		</article>
		<br/>

		<div class="row">
											<article>
                                   <div class="col-xs-12">
					                   	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">	
					                	<!-- Carousel indicators -->
			                                <ol class="carousel-indicators centralized">
			                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active" ></li>
			                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			                                </ol>							                   		
					                    	<div class="carousel-inner">
					                    			<div class="item active">
									                    <p class="centralized"><strong>"Our wedding experience was just completely different, </br>and it's definitely something I would recommend for your wedding!"</p></strong>
									                    <p class="centralized normal">Kim Schafer, Former Bride, Cincinnati, OH</p>		
								                    </div>	

													<div class="item">
									                    <p class="centralized"><strong>"Couples increasingly look for just this sort of thing. By bringing the voices of family and friends into the mix, VoiceGems adds a fun and meaningful social dimension which promises to  transform the way couples and their guests experience weddings."</p></strong>
									                    <p class="centralized normal">Christine Dyer, Founder, Bridaltweet.com</p>		
								                    </div>				

						                   			<div class="item">
							                    	<p class="centralized"><strong>"It's really made a difference in our weddings... </br>
							                    	I truly think this product will change the wedding industry more over the next five years than anything I've seen in a long time."</p></strong>
							                   		<p class="centralized normal">DJ Allen Walker, Big Daddy Walker Productions</p>
						                    		</div>		
								                    
								                    		                    
					                    	</div><!-- END CAROUSEL-INNTER -->				                    
					                    </div><!-- END CAROUSEL-EXAMPLE-GENETIC -->			                    
					                 </div>
				                   
							</article>
		</div>
		<br/><br/><br/>	
		<center>
		 <a href="#sign" data-dismiss="modal" id="signbtn" class="btn btn-primary btn-lg">Sign Up</a>&nbsp;&nbsp;<a href="#learn" data-dismiss="modal" id="learnbtn" class="btn btn-primary btn-lg">Learn More&nbsp;&nbsp;<i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></a>
		</center>
	</div><!-- END CONTAINER -->
</div><!-- END SECTION-WELCOME -->

<div class= "sections section-what" id="learn">
	<div class="container">

	<div class="row">
		<header class="centralized">
			<h1>How do you make your wedding reception stand out?</h1>
			<img src="<%= asset_path "divider.png"%>" class="divider img-responsive img-center">
		</header>
	</div>
	<br/>
	<div class="row">
	<% if mobile_device? %>
		<article class="col-xs-12">
	<% else %>
		<article class="col-xs-5 col-xs-offset-1">
	<% end %>
			<h5>From picking the right venue to having an exceptional DJ deliver a fantastic set, everything should be perfect.<br/><br/>But it's the sentiments and stories of family and friends that truly create the most memorable moments.</h5>
		</article>

		<% unless mobile_device? %>
		<div class="col-xs-4 col-xs-offset-1">
			<img src="<%= asset_path "wed2.jpeg"%>" class="img-responsive img-thumbnail" alt="Responsive image">
		</div>
		<% end %>
	</div>

<br/><br/>
	

	</div><!-- END CONTAINER -->
</div><!-- END SECTION-WHAT -->

<div class= "sections section-coupleWhy gold-bg" >
	<div class="container">
		<header class="centralized">
			<h1>Bringing More Special Moments to the Mix</h1>
			<img src="<%= asset_path "divider.png"%>" class="divider img-responsive img-center">
		</header>
	

		<div class="row">
			<article class="col-lg-11 col-lg-offset-1">
				<h5 class="light">With VoiceGems, your DJ or MC can blend short, special messages into dinner, cocktail hour, and music sets, creating unforgettable shared moments for you and your guests.</h5>

				<ul>

				<li>
					Any guest you choose can pre-record a short message online - even family and friends who can't attend!
				</li>
				<li>
				    Guests can pair messages with song requests for a beautiful mix of music with meaning. 
				</li>	
				<li>
					Record <em>your own</em> VoiceGems for the father-daughter dance and other special moments.
				</li>
				<li>
					All messages are permanently stored on your personal VoiceGems Page - a keepsake of voices and sentiments to be treasured forever.
				</li>
	
			</ul>

	<% if mobile_device? %>

            <div class="row">
				<div class="col-xs-12" >
					<h5 class="normal centralized">Why Brides Love VoiceGems!</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12" >
					<div class="video-container">
						<iframe src="//player.vimeo.com/video/86657019" width="470" height="265" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
					</div>
				</div>
			</div>
			 <div class="row">
                <div class="col-xs-12">
						<img src="<%= asset_path "divider.png" %>" class="divider img-responsive img-center">
                </div>
            </div>
			<div class="row">
				<div class="col-xs-12">
					<h5 class="normal centralized">Why DJ's Love VoiceGems!</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="video-container">
						<iframe src="//player.vimeo.com/video/86656578" width="470" height="265" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
				</div>
			</div>


		<% else %>

			<div class="row">
				<div class="col-xs-6" >
					<h5 class="normal centralized">See Why Brides Love VoiceGems</h5>
				</div>

				<div class="col-xs-6">
					<h5 class="normal centralized">See Why DJ's Love VoiceGems</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6" >
					<div class="video-container">
						<iframe src="//player.vimeo.com/video/86657019" width="470" height="265" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
					</div>
				</div>


				<div class="col-xs-6">
					<div class="video-container">
						<iframe src="//player.vimeo.com/video/86656578" width="470" height="265" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
				</div>

				
			</div>
	
			<!--END ROW -->
		<% end %>
					<br/><br/>
					 <h5 class="normal centralized"><i class="fa fa-caret-right"></i><span class="blue"><a href="http://blog.voicegems.com/post/78532566464/founder-of-bridaltweet-com-loves-voicegems" target="_blank"><em>&nbsp;&nbsp;See why the Founder of BridalTweet.com loves VoiceGems&nbsp;&nbsp;</a></em></span></h5>
			
			</article>
		</div>

	
	

	</div><!-- END CONTAINER -->
</div><!-- END SECTION-WHY -->

<div class= "sections section-steps">
	<div class="container">
		<header class="centralized">
			<h1>3 Easy Steps</h1>
			<img src="<%= asset_path "divider.png"%>" class="divider img-responsive img-center">
		</header>
		<article>
			<ol class="col-lg-offset-2">
				
				<li>
					Share a link with Guests, Friends &amp Family before your Wedding
				</li>
				<span class="grey">Example Link:&nbsp;<a href="<%= @url%>" target="_blank">Please record your VoiceGem for the Jones-Ravenwood wedding here!</a></span>
				<li>
					They Record Short Messages with our Easy-to-Use Online Voice Recorder

				</li>
				<span class="grey">Example VoiceGems:&nbsp;<a href="<%= demo_event_page_path %>" target="_blank">VoiceGems Page for the Jones-Ravenwood Wedding</a></span>
								<li>
					Your DJ Blends the VoiceGems into Music for an Unforgettable Event!
				</li>
				<span class="grey">(Downloadable as automatically <a href="<%= auphonic_path %>" target="_blank"><strong>noise-cancelled</strong></a>  MP3's for the highest-quality mixing)</span>
			</ol>
			 <a href="<%= demo_event_page_path %>" target="_blank" class="btn btn-primary btn-lg">Hear some real VoiceGems</a>
		</article>
	</div><!-- END CONTAINER -->
</div><!-- END SECTION-STEPS -->

<div class= "sections section-signUp gold-bg" id="sign">
	<div class="container">

		<header class="centralized">
                        <div class="row">
                            <div class="col-xs-12" >

			<h1>Get Your Personal VoiceGems Page Today!</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" >
			<img src="<%= asset_path "divider.png" %>" class="divider img-responsive img-center">
                            </div>
                        </div>
			<h3>	<span class="gold"><strong>Summer's End 25% Off Promotion</strong></span> <em>Only $75</em> if purchased by August 30th (regular price $99) </h3>          
		</header>
		<article>
          <div class="row">
           <% if mobile_device? %>
          	 <ul class="col-xs-12 normal">
           <% else %>
				<ul class="col-xs-10 col-xs-offset-2 normal">
		   <% end %>	

				<li>
					Request VoiceGems (unlimited recordings) just by sharing a link <br/>
					 <span class="grey">Tip: Ask a family member to request recordings so your VoiceGems stay a surprise!</span>
				</li>
	
				<li>
					One-click access for your DJ to download recordings
				</li>
				<li>
					Recordings automatically noise-cancelled for high quality mixing
				</li>
				<li>
					Secure cloud-based storage so you keep them on your personal VoiceGems Page forever
				</li>
				<li>
					Rapid email customer support
				</li>
			</ul>
                        </div>
                        <div class="row">
			<div class="col-xs-12">

			<center>
				 <a href="<%= newcustomer_couple_path %>" class="btn btn-primary btn-lg">Get Your VoiceGems&nbsp;&nbsp;<i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></a><span class="grey"><br/>100% Money-Back Satisfaction Guarantee up to 30 days after purchase!</span><br/><br/>

                               
			</center>
			<br/>

                        </div>
                        </div>
                        <div class="row">
			<div class="col-xs-12">
			<center><img src="<%= asset_path "shadow3.png" %>" class="shadow img-responsive img-center">
			</center>
                        </div>
                        </div>
		</article>
	</div><!-- END CONTAINER -->
</div><!-- END SECTION-STEPS -->



<script>
    jQuery(function(){
        $('#nav').load('nav.html');
    });

    jQuery(function(){
     $('.nav a:contains("Couples")').parent().addClass('active');
    });
</script>

<script>
var $root = $('html, body');
$("a#learnbtn").click(function() {
    $root.animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 1000);
    return false;
});
</script>

<script>
var $root = $('html, body');
$("a#signbtn").click(function() {
    $root.animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 1000);
    return false;
});
</script>
