<div class= "sections section-CoupleWelcome white">
	<div class="container">
		<header class="centralized">
			<img src="<%= asset_path "Logo_White_Micro.png"%>" width="500px">
			<img src="<%= asset_path "divider.png"%>" class="divider">
		</header>
		<article>
			<h2 class="centralized light">a redefinition of wedding toasts a redefinition of wedding toasts a redefinition of wedding toasts</h2>
		</article>
	</div><!-- END CONTAINER -->
</div><!-- END SECTION-WELCOME -->

<div class= "sections section-what">
	<div class="container">
		<header class="centralized">
			<h1>Wedding day...</h1>
			<img src="<%= asset_path "divider.png"%>" class="divider">
		</header>
		<article>
			<h5 class="centralized light">It’s one of the most important moments of your life and you want everything to be perfect. </br>
			From dress selection, a great cake, and picking the right venue to having an exceptional DJ deliver a fantastic set</br>
			you want things to be [right]. </br>But, what matters most is the love and wishes of your family and friends.</h5>
		</article>

		<header class="centralized">
			<h1>Wedding Toasts...</h1>
			<img src="<%= asset_path "divider.png"%>" class="divider">
		</header>
		<article class="second">
			<h5 class="centralized light">are a time-honored tradition that makes this special day memorable and treasured, </br>
			but it’s an opportunity that is only given to a select few.</h5>
		</article>
	</div><!-- END CONTAINER -->
</div><!-- END SECTION-WHAT -->

<div class= "sections section-coupleWhy gold-bg">
	<div class="container">
		<header class="centralized">
			<h1>Why VoiceGems</h1>
			<img src="<%= asset_path "divider.png"%>" class="divider">
		</header>
		<article>
			<h6 class="centralized light">It is a unique, affordable, easy-to-use service, which supplements the traditional toasts in more than one way.</h6>
			<ul class="col-lg-11 col-lg-offset-1">
				<li>
					Encourages toasts to be thoughtful and relaxed - no last minute Google-searched toasts
				</li>				
				<li>
					Any guest can create a short, pre-recorded toast through online links, even those who can't attend
				</li>

				<li>
					Helps overcome the emotional stress that occurs when guests forget their lines or are simply too shy.
				</li>
				<li>
					VoiceGems can be played anytime during the party, creating exceptional moments throughout the day.
				</li>				
				<li>
					Lets your DJ unleash his professional creativity, blending VoiceGems with music to produce a fascinating new kind of entertainment mix.
				</li>

			</ul>
		</article>
	</div><!-- END CONTAINER -->
</div><!-- END SECTION-WHY -->

<div class= "sections section-steps">
	<div class="container">
		<header class="centralized">
			<h1>4 Easy Steps</h1>
			<img src="<%= asset_path "divider.png"%>" class="divider">
		</header>
		<article>
			<ol class="col-lg-offset-2">
				<li>
					DJ Creates a VoiceGems Page for an Event
				</li>
				<span class="grey">Demo Page - &nbsp;<a href="#" target="_blank">VoiceGems Page for the Jones-Ravenwood Wedding</a></span>
				<li>
					A Link is Shared with Guests, Friends &amp Family before the Event
				</li>
				<span class="grey">Demo Link - &nbsp;<a href="#" target="_blank">Please record your VoiceGem for the Jones-Ravenwood wedding here!</a></span>
				<li>
					They Record Short Messages/Toasts with our Online Voice Recorder
				</li>
				<span class="grey">(30-second limit on messages. Can be paired with song requests.)</span>
				<li>
					DJ Blends the VoiceGems into Music for an Unforgettable Event!
				</li>
				<span class="grey">(All VoiceGems downloadable as high-quality <a href="<%= auphonic_path%>" target="_blank"><strong>noise-cancelled</strong></a>  MP3's for easy mixing)</span>
			</ol>
		</article>
	</div><!-- END CONTAINER -->
</div><!-- END SECTION-STEPS -->

<div class= "sections section-signUp gold-bg">
	<div class="container">
		<header class="centralized">
			<h2>Ask Your DJ/MC To Purchase and Sign Up</h2>
			<img src="<%= asset_path "divider.png"%>" class="divider">
		</header>
		<article>
			<center>
				<a href="<%= djs_path %>" ><button type="button" class="btn btn-primary btn-lg">
					Click here!
				</button></a>
			</center>
		</article>
	</div><!-- END CONTAINER -->
</div><!-- END SECTION-STEPS -->
<% if mobile_device? %>
<br/>

<div class="row">
	<div class="span12">
		<div class="text-divider6">
			<span class="gold"></span>
		</div>
	</div>
</div>

<br/>

<br/>

<div class="row">
	<div class="span12">
		<div class="text-divider6">
			<span class="gold"></span>
		</div>
	</div>
</div>

<br/>
<br/>
<br/>

<% end %>