<div class= "sections section-DJWelcome white">
	<div class="container">
		<header class="centralized">
			<img src="<%= asset_path "Logo_White_Micro.png" %>" width="500px">
			<img src="<%= asset_path "divider.png" %>" class="divider">
		</header>
		<article>
			<h2 class="centralized light">a cloud based service designed for DJ's </br> to provide a completely new dimension in your clients' experience</h2>
		</article>
			<br/><br/>
			<center>
				 <a href="<%= newcustomer_trial_path %>" class="btn btn-primary btn-lg">Start Free Trial&nbsp;&nbsp;<i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></a>
			</center>
	</div><!-- END CONTAINER -->
</div><!-- END SECTION-WELCOME -->

<div class= "sections section-what">
	<div class="container">
		<header class="centralized">
			<h1>Mix Music With Meaning</h1>
			<img src="<%= asset_path "divider.png" %>" class="divider">
		</header>
		<article>
			<h5 class="centralized light">VoiceGems collects short pre-recorded wedding toasts
			for you to blend in your entertainment mix, creating a fun, social, and meaningful touch everyone will love and remember!</h5>
			<ul class="col-lg-offset-2">
				<li>
					Easy to collect and access recordings through our custom web links
				</li>
				<li>
					All recordings polished with cutting-edge noise reduction audio processors&nbsp;&nbsp;<a href="<%= auphonic_path%>" target="_blank"><em>Learn More</em></a>
				</li>
				<li>
					Highest quality voice MP3's downloadable for easy integration
				</li>
			</ul>
		</article>
	</div><!-- END CONTAINER -->
</div><!-- END SECTION-WHAT -->

<div class= "sections section-DJwhy gold-bg">
	<div class="container">
		<header class="centralized">
			<h1>Why VoiceGems</h1>
			<img src="<%= asset_path "divider.png" %>" class="divider">
		</header>
		<article>
			<div class="row">
				<div class="col-lg-6">
					<h5 class="normal centralized">Growth-Enhancing Benefits for DJs</h5>
					<br>
					<div class="centralized">
						<iframe src="//player.vimeo.com/video/86656578" width="470" height="265" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
					<ul >
						<li>
							Provide an additional revenue channel
						</li>
						<li>
							Expand your service portfolio
						</li>
						<li>
							Differentiate your business and your brand
						</li>
					</ul>
				</div>

				<div class="col-lg-6" >
					<h5 class="normal centralized">A More Meaningful Experience for Clients</h5>
					<br>

					<div class="centralized">
						<iframe src="//player.vimeo.com/video/86657019" width="470" height="265" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
					</div>

					<ul >
						<li>
							Any family member or friend can express sentiments
						</li>
						<li>
							Toasts become more thoughtful
						</li>
						<li>
							Music takes on an altogether new dimension 
						</li>
					</ul>
				</div>
			</div>
			<!--END ROW -->
			<div class="row">
					 <h5 class="normal centralized"><i class="fa fa-caret-right"></i><span class="blue"><a href="http://blog.voicegems.com/post/78532566464/founder-of-bridaltweet-com-loves-voicegems" target="_blank"><em>&nbsp;&nbsp;See why the Founder of BridalTweet.com loves VoiceGems!&nbsp;&nbsp;</a></em></span></h5>
			</div>
		</article>
	</div><!-- END CONTAINER -->
</div><!-- END SECTION-WHY -->

<div class= "sections section-steps">
	<div class="container">
		<header class="centralized">
			<h1>4 Easy Steps</h1>
			<img src="<%= asset_path "divider.png" %>" class="divider">
		</header>
		<article>
			<ol class="col-lg-offset-2">
				<li>
					DJ Creates a VoiceGems Page for an Event (in under 10 seconds)
				</li>
				<span class="grey">Demo Page - &nbsp;<a href="<%= demo_event_page_path %>" target="_blank">VoiceGems Page for the Jones-Ravenwood Wedding</a></span>
				<li>
					A Link is Shared with Guests, Friends &amp Family before the Event
				</li>
				<span class="grey">Demo Link - &nbsp;<a href="<%= @url%>" target="_blank">Please record your VoiceGem for the Jones-Ravenwood wedding here!</a></span>
				<li>
					They Record Short Messages/Toasts with our Online Voice Recorder
				</li>
				<span class="grey">(30-second limit on messages. Can be paired with song requests.)</span>
				<li>
					DJ Blends the VoiceGems into Music for an Unforgettable Event!
				</li>
				<span class="grey">(All VoiceGems downloadable as high-quality <a href="<%= auphonic_path %>" target="_blank"><strong>noise-cancelled</strong></a> MP3's for easy mixing)</span>
			</ol>
		</article>
	</div><!-- END CONTAINER -->
</div><!-- END SECTION-STEPS -->

<div class= "sections section-signUp gold-bg">
	<div class="container">
		<header class="centralized">
			<h1>Start Your Free Trial Today</h1>
			<img src="<%= asset_path "divider.png" %>" class="divider">
		</header>
		<article>
			<ul class="col-lg-offset-2 normal">
				<li>
					Create Free Trial Event Pages for your Clients (unlimited 30-day use)
				</li>
				<li>
					Buy Regular Event Pages for your Clients (no expiration, use anytime)
				</li>
				<li>
					Request VoiceGems (unlimited recordings per Page)
				</li>
				<li>
					Download and Mix Polished VoiceGems from the Page
				</li>
				<li>
					Rapid Email Customer Support
				</li>
			</ul>

			<center>
				 <a href="<%= newcustomer_trial_path %>" class="btn btn-primary btn-lg">Start Free Trial&nbsp;&nbsp;<i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></a>
                                <span class="help-block">(no credit card required)</span>
			</center>
			<br/>
			<center><img src="<%= asset_path "shadow3.png" %>" class="shadow">
			</center>
		</article>
	</div><!-- END CONTAINER -->
</div><!-- END SECTION-STEPS -->
