<div class="jumbotron">
      <h1><em>Using NameCoach for Your Clients' Receptions</em> </h1>
  </div>
             <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=key%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>

<br/>
<br/>


<div class="row">
    <div class="span8 offset3">
      <h2><center>NameCoach is essential for all DJs and Wedding Planners in charge of ensuring the perfect wedding reception!</center></h2>
    </div>
</div>

</br>
<center><h4><em>Planning your own wedding? Click <a href="<%= weddings_path %>" class="cent"> here </a> to see how NameCoach can help!</em></h4></center>
<br/>
<div class="sep"></div>
<br/>

<center><td><img src="<%= image_path('reception_About_MDM.jpg')%>"> </td></center> 

<div class="row">
    <div class="span8 offset3">
      <h3>With <em>NameCoach</em>, the MC/DJ gets name pronunciations straight from the source, conveniently hearing and practicing them as needed - allowing complete confidence that the names will be said right. </h3>
      <hr/>
    </div>
</div>

<div class="row">
    <div class="span8 offset3">
      <p><h3>Until now, professional DJ's and MC's have been limited to: </h3></p>
    </div>
</div>

<div class="row">
    <div class="span7 offset4">
        <p><i class="icon-ban-circle"></i>&nbsp;Collecting and deciphering written phonetic pronuciations.</p>
        <p><i class="icon-ban-circle"></i>&nbsp;Getting pronuciations indirectly from the bride, groom, or point-person for the event.</p>
        <p><i class="icon-ban-circle"></i>&nbsp;Learning pronunciations from the Wedding party on the day of, or just before the reception starts.</p>
    </div>
</div>


<div class="row">
    <div class="span8 offset3">
        <p>Without an easy and effective tool to handle this problem, time is wasted, and names (understandably) all too often don't get pronounced right!</p>

   
        <hr/>
    </div>
</div>

<div class="row">
    <div class="span8 offset3">
      <h2>Our Unique Solution:</h2>
    </div>
 </div>

 <div class="row biggertext">
    <div class="span8 offset3">

        
        <div class="content process biggertext">

          <div class="row">
             <div class="span8">
                 <div class="process-meta fl-left">
                   <span>1</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;Share a Link</span>&nbsp;&nbsp;
                  <i class="icon-caret-right"></i>&nbsp;&nbsp;<a href="<%= @url%>" target="_blank"><span class="biggerlink">Please record your name for the Jones-Ravenwood Wedding</span></a><br/>
                  &nbsp;&nbsp;&nbsp;<span class="help-block">(or enter emails to request specific names)<span>   
              </div> 
          </div>

          <div class="row">
             <div class="span8">
                 <div class="process-meta fl-left">
                   <span>2</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;Voice-Record Names Online</span>&nbsp;&nbsp;
                 <br/>
                  &nbsp;&nbsp;&nbsp;<span class="help-block">(and can enter phonetic spellings)</span>   
                
              </div> 
          </div>

         <div class="row">
             <div class="span8">
                 <div class="process-meta fl-left">
                   <span>3</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;Hear (and Practice) Names on your Event Page</span>&nbsp;&nbsp;
                  <i class="icon-caret-right"></i>&nbsp;&nbsp;<a href="<%= demo_wedding_page_path %>" target="_blank" class="biggerlink">Demo Name Page</a>
              </div> 
          </div>


        </div>
       <p> <em>NameCoach</em> can help you <strong>save time, avoid headaches, and gain confidence</strong> that you got it right.</p>
       <hr/> 
    </div>  
  </div> 
     

<div class="row">
    <div class="span8 offset3">
      <h3><i class="icon-check"></i>&nbsp;Safeguarding Reputation and Boosting Referrals</h3>
      <br/>
      <p> Recent surveys conclude that <strong>72% of all brides say they would have spent more time choosing their reception entertainment</strong>, and within one week of the reception, 78% of brides say they would have made this their top priority.*  </strong> </p>
      <h4><strong><em>Spot-on pronunciations help maximize glowing reviews and referrals from your clients!</em></strong></h4>
      <hr/>
    </div>
</div>


<div class="row">
  <div class="span8 offset3">
    <p><em><strong>If you're a Wedding Planner...</strong></em></p>
    <div class="span6 offset1">
      <p><i class="icon-ok"></i>&nbsp;Offering this service to clients and contracted DJ's/entertainment drastically increases your image, setting you apart from your competitors.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8 offset3">
    <p><em><strong>The same goes if you're a DJ...</strong></em></p>
    <div class="span6 offset1">
      <p><i class="icon-ok"></i>&nbsp;As a plus, you save time and make it much easier to provide that professional touch your clients truly appreciate.</p>
    </div>
  </div>
</div>

<div class="row">
      <div class="well well-small span6 offset4">
        <blockquote><em>"<strong>Going the extra mile to make everything perfect for you is our priority.</strong> Whether it’s checking for your favorite songs, or <strong>making sure we pronounce everybody's name correctly</strong>, making your event as fun and flawless as possible is our mission."</em></blockquote>
        <h6>- O'Dea Entertainment Marketing Materials</h6>
      </div>
</div>

<div class="row">
  <div class="span8 offset3">
    <h3><strong>Go the extra mile to ensure the moments are perfect for your clients and their friends and families!</strong>&nbsp;&nbsp;<a href="<%= demo_wedding_page_path %>" target="_blank" class="btn btn-primary">See Demo Name Page</a> </h3>
   <br/>
    <div class="span7 offset1"><img src="<%= image_path('reception_wedding-photo.png')%>"></div>

  </div>
</div>



<div class="container">
<br/>
<div class="sep"></div>


<div class="row">
  <div class="span8 offset2">
    
    <center><h1 class="light-blue cent">Wedding Reception Special Offer</h1></center>
 </div>
</div>

<br/>


<div class = "row">
  <div class="span8 offset2">
       <!--SILVER-->
        <div class="fltlft PlanBoxGold">
          <div class="PlanBoxHeading"><%= @first_plan.name.upcase%> PLAN</div>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$<%= @first_plan.monthly_cost_cents / 100 %> Monthly</strong></li>
              <li><%= @first_plan.events_number%> Events / Year</li>
              <li>Unlimited Name Recordings </li>
              <li>Free 14 Day Trial</li>
              <li>
                <p class="PlanBoxSignUp"><%= form_for(:snc, url: newcustomer_path) do |y| %>
                <%= y.hidden_field :plan, :value => @first_plan.my_plan_id %>
                <%= y.hidden_field :event_type, :value => 'reception' %>
                  <%= y.submit "Start Free Trial!", class: "btn-primary btn-large" %>
                <% end %>  </p>
              </li>
            </ul>
          </div>
        </div>

        <!--Gold-->
        <div class="fltlft PlanBoxGold">
          <div class="PlanBoxHeading"><%= @second_plan.name.upcase%> PLAN</div>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$<%= @second_plan.monthly_cost_cents / 100 %> Monthly</strong></li>
              <li><%= @second_plan.events_number%> Events / Year</li>
              <li>Unlimited Name Recordings </li>
              <li>Free 14 Day Trial</li>
              <li>
                <p class="PlanBoxSignUp"><%= form_for(:snc, url: newcustomer_path) do |y| %>
                <%= y.hidden_field :plan, :value => @second_plan.my_plan_id %>
                <%= y.hidden_field :event_type, :value => 'reception' %>
                  <%= y.submit "Start Free Trial!", class: "btn-primary btn-large" %>
                <% end %>  </p>
              </li>
            </ul>
          </div>
        </div>
        
        <!--Platinum-->
        <div class="fltlft PlanBoxGold">
          <div class="PlanBoxHeading"><%= @third_plan.name.upcase%> PLAN</div>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$<%= @third_plan.monthly_cost_cents / 100 %> Monthly</strong></li>
              <li><%= @third_plan.events_number%> Events / Year</li>
              <li>Unlimited Name Recordings </li>
              <li>Free 14 Day Trial</li>
              <li>
                <p class="PlanBoxSignUp"><%= form_for(:snc, url: newcustomer_path) do |y| %>
                <%= y.hidden_field :plan, :value => @third_plan.my_plan_id %>
                <%= y.hidden_field :event_type, :value => 'reception' %>
                  <%= y.submit "Start Free Trial!", class: "btn-primary btn-large" %>
                <% end %>  </p>
              </li>
            </ul>
          </div>
        </div>
  </div>
</div>

<br/>
<div class="sep"></div>

</div>





<br/>
<div class="row">
  <div class="span8 offset3">
    <h6>*These statistics were published in St. Louis Bride and Groom Magazine in 2003. Sources include: Simmons, 2001; USA Today, 2002; National Bridal Service, 2001; The Knot, 2002; Brides Magazine, 2001. *Reprinted from www.ADJA.org </h6>
  </div>
</div>