<div class="jumbotron">
      <h1><em>Using NameCoach for Student Names Directory</em> </h1>
  </div>
             <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=key%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>

<br/>
<br/>


<div class="sep"></div>
<br/>

<div class="row">
    <div class="span8 offset3">
      <center><h3>"Names are personal and reflect our identity and culture - It is important to get them right." &#8213; <i><a href="<%= "http://www.tolerance.org/blog/respect-little-q-your-class" %>" target="_blank">Ashley Lauren Samsa</a></i> </h3></center>
      <hr/>
    </div>
</div>

<center><img src="<%= image_path('spokes2.jpg')%>"></center>

<br/>

<div class="row">
  <div class="span8 offset3">
    <p><h4><center>Despite best efforts, overcoming this issue in schools has been difficult.</center></h4><p>
  </div>
</div>

<br/>

<div class="span11 offset2">
  <div class="row biggertext">
    <div class="well well-small span4">
        <br/>
        <blockquote><em>"Prolonged mispronunciation of names can lead to the development of anxiety and resentment. This may further lead to an interpretation by the person in question that his/her culture is not valued. When a student goes to school and their name is mispronounced or changed, it can negate the thought, care and signiﬁcance of the name, and thus the identity of the student."</em></blockquote>
        <h6>&nbsp;&nbsp;&nbsp;&nbsp;&#8213;&nbsp;KOHLI, R. & SOLORZANO, D. (2012) "TEACHERS, PLEASE LEARN OUR NAMES!" in RACE, ETHNICITY AND EDUCATION</h6>
        <br/><br/>
    </div>
    <div class="rp-item span5">
      <img src="<%= image_path('shouter-guy4.jpg')%>">
    </div>
  </div>
</div>

<br/>

<div class="row">
  <div class="span8 offset3">
    <center><p><h4>With <em>NameCoach</em>&nbsp;:</h4><p></center>
  </div>
</div>

<div class="span10 offset2">
  <div class="row biggertext">
    <div class="rp-item span4">
     <img src="<%= image_path('students.jpg')%>"> <br/>

      
        <center><p><h4>Teachers finally have a way to effectively address this problem.</h4></p></center>
      
    </div>
    <div class="rp-item span4 offset1">
      <img src="<%= image_path('students_children.jpg')%>"><br/>

        <center><p><h4>And students will feel more respected in a <br/>safe and inclusive learning environment.</h4></p></center>

    </div>
  </div>
</div>


<div class="row">
  <div class="span8 offset3">
    <center><p><h4>NameCoach solves that problem with its unique, easy-to-use solution. Curious about our other educational products? Click <a href="<%= commencements_path %>" class="cent">here</a> for more information on the graduations ceremony product!</h4><p></center>
  </div>
</div>



<br/>
<div class="row">
    <div class="span8 offset3">
      <h2>Our Unique Solution:</h2>
    </div>
 </div>

 <div class="row biggertext">
    <div class="span8 offset3">

        
        <div class="content process biggertext">

          <div class="row">
             <div class="span8">
                 <div class="process-meta fl-left">
                   <span>1</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;Share a Link</span>&nbsp;&nbsp;
                  <i class="icon-caret-right"></i>&nbsp;&nbsp;<a href="<%= @url%>" target="_blank"><span class="biggerlink">Please record your name</span></a><br/>
                  &nbsp;&nbsp;&nbsp;<span class="help-block">(or enter emails to request specific names)<span>   
              </div> 
          </div>

          <div class="row">
             <div class="span8">
                 <div class="process-meta fl-left">
                   <span>2</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;Voice-Record Names Online</span>&nbsp;&nbsp;
                 <br/>
                  &nbsp;&nbsp;&nbsp;<span class="help-block">(and can enter phonetic spellings)</span>   
                
              </div> 
          </div>

         <div class="row">
             <div class="span8">
                 <div class="process-meta fl-left">
                   <span>3</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;Hear (and Practice) Names on your Event Page</span>&nbsp;&nbsp;
                  <i class="icon-caret-right"></i>&nbsp;&nbsp;<a href="<%= demo_wedding_page_path %>" target="_blank" class="biggerlink">Demo Name Page</a>
              </div> 
          </div>
        </div>
      </div>
    </div>  

   
  <div class="row">
    <div class="span7 offset3">
      <center><p><h4><em>NameCoach</em> can help you <strong>save time and gain confidence</strong> that you got it right.</h4></p></center>
    </div>
  </div>

<div class="container">
<br/>
<div class="sep"></div>

<br/>
<div class="row">
  <div class="span9 offset1">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h1 class="light-blue cent">Educational Settings Offer:</h1>
 </div>
</div>

<br/>


<div class = "row">
  <div class="span9 offset2">
       <!--SILVER-->
        <div class="fltlft PlanBoxGold">
          <div class="PlanBoxHeading"><strong><center>COMMENCEMENT SERVICE</center></strong></div>
          <i><center>The culmination of their educational career. Get your graduates to record their names now to ensure the moment is perfect for them and their families!</center></i>
          <br/>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$<%= @seventh_plan.annual_cost_cents / 100 %> Yearly</strong></li>
              <li>As many event pages as necessary for a successful commencement</li>
              <li>Unlimited name recordings per event page</li>
              <br/><br/><br/><br/>
              <li>
                <p class="PlanBoxSignUp"><%= form_for(:snc, url: newcustomer_path) do |y| %>
                <%= y.hidden_field :plan, :value => @seventh_plan.my_plan_id %>
                <%= y.hidden_field :event_type, :value => 'commencement' %>
                  <%= y.submit "Purchase Now!", class: "btn-primary btn-large" %>
                <% end %>  </p>
              </li>
            </ul>
          </div>
        </div>

        <!--Gold-->
        <div class="fltlft PlanBoxGold">
          <div class="PlanBoxHeading"><strong><center>STUDENT NAME DIRECTORY</center></strong></div>
          <i><center>Build a sense of personal uniqueness. Ask your students to record their names to ensure to start an amazing term with the correct pronunciation.</center></i>
          <br/>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$<%= @eighth_plan.annual_cost_cents / 100 %> Yearly</strong></li>
              <li>Create a master list of all names </li>
              <li>Use a built-in search bar to look up your students’ name with ease</li>
              <li>Provides easy access to teachers and staff</li>
              <br/>
              <li>
                <p class="PlanBoxSignUp"><%= form_for(:snc, url: newcustomer_path) do |y| %>
                <%= y.hidden_field :plan, :value => @eighth_plan.my_plan_id %>
                <%= y.hidden_field :event_type, :value => 'students' %>
                  <%= y.submit "Purchase Now!", class: "btn-primary btn-large" %>
                <% end %>  </p>
              </li>
            </ul>
          </div>
        </div>
        
        <!--Platinum-->
        <div class="fltlft PlanBoxGold">
          <div class="PlanBoxHeading"><strong><center>STUDENT NAME DIRECTORY + COMMENCEMENT SERVICE + ANYTHING ELSE!</center></strong></div>
          <i><center> (awards ceremonies, interview day, and any other event!)</center></i>
          <br/>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$<%= @ninth_plan.annual_cost_cents / 100 %> Yearly</strong></li>
              <li>Unlimited Name Pages</li>
              <li>Default graduation page according to year of graduation.</li>
              <li>Teachers can create sub-lists for their own classes and also from the master list, and enter their own pronunciation notes. </li><br/>
              <li>
                <p class="PlanBoxSignUp"><%= form_for(:snc, url: newcustomer_path) do |y| %>
                <%= y.hidden_field :plan, :value => @ninth_plan.my_plan_id %>
                <%= y.hidden_field :event_type, :value => 'all_inclusive' %>
                  <%= y.submit "Purchase Now!", class: "btn-primary btn-large" %>
                <% end %>  </p>
              </li>
            </ul>
          </div>
        </div>
  </div>
</div>

<br/>
<div class = "row">
  <div class="span7 offset2">
    <center><p><h5>If you are interested in our products but have pressing budgetary constraints then please get in touch with us – we may be able to work with you on a case by case basis.</h5></p></center>
  </div>
</div>

<br/>
<div class="sep"></div>

</div>
