<div class="jumbotron">
      <h1>Start the School Year Right with Our Student Name Directory Service </h1>
  </div>
             <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=key%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>


<div class="sep"></div>
<br/>

<div class="row">
    <div class="span8 offset3">
      <center><h3>"As teachers, it is our responsibility to learn our students’ names and thus respect their identities and their cultures."</h3> &#8213; <i><a href="<%= "http://www.tolerance.org/blog/respect-little-q-your-class" %>" target="_blank">Ashley Lauren Samsa, "Respect the 'Little Q' in Your Class," <em>Teaching Tolerance</em></a></i> </center>
      <hr/>
    </div>
</div>

<center><img src="<%= image_path('spoke4-transp.png')%>"></center>
<center><img src="<%= image_path('spoke4-transp-line.png')%>"></center>
<center><img src="<%= image_path('spoke4-transp-big-center.png')%>"></center>

<br/>

<div class="row">
  <div class="span8 offset3">
    <p><h5><center>Without an easy and effective tool to handle this problem, names, (understandably) all too often don't get pronounced right, leading to a variety of negative effects</center></h5><p>
  </div>
</div>

<br/>

<div class="span8 offset3">
  <h4> <span class="black"><img src="<%= image_path('shouter-left.png') %>" align="right"></br><span class="qstart-small">&#8220;</span>Prolonged mispronunciation of names can lead to the development of anxiety and resentment. This may further lead to an interpretation by the person in question that his/her culture is not valued. When a student goes to school and their name is mispronounced or changed, it can negate the thought, care, and significance of the name, and thus the identity of the student.<span class="qend-small">&#8221;</span></h4><br/><h5>&#8213;&nbsp; <a href="http://www.academia.edu/192884/Kohli_R._and_Solorzano_D._2012_Teachers_please_learn_our_names_Racial_Microagressions_and_the_K-12_Classroom._Race_Ethnicity_and_Education" target="_blank">Kohli, R. & Solorzano, D. (2012), "Teachers, Please Learn Our Names!: Racial Microagressions in the K-12 Classroom," <em>Race, Ethnicity, and Education</em></a></h5></span>
<hr/>
</div>

<br/>
<br/>

<div class="row">
  <div class="span8 offset3">
    <br/>
   <h2> <span class="black">Our <em>Student Name Directory</em> is a unique, easy-to-use solution</span>: </h2>
  </div>
</div>

 <div class="row biggertext">
    <div class="span8 offset3">

        
        <div class="content process biggertext">

          <div class="row">
             <div class="span8">
                 <div class="process-meta fl-left">
                   <span>1</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;Share a Link</span>&nbsp;&nbsp;
                  <i class="icon-caret-right"></i>&nbsp;&nbsp;<a href="<%= @url%>" target="_blank"><span class="biggerlink">Please record your name</span></a><br/>
                  &nbsp;&nbsp;&nbsp;<span class="help-block">(or enter emails to request specific names)<span>   
              </div> 
          </div>

          <div class="row">
             <div class="span8">
                 <div class="process-meta fl-left">
                   <span>2</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;Students Voice-Record Names Online</span>&nbsp;&nbsp;
                 <br/>
                  &nbsp;&nbsp;&nbsp;<span class="help-block">(and can enter phonetic spellings)</span>   
                
              </div> 
          </div>

         <div class="row">
             <div class="span8">
                 <div class="process-meta fl-left">
                   <span>3</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;Faculty Hear and Learn Names Even Before Class Begins!</span>&nbsp;&nbsp;
                  <i class="icon-caret-right"></i>&nbsp;&nbsp;<a href="<%= demo_directory_path %>" target="_blank" class="biggerlink">Demo Directory</a>
              </div> 
          </div>
        </div>
      </div>
    </div>  

<div class="row">
  <div class="span8 offset3">
    <center><p><h2>With <em>NameCoach</em> services...&nbsp;</h2><p></center>
  </div>
</div>

<br/>

<div class="span10 offset2">
  <div class="row biggertext">
    <div class="rp-item span4">
     <img src="<%= image_path('students.jpg')%>"> 

        <center><p><h4><span class="purple">Teachers finally have an easy and effective way to help immediately establish good relationships.</span></h4></p></center>

     <img src="<%= image_path('student-line.png')%>"> 

        <center><p><h4><span class="purple">Teachers finally have an easy and effective way to help immediately establish good relationships.</span></h4></p></center>
      
    </div>
    <div class="rp-item span4 offset1">
      <img src="<%= image_path('students_children.jpg')%>"><br/>

        <center><p><h4><span class="blue">And students feel more respected and welcomed in a safe and inclusive learning environment. </span></h4></p></center>

      <img src="<%= image_path('student-children-line.png')%>"><br/>

        <center><p><h4><span class="blue">And students feel more respected and welcomed in a safe and inclusive learning environment. </span></h4></p></center>

    </div>
  </div>
</div>
   
  <div class="row">
    <div class="span8 offset3">
      <hr/>
      <center><p><h4><em>Curious about our other educational services? Click <a href="<%= commencements_path %>" class="cent">here</a> for more information on the commencement ceremony product!</em></h4></p></center>
    </div>
  </div>

      <div class="row">

      <div class="span6 offset2">
         <!-- Testimonial #1 -->
         <div class="test">
            <strong><span class="qstart">&#8220;</span>NameCoach was a huge asset to the success of our graduation ceremony.  <span class="black">It's a simple, intuitive, and most importantly helpful tool </span> to make sure that each person hears their name pronounced correctly during their moment of honor. I look forward to continuing to use the service to make sure that students are respected and announced accurately at our future events.<span class="qend">&#8221;</span></strong> 
         </div>
         <div class="test-arrow"></div>
         <div class="tauth"><i class="icon-user"></i> Mike Wilson, <span class="color">Haltom High School</span></div>
      </div>


      <div class="recent-posts">


      <div class="span4">
        <strong><em><span class="help-block">Some NameCoach Users:</span></em></strong>
        <div class="clearfix"></div>
        <ul class="rps-carousel">
            <!-- Recent posts #1 -->
            <!-- Each carousel should be enclosed inside "li" tag -->
                        <li>
                <div class="rp-item"> 
              
               
                  <div class="rp-details">
                    <!-- Title and para -->
                    <h5>Stanford University</h5>
                    <p>Department of BioEngineering</p>         
                  </div>                
                </div>        
            </li>
            <!-- Recent posts #2 -->
            <li>
                <div class="rp-item"> 
    
                  <div class="rp-details">
                    <h5>Haltom High School</h5>
                    <p>Fort Worth, Texas</p>         
                  </div>                
                </div>        
            </li>
            <!-- Recent posts #3 -->
            <li>
                <div class="rp-item"> 
  
                  <div class="rp-details">
                    <h5> University of Southern California </h5>
                    <p>Leventhal School</p>         
                  </div>                
                </div>        
            </li>
            <!-- Recent posts #4 -->
            <li>
                <div class="rp-item"> 

                  <div class="rp-details">
                    <h5>Iolani High School </h5>
                    <p>Honolulu, Hawaii</p>         
                  </div>                
                </div>        
            </li>
            <!-- Recent posts #5 -->
            <li>
                <div class="rp-item"> 

                  <div class="rp-details">
                    <h5>Stanford Univeristy </h5>
                    <p>Department of Statistics</p>         
                  </div>                
                </div>        
            </li>    
            <!-- Recent posts #6 -->
            <li>
                <div class="rp-item"> 

                  <div class="rp-details">
                    <h5>Santa Teresa High School </h5>
                    <p>San Jose, California</p>         
                  </div>                
                </div>        
            </li> 
            <!-- Recent posts #7 -->
                                                                                                         
        </ul>

          <div class="carousel_nav pull-right">
        
          <!-- Carousel navigation -->
          <a class="prev" id="car_prev" href="#"><i class="icon-chevron-left"></i></a>
          <a class="next" id="car_next" href="#"><i class="icon-chevron-right"></i></a>
        </div>

      </div>


</div>

<!-- Recent Posts ends -->

</div>


<div class="container">
<br/>
<div class="sep"></div>


<div class="row">
  <div class="span9 offset1">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h1 class="light-blue cent"><em>Our Education Services:</em></h1>
 </div>
</div>

<br/>


<div class = "row">
  <div class="span9 offset2">
       <!--SILVER-->
        <div class="fltlft PlanBoxGold">
          <div class="PlanBoxHeading"><strong><center>COMMENCEMENT SERVICE</center></strong></div>
          <i><center>The culmination of their educational career. Get your graduates to record their names now to ensure the moment is perfect for them and their families!</center></i>
          <br/>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$<%= @commencement_plan.annual_cost_cents / 100 %> Annual Subscription</strong></li>
              <li>As many Name Pages as needed for a successful commencement</li>
              <li>Different lists for different announcers, degree programs, etc.</li>
              <li>Unlimited name recordings</li>
              <br/><br/><br/><br/><br/><br/>
              <li>
                <p class="PlanBoxSignUp"><%= form_for(:snc, url: newcustomer_path) do |y| %>
                <%= y.hidden_field :plan, :value => @commencement_plan.my_plan_id %>
                <%= y.hidden_field :event_type, :value => 'commencement' %>
                  <%= y.submit "Start Free Trial!", class: "btn-primary btn-large" %>
                <% end %>  </p>
              </li>
            </ul>
          </div>
        </div>

        <!--Gold-->
        <div class="fltlft PlanBoxGold">
          <div class="PlanBoxHeading"><strong><center>STUDENT NAME DIRECTORY</center></strong></div>
          <i><center>Build a sense of personal uniqueness. Ask your students to record their names to ensure an amazing start of term with correct pronunciations.</center></i>
          <br/>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$<%= @students_plan.annual_cost_cents / 100 %> Annual Subscription</strong></li>
              <li>Create a master list for all students, current and incoming </li> <br/>
              <li>Teachers and staff can use a built-in search bar to look up any student's name with ease</li>
              <li>Unlimited name recordings</li>
              <br/><br/><br/><br/><br/><br/>
              <li>
                <p class="PlanBoxSignUp"><%= form_for(:snc, url: newcustomer_path) do |y| %>
                <%= y.hidden_field :plan, :value => @students_plan.my_plan_id %>
                <%= y.hidden_field :event_type, :value => 'students' %>
                  <%= y.submit "Start Free Trial!", class: "btn-primary btn-large" %>
                <% end %>  </p>
              </li>
            </ul>
          </div>
        </div>
        
        <!--Platinum-->
        <div class="fltlft PlanBoxGold">
          <div class="PlanBoxHeading"><strong><center>STUDENT NAME DIRECTORY + COMMENCEMENT SERVICE + EVERYTHING ELSE!</center></strong></div>
          <i><center> (awards ceremonies, interview day, sports announcing, etc.)</center></i>
          <br/>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$<%= @all_inclusive_plan.annual_cost_cents / 100 %> Annual Subscription</strong></li>
              <li>All Commencement Service and Student Name Directory features</li>
              <li>+ <em>Default commencement pages according to year of graduation</em></li>
              <li>+ <em>Teachers can create Name Pages for their classes, and/or copy entries from the Name Directory, and enter their own pronunciation notes</em></li>
              <li>+ <em>Unlimited Name Pages</em> (for any purpose)</li>
              <li>
                <p class="PlanBoxSignUp"><%= form_for(:snc, url: newcustomer_path) do |y| %>
                <%= y.hidden_field :plan, :value => @all_inclusive_plan.my_plan_id %>
                <%= y.hidden_field :event_type, :value => 'all_inclusive' %>
                  <%= y.submit "Start Free Trial!", class: "btn-primary btn-large" %>
                <% end %>  </p>
              </li>
            </ul>
          </div>
        </div>
  </div>
</div>

<div class = "row">
  <div class="span7 offset2">
    <center><p><h5>If you are interested in our products but have pressing budgetary constraints, please get in touch with us – we may be able to work with you on a case by case basis.</h5></p></center>
  </div>
</div>


<br/>
<div class="sep"></div>

</div>
