<div class="jumbotron">
      <h1><em>Using NameCoach for Student Names Directory</em> </h1>
  </div>
             <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=key%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>

<br/>
<br/>


<div class="sep"></div>
<br/>

<div class="row">
    <div class="span8 offset3">
      <center><h3>"Names are personal and reflect our identity and culture - It is important to get them right." &#8213; <i>Ashley Lauren Samsa</i> </h3></center>
      <hr/>
    </div>
</div>

<center><img src="<%= image_path('spokes1.jpg')%>"></center>


<div class="row">
    <div class="span8 offset3">
      <p><h3>Until now, Teachers: </h3></p>
    </div>
</div>

<div class="row">
    <div class="span7 offset4">
        <p><i class="icon-ban-circle"></i>&nbsp;Have not been able to get all name pronunciations of students correct simply because it was challenging to remember the exact pronunciations for complex names</p>
        <p><i class="icon-ban-circle"></i>&nbsp;Have been limited to coming up with their own ways of managing pronunciations for their students</p>
        <p><i class="icon-ban-circle"></i>&nbsp;Despite best efforts, do not have a truly effective tool to get all the names right</p>
    </div>
</div>

<div class="span9 offset3">
<div class="row biggertext">
    <div class="rp-item span4">
      <br/><br/><br/>
      <img src="<%= image_path('stock-illustration-6099107-shouter.jpg')%>">
    </div>
    <div class="well well-small span3">
      <h4>From a Teacher:</h4>
        <blockquote><em>"How can I pronounce my student’s names correctly? I do not want to disrespect my students and their parents mispronouncing their names. A good student-teacher relationship starts from knowing that a student’s identity starts from his/her name."</em></blockquote>
    </div>


    <div class="well well-small span3">
      <h4>From a Student:</h4>
        <blockquote><em>"I get embarrassed and I feel annoyed and on the spot when teachers mispronounce my name. I do not want to be remembered by my nickname: it is cheeky! My name is echo of my culture and background, reflection of my uniqueness. Lessons start from respect and regard of names."</em></blockquote>
    </div>

  </div>
</div>
<br/>

<div class="row">
  <div class="span8 offset3">
    <p><h4>NameCoach solves that problem with its unique, easy-to-use solution. Click <a href="<%= commencements_path %>" class="cent">here</a> for more information on the graduations ceremony product!</h4><p>
  </div>
</div>



<br/>
<div class="row">
    <div class="span8 offset3">
      <h2>Our Unique Solution:</h2>
    </div>
 </div>

 <div class="row biggertext">
    <div class="span8 offset3">

        
        <div class="content process biggertext">

          <div class="row">
             <div class="span8">
                 <div class="process-meta fl-left">
                   <span>1</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;Share a Link</span>&nbsp;&nbsp;
                  <i class="icon-caret-right"></i>&nbsp;&nbsp;<a href="<%= @url%>" target="_blank"><span class="biggerlink">Please record your name</span></a><br/>
                  &nbsp;&nbsp;&nbsp;<span class="help-block">(or enter emails to request specific names)<span>   
              </div> 
          </div>

          <div class="row">
             <div class="span8">
                 <div class="process-meta fl-left">
                   <span>2</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;Voice-Record Names Online</span>&nbsp;&nbsp;
                 <br/>
                  &nbsp;&nbsp;&nbsp;<span class="help-block">(and can enter phonetic spellings)</span>   
                
              </div> 
          </div>

         <div class="row">
             <div class="span8">
                 <div class="process-meta fl-left">
                   <span>3</span>
                 </div>
               
                  <br/>
                 <span class="ph3">&nbsp;&nbsp;&nbsp;Hear (and Practice) Names on your Event Page</span>&nbsp;&nbsp;
                  <i class="icon-caret-right"></i>&nbsp;&nbsp;<a href="<%= demo_wedding_page_path %>" target="_blank" class="biggerlink">Demo Name Page</a>
              </div> 
          </div>
        </div>
      </div>
    </div>  

    <div class="row">

      <div class="span7 offset3">
         <!-- Testimonial #1 -->
         <div class="test">
            <strong>"Prolonged mispronunciation of names can lead to the development of anxiety and resentment. This may further lead to an interpretation by the person in question that his/her culture is not valued. When a student goes to school and their name is mispronounced or changed, it can negate the thought, care and signiﬁcance of the name, and thus the identity of the student." *</strong> 
         </div>
      </div>

  </div>
  <div class="row">
    <div class="span7 offset3">
      <center><p><h4><em>NameCoach</em> can help you <strong>save time and gain confidence</strong> that you got it right.</h4></p></center>
    </div>
  </div>

  <center><td><img src="<%= image_path('stock-photo-19378179-female-holds-hand-drawn-message-i-am-what-iam.jpg')%>"> </td></center>


<div class="container">
<br/>
<div class="sep"></div>

<br/>
<div class="row">
  <div class="span8 offset2">
    
    <center><h1 class="light-blue cent">Student Names Directory Special Offer</h1></center>
 </div>
</div>

<br/>


<div class = "row">
  <div class="span8 offset2">
       <!--SILVER-->
        <div class="fltlft PlanBoxGold">
          <div class="PlanBoxHeading"><strong><center>COMMENCEMENT</center></strong></div>
          <i><center>The culmination of their educational career. Get your graduates to record their names now to ensure the moment is perfect for them and their families!</center></i>
          <br/>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$<%= @seventh_plan.annual_cost_cents / 100 %> Yearly</strong></li>
              <li>As many event pages as necessary</li>
              <li>Unlimited Name Recordings </li>
              <br/><br/><br/><br/><br/><br/>
              <li>
                <p class="PlanBoxSignUp"><%= form_for(:snc, url: newcustomer_path) do |y| %>
                <%= y.hidden_field :plan, :value => @seventh_plan.my_plan_id %>
                <%= y.hidden_field :event_type, :value => 'commencement' %>
                  <%= y.submit "Purchase Now!", class: "btn-primary btn-large" %>
                <% end %>  </p>
              </li>
            </ul>
          </div>
        </div>

        <!--Gold-->
        <div class="fltlft PlanBoxGold">
          <div class="PlanBoxHeading"><strong><center>STUDENT'S NAMES DIRECTORY</center></strong></div>
          <i><center>Build a sense of personal uniqueness. Ask your students to record their names to ensure to start an amazing term with the correct pronunciation.</center></i>
          <br/>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$<%= @eighth_plan.annual_cost_cents / 100 %> Yearly</strong></li>
              <li>Create a master list of all names </li>
              <li>Use the search bar to look up your students’ name</li>
              <li>Provides easy access to teachers and staff</li>
              <br/><br/>
              <li>
                <p class="PlanBoxSignUp"><%= form_for(:snc, url: newcustomer_path) do |y| %>
                <%= y.hidden_field :plan, :value => @eighth_plan.my_plan_id %>
                <%= y.hidden_field :event_type, :value => 'students' %>
                  <%= y.submit "Purchase Now!", class: "btn-primary btn-large" %>
                <% end %>  </p>
              </li>
            </ul>
          </div>
        </div>
        
        <!--Platinum-->
        <div class="fltlft PlanBoxGold">
          <div class="PlanBoxHeading"><strong><center>STUDENT'S NAMES DIRECTORY + COMMENCEMENT + ANYTHING ELSE!</center></strong></div>
          <i><center>Want both? We can give you even more!</center></i>
          <br/>
          <div class="PlanBoxContent">
            <ul>
              <li><strong>$<%= @ninth_plan.annual_cost_cents / 100 %> Yearly</strong></li>
              <li>Unlimited Name Pages</li>
              <li>Default graduation page according to year of graduation and field of study</li>
              <li>Teachers can create sub-lists for their own classes and also from the master list, and enter their own pronunciation notes. </li>
              <li>
                <p class="PlanBoxSignUp"><%= form_for(:snc, url: newcustomer_path) do |y| %>
                <%= y.hidden_field :plan, :value => @ninth_plan.my_plan_id %>
                <%= y.hidden_field :event_type, :value => 'all_inclusive' %>
                  <%= y.submit "Purchase Now!", class: "btn-primary btn-large" %>
                <% end %>  </p>
              </li>
            </ul>
          </div>
        </div>
  </div>
</div>

<br/>
<div class = "row">
  <div class="span7 offset2">
    <p><h5>If you are interested in our products but have pressing budgetary constraints then please get in touch with us – we may be able to work with you on a case by case basis.</h5></p>
  </div>
</div>

<br/>
<div class="sep"></div>

</div>




<br/>
<div class="row">
  <div class="span8 offset2">
    <h6>* Kohli, R. & Solorzano, D. (2012) Teachers, please learn our names!: Racial Microagressions and the K-12 Classroom. Race, Ethnicity and Education</h6>
  </div>
</div>