<br/>
<br/>
<br/>

<div class="container">

<h3> About NameCoach </h3>
        <div class="text-divider6">
          <span></span>
        </div>

<div class="row-fluid">

<div class="span12">
    <div class="span8 offset2">
    	<br/>
    		NameCoach was founded in 2012, with the mission to solve a problem we are all too familiar with: name mispronunciation in important life settings. Especially with increasing diversity, it has become common to be careless with this fundamental aspect of human communication - our names are an important part of our identity, and a person's name carries special meaning both for that individual and for others. NameCoach provides a simple and effective approach to addressing this problem, allowing individuals to voice-record their names so others can easily hear and know how to say their names correctly.  
    </div>
 </div>
</div>

<br/>

<h3>The Team</h3>
        <div class="text-divider6">
          <span></span>
        </div>

<div class="row-fluid">
  <div class="span12">
    <div class="span8 offset2">
      <div class="row-fluid">
        <div class="span4">
          <img src="<%= image_path('bio_praveens_cr.jpg')%>">
        </div>
        <div class="span8">
          <h4>Praveen R. Shanbhag, <em>Founding Member & CEO</em></h4>Praveen is a PhD candidate in Philosophy at Stanford University, and holds a BA from Harvard University, an MA from Columbia University, and an MPhil from the University of Cambridge, in various fields. Like all philosophically-trained individuals, he likes asking unusual questions, and one was: 'if we all know (as Dale Carnegie says) that the sweetest sound to a person is their name, why are names so often mispronounced even at critical moments in our lives?' With the help of many amazingly-talented people, he founded NameCoach to provide an answer. He also loves new challenges, which at the moment means learning to windsurf (or at least learning to not fall off the board.)
        </div>
      </div>
      <hr/>
      <div class="row-fluid">
        <div class="span4">
          <img src="<%= image_path('bio_praveenb_cr.jpg')%>">
        </div>
        <div class="span8">
          <h4>Praveen A. Bommannavar, <em>Founding Member & Technical Adviser</em></h4>Praveen received his PhD in Operations Research from Stanford. He has also received an MS in Statistics from Stanford in addition to a BS and MS in Electrical Engineering from the University of Illinois at Urbana-Champaign. As one might imagine, Praveen Bommannavar has had his name consistently mispronounced during all of these ceremonies, and in many places besides! Praveen has worked on interesting data mining problems at a number of tech companies including Twitter, LinkedIn and Klout and has been a consultant for @WalmartLabs. He has also been involved in a few other projects he is passionate about, the latest being NameCoach, and is excited to be part of the solution to name mispronunciation!
        </div>
      </div>
      <hr/>
      <div class="row-fluid">
        <div class="span4">
          <img src="<%= image_path('bio_allen_cr.jpg')%>">
        </div>
        <div class="span8">
          <h4>Allen Yancy, <em>Founding Member & General Adviser </em></h4>Allen is from Baltimore, MD. He holds a BA (phi beta kappa) from Harvard University and a law degree from Yale Law School. After graduating from law school, he served as a law clerk on the United States Court of Appeals for the Fifth Circuit. He is currently an attorney in New York City working at a large international law firm. He enjoys technology, Russian literature (which perhaps explains his interest in difficult to pronounce names), and entrepreneurship.
        </div>
      </div>
      <hr/>
      <div class="row-fluid">
        <div class="span4">
          <img src="<%= image_path('bio_arshkit_cr.jpg')%>">
        </div>
        <div class="span8">
          <h4>Arshkit Dullat, <em>Product Management</em></h4>Arshkit is an MBA candidate at the Fuqua School of Business, Duke University, and holds an MS in Telecommunications from University of Maryland, College Park and a BS in Electronics & Communications Engineering from GGS Indraprastha University, New Delhi, India. Arshkit is very particular in correctly pronouncing the names of people he meets because his own name rarely meets that fate. He spent 7 years at BroadSoft in multiple roles and in multiple countries solving problems for a multitude of clients. Arshkit is also passionate about running, trivia and helping non-profits with a focus on economic empowerment and education.
        </div>
      </div>
      <hr/>
      <div class="row-fluid">
        <div class="span4">
          <img src="<%= image_path('bio_cecilia_cr.jpg')%>"> 
        </div>
        <div class="span8">
          <h4>Cecilia Domenighini, <em>Marketing & Customer Relations</em></h4>Cecilia is pursuing BA International Business and Marketing at London Metropolitan University. After an entire year abroad (she spent the Fall semester '12 at San Francisco State, in which she was involved in a student non-profit organization called IEEC, and the Spring semester '13 at University of Cyprus), she uses her multi-cultural power to enter the European Market and infecting all corners of the world with the Silicon Valley service mania. She helps Name-Coach to connect with the right people and keep great relationships with customers. When she is not on duty, you can find her in line in a second-hand shop or listening to music in a bar with friends. 
        </div>
      </div>
      <hr/>
      <div class="row-fluid">
        <div class="span4">
          <img src="<%= image_path('bio_jia_cr.jpg')%>">
        </div>
        <div class="span8">
          <h4>Jia Chin, <em>Web Development & Technical Support</em></h4>Jia is pursuing a BS in Information Systems at Carnegie Mellon University. As new ideas and technologies continue to bloom in the world today, the fusion of her passion for web and applications as well as her interests in interaction and design is put to work as she aims to help NameCoach to thrive in various technological aspects. Her name has occasionally been mispronounced depite its shortness, and thus she believes that everyone deserves a way for their names to be pronounced correctly. Jia's interests also include baking and music, and she enjoys baking while grooving on music.
        </div>
      </div>
      <hr/>
      <div class="row-fluid">
        <div class="span4">
          <img src="<%= image_path('bio_ken_duy_cr.jpg')%>">
        </div>
        <div class="span8">
          <h4>Ken-Duy Nguyen, <em>Marketing & Customer Relations</em></h4>Ken-Duy just finished his studies at Ohlone College and is transferring to UC Davis this fall to obtain his BS in Managerial Economics. In addition to being a full time student, he works part time as a sales associate at Old Navy to provide customers the best customer service possible. Ken-Duy brings his 3+ years of experience interacting with customers to help Name Coach build fine relationships with prospective clients. Having his own name mispronounced constantly, Ken-Duy is thrilled with the opportunity to assist NameCoach solve this common problem of mispronouncing names.
        </div>
      </div>
      <hr/>
      <div class="row-fluid">
        <div class="span4">
          <img src="<%= image_path('bio_sindura_cr.jpg')%>">
        </div>
        <div class="span8">
          <h4>Sindura Ravichandran, <em>Marketing & Customer Relations </em></h4>Sindura is a sophomore at Saint Louis University pursuing an undergraduate degree in Economics. After graduation, she hopes to enter the field of marketing or business development. Her name is very commonly mispronounced and she is extremely excited to be a part of the team that is helping fix this problem! In her free time, Sindura enjoys following politics, running, and spending time with friends and family.
        </div>
      </div>
      <hr/>

    </div>
  </div>
</div>

</div>