<div class="jumbotron">
      <h1> <i class="icon-cogs"></i>&nbsp;&nbsp;<em>How NameCoach Works</em> </h1>
  </div>
             <% flash.each do |key, value| %>
              <div class="alert alert-block alert-<%=key%>"> 
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= value %> 
              </div>
            <% end %>

<br/>
<br/>

<div class="container">

<div class="row">
    <div class="span10 offset1">
      <h3><em>NameCoach</em> customers purchase Event Pages, either by-the-event or through a monthly subscription.  An event's Event Page allows the person publicly announcing names at that event - say, a wedding, bar-mitzvah, or corporate function - to quickly and easily learn to pronounce them. </h3>
    </div>
</div>

<br/>

<div class="row">
    <div class="span5 offset1">
      <h3>The process is simple... </h3>
    </div>
</div>

<hr/><hr/>

<div class="row">
  <br/>
    <div class="span5">
      <h3><i class="icon-edit"></i>&nbsp;Create an Event Page </h3>
      <p>Just enter a name (like 'The Jones-Ravenwood Wedding'), and a date for the event.
      You can also choose an event code, which is one way to invite attendees to record their names.</p>
    </div>
    <div class="span6">
     <%=  image_tag("create_event_3.png", alt: "Create Event") %>
     <h6> screenshots are scaled down </h6>
    </div>
  <br/>
</div>

<hr/><hr/>

<div class="row">
  <br/>
    <div class="span5">
      <h3><i class="icon-envelope"></i>&nbsp;Invite Other Admins&nbsp;<span class="muted">(optional)</span></h3>
      <p>Once you create an Event Page, you automatically become an 'admin' for that event. Admins can invite attendees to record their names, listen to those recordings, and invite others to become admins.  This is useful if, say, you want the brother of the groom to invite the attendees to record their names, and want the DJ to be able to practice the names.</p>

      <p>To invite an admin, you have two options:</p>
        <ol>
          <li> Just enter an email address to send an admin invitation via email.  When they click a link in this email and sign up, they will automatically become an admin for your event.</li> <br/>
          <li> Or, you can give them the admin code generated for you.  They can then visit name-coach.com and use the code to sign up as an admin for your event.</li>
        </ol>
    </div>
    <div class="span6">
     <%=  image_tag("invite_admin_2.png", alt: "admin") %>
     </div>
     <div class="span4 offset1">
      <hr/>
     <%=  image_tag("admin_code_2.png", alt: "admin") %>
    </div>

    <div class="span5 offset1">
      <br/>
      <h6> screenshots are scaled down </h6>
    </div>
  <br/>
</div>

<hr/><hr/>

<div class="row">
  <br/>
    <div class="span5">
      <h3><i class="icon-envelope"></i>&nbsp;Invite Attendees to Record Names for that Event</h3>
      <p>Admins have two options for inviting attendees:</p>
        <ol>
          <li> Just enter an email address to send an invitation via email.  When they click a link in this email, they can immediately record their name for your event.</li> <br/>
          <li> Or, you can give them an event code (if you didn't choose one, we automatically generate one for you).  They can then visit name-coach.com and use the code to record their name for your event.</li>
        </ol>
    </div>
    <div class="span6">
      <%= image_tag("invite_attendee_2.png", alt: "invite") %>
     </div>
     <div class="span4 offset1">
      <hr/>
     <%=  image_tag("event_code_2_2.png", alt: "event code") %>
    </div>
    
    <div class="span5 offset1">
      <br/>
      <h6> screenshots are scaled down </h6>
    </div>
  <br/>
</div>

<hr/><hr/>

<div class="row">
  <br/>
    <div class="span5">
      <h3><i class="icon-volume-up"></i>&nbsp;Attendees Record their Names</h3>
      <p> Whichever method you use, attendees record their names using our online voice-recorder.   They can also enter exactly how they want to be announced (middle names, titles), and notes to help with pronounciation ('last name rhymes with.. ').</p>
    </div>
    <div class="span5 offset1">
      <%= image_tag("record_2_2.png", alt: "invite") %>
      <h6> screenshots are scaled down </h6>
    </div>
  <br/>
</div>

<hr/><hr/>

<div class="row">
  <br/>
    <div class="span5">
      <h3><i class="icon-play-circle"></i>&nbsp;Hear and Practice those Names</h3>
      <p> After an attendee records their name, admins can hear those names on the Event Page and see any attendees' notes. </p>   

      <p>If the person practicing names wants a name re-recorded for any reason, they can click a button to email a request.  Admins can also send one-click reminders to attendees to record their names, and can enter their own helpful notes.</p>
    </div>
    <div class="span5 offset1">
      <%= image_tag("event_page_4_2.png", alt: "event_page") %>
      <h6> screenshots are scaled down </h6>
    </div>
  <br/>
</div>

<hr/><hr/>

</div>
