


 <%= form_for(:c, url: unsubscribe_path, :html => {:class => "form-horizontal"} ) do |f| %>

 	

<% end %>

<div class="row">
<div class="well span4 offset4">
        <h4> <span class="label label-info"> <i class="icon-user icon-white">&nbsp;</i> Subscription Cancellation</span> </h4>
                  <br/> 
             
                <%= simple_form_for(:c, url: unsubscribe_path, :html => {:class => "form-horizontal"} ) do |f| %>

                	<h4> Customer: <%=current_user.first_name%> <%= current_user.last_name %></h4><br/>
                	<h4> Plan: <%= @s.plan_name %></h4><br/>
                	<h4> Trial Period Start: <%= @firstsub.created_at.strftime("%b %d, %Y") %></h4><br/>
                	<h4> Trial Period End: <%= @firstsub_end.strftime("%b %d, %Y") %> <br/>

                	<br/>
                	<br/>
                	<%= f.text_area :explanation, :class => "span3", :placeholder => "We would appreciate your feedback!" %>
                    
                    <%= f.hidden_field :sub_id, :value => @s.id %>
            		<br/>
            		<br/>

					 <%= f.submit "Cancel Subscription", class: "btn btn-danger"  %> 
					 &nbsp; 
						<a href="<%= users_path%>/<%= current_user.id %>" class="btn btn-small">Nevermind </a>
					</div>

                  <% end %>
      </div>
    </div> 