

  <!-- Footer starts -->
<footer>
  <div class="container">
    <div class="row">
      

       

              <div class="span4">
                <div class="widget">
                  <h5>Contact</h5>
                  <hr />
                  <i class="icon-home"></i> &nbsp; Stanford Venture Studios, 641 Knight Way, Stanford, CA 94305
                  <hr />
                  <i class="icon-phone"></i> &nbsp; +1.650-394-6263
                  <hr />
                  <i class="icon-envelope-alt"></i> &nbsp; <a href="mailto:#">info@voicegems.com</a>
              
                  
                </div>
              </div>



                   <div class="span5 offset1">
                   <br/>
                   <br/>
                   <br/>
                   <br/>
                   <br/>
                             <!-- Copyright info -->
                    <p class="copy">Copyright &copy; 2013 | <a href="<%= root_path %>">VoiceGems</a> - <a href="<%= root_path %>">Home</a> | <a href="<%= terms_path %>" target="_blank">Terms and Conditions</a> | <a href="<%= privacy_path %>" target="_blank">Privacy Policy</a> |</p>
               </div>
              
                <div class="span1 offset1">
                   <br/>
                   <br/>
                   <br/>
                   <br/>
                   <br/>
                  <span class=""><%= link_to image_tag("comodo_secure_76x26_transp.png", alt: "SSL"), "https://www.instantssl.com/ssl-certificate-products/what_is_ssl.html?key5sk1=f5605ca01804d4545342013213dc17000a0a1fe9&key5sk2=&key5sk3=1360149592000&key5sk24=&key5sk25=1360149590000&key5sk26=&key5sk27=1360149599000&key6sk1=&key6sk2=FF180&key6sk3=7&key6sk4=en-us&key6sk5=GB&key6sk6=1&key6sk7=https%253A%252F%252Fwww.instantssl.com%252F&key6sk8=115502&key6sk9=1366768&key6sk10=true&key6sk11=a3f277c1b032dca554d0fd21792c9a1cbe070cb9&key7sk1=16615&key1sk1=dt&key1sk2=https%253A%252F%252Fwww.instantssl.com%252F", id: "comodo", :target => "_blank" %></span>
                </div>


    </div>
  <div class="clearfix"></div>
  </div>

<!-- Footer ends -->
