 <header class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
    

         <%= link_to image_tag("combo2r4_2.png", alt: "Rails"), root_path, id: "logo" %>
         <h5 class="logo">&nbsp;&nbsp;&nbsp;hear the name, say it right </h5>
      <nav>
        <ul class="nav pull-right">

          <li><%= link_to "Home", root_path %></li>
          

          <% if !signed_in? %>
                    <li>
          <%= link_to "Plans & Pricing", pricing_path %>
          </li>
          <li>
            <%= link_to "Reset Password", new_password_reset_path %>
          </li>
          <li>
              <%= form_for(:session, url: sessions_path, :html => {:class => "navbar-form pull-right"} ) do |f| %>

              
              <%= f.text_field :email, :class => "span2", :placeholder => "Email" %>

             
              <%= f.password_field :password, :class => "span2", :placeholder => "Password" %>

                  <%= button_tag(type: 'submit', class: "btn btn-primary btn-small") do %>
                   Sign in <i class="icon-chevron-right icon-white"></i> 
                  <% end %>

            <% end %>
       
          </li>

          <% end %>

           <% if signed_in? %>
            <li><%= link_to "Profile", current_user %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
               <ul class="dropdown-menu">
                <li><%= link_to account_user_path(current_user) do %><i class="icon-pencil"></i> Change Password<% end%> </li>
                <li><%= link_to edit_user_path(current_user) do %><i class="icon-pencil"></i> Edit User Name/Email<% end %></li>
                <li class="divider"></li>
                <li><%= link_to existing_user_purchase_path do %><i class="icon-shopping-cart"></i> Buy Event Pages<% end %></li>
                <% if !customer_has_active_subscription? %><li><%= link_to purchase_sub_existing_path do %><i class="icon-shopping-cart"></i> Purchase Subscription<% end %></li> <% end %> 
                <% if customer_has_active_subscription? %><li><%= link_to change_subscription_path do %><i class="icon-tags"></i> Change Subscription<% end %></li>
                <li><%= link_to cancel_path do %><i class="icon-ban-circle"></i> Cancel Subscription<% end %></li><% end %> 
                <li class="divider"></li>
                <li> <%= link_to signout_path, method: "delete" do %><i class="icon-signout"></i> Sign out<% end %></li>
              </ul>
             </li>
           <% end %>

         </ul>
       </nav>
     </div>
   </div>
 </header>


            

