<div class="container">
    <div class="row">

          <div class="span4">  
             <div class="navbar">
         
               <div class="navbar-inner ">

                  <nav>
          
                          <ul class="nav span4">
                                                                                            
                                   
                         </ul>
           
                  </nav>

               </div> <!-- END NAVBAR INNER --> 

             </div>  <!-- END NAVBAR --> 
          </div>

          <div class="span4">
              <div class="logo" id="logo2">
                    <a href="<%= root_path %>"><img src="/assets/VoiceGems-logo-bare2.png" alt="" style="width:350px" /></a>  
               </div>
          </div>

          <div class="span4">  
             <div class="navbar">
         
               <div class="navbar-inner">

                  <nav>
          
                          <ul class="nav span4">
           
                              
                         
                              <li class="pull-down"><a href="<%= faq_path %>" target="_blank">FAQ</a></li>
                              <li class="pull-down"><a href="http://voicegems.tumblr.com/" target="_blank">Blog</a></li>

                              <% if !signed_in? %>     
                                      <li class="pull-down"><%= link_to "Register", newcustomer_purchase_path %></li>   
                                      <li class="pull-down"><%= link_to "Login", login_path %></li>
                                <% end %>

                                <% if signed_in? %>
                                     <% if current_user.customer %>
                                      <li class="pull-down"><%= link_to "Dashboard", current_user %></li>
                                      <% else %>
                                      <li class="pull-down"><%= link_to "Profile", current_user %></li>
                                     <% end %>

                                      <li class="dropdown pull-down">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                                             <ul class="dropdown-menu">
                                                <li><%= link_to account_user_path(current_user) do %><i class="icon-pencil"></i> Change Password<% end%> </li>
                                                <li><%= link_to edit_user_path(current_user) do %><i class="icon-pencil"></i> Edit User Name/Email<% end %></li>
                                                <li class="divider"></li>
                                                <li><%= link_to existing_user_purchase_path do %><i class="icon-shopping-cart"></i> Purchase Event Pages<% end %></li>
                                                
                                                <li class="divider"></li>
                                                <li> <%= link_to signout_path, method: "delete" do %><i class="icon-signout"></i> Sign out<% end %></li>
                                            </ul>
                                       </li>
                                <% end %>


                         </ul>
           
                  </nav>

               </div> <!-- END NAVBAR INNER --> 

             </div>  <!-- END NAVBAR --> 
          </div>
     

     </div>
 </div>