<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="<%= root_path %>" class="navbar-brand"><img src="<%= asset_path "logo_1.png"%>" width="140px" height="42px"></a>
        </div>
        <div class="navbar-collapse collapse bgc pull-right">
          <ul class="nav navbar-nav">
            <li><%= link_to "DJs", djs_path %></li>
            <li><%= link_to "Couples", couples_path %></li>
            <li><a href="http://blog.voicegems.com/" target="_blank">Blog</a></li>
            <li><%= link_to "FAQ", faq_path %></li>
            <% if !signed_in? %>
            <li><%= link_to "Log In", login_path %></li>
            <li><%= link_to "Sign Up",newcustomer_trial_path %></li>
            <% else %>
            <li><%= link_to "Dashboard", current_user %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
              <ul class="dropdown-menu pull-right">
                  <li>
                    <%= link_to account_user_path(current_user) do %><i class="fa fa-pencil"></i> Change Password<% end%>
                  </li>
                  <li>
                    <%= link_to edit_user_path(current_user) do %><i class="fa fa-pencil"></i> Edit User Name/Email<% end %>
                  </li>

                  <li class="divider"></li>
                  <% if current_user.customer == true %>
                  <li>
                    <%= link_to existing_user_purchase_path do %><i class="fa fa-shopping-cart"></i> Purchase Event Pages<% end %>
                  </li>

                  <li class="divider"></li>
                  <li>
                    <%= link_to welcome_path do %><i class="fa fa-leaf"></i> Getting Started<% end %>
                  </li>
                  <% end %>
                  <li>
                    <%= link_to signout_path, method: "delete" do %><i class="fa fa-sign-out"></i> Sign out<% end %>
                  </li>
              </ul>
            </li>
            <% end %>
            
          </ul>
  
        </div><!--/.nav-collapse -->
      </div>
    </div>